@model EntityParticipantsViewModel

@if (Model.Users != null)
{
    <card>
        <card-title>
            <h6 class="card-title float-left">
                @T["Top Participants"]
            </h6>
            @if (Model.Users != null)
            {
                <span class="text-muted float-right">
                    @Model.Users.Total
                    @T["total"]
                </span>
            }
        </card-title>
        <card-body>
            @foreach (var user in Model.Users.Data)
            {
                var replies = user.TotalReplies == 1
                    ? "reply"
                    : "replies";
                <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@user.Id" asp-route-opts.alias="@user.Alias" title="@user.DisplayName - @user.TotalReplies.ToPrettyInt() @T[replies]" data-toggle="tooltip" class="avatar-link my-1">
                    <avatar class="avatar avatar-sm" url="@user.Avatar.Url" />
                </a>
            }
        </card-body>
    </card>
}
