@model TopicViewModel

@if (Model.Replies != null)
{
    var offset = Model.Pager.PageSize * Model.Pager.Page - Model.Pager.PageSize + 1;
    <div data-provide="infiniteScroll"
         data-infinite-scroll-url="@Model.Options.Scroller.Url"
         data-infinite-scroll-offset="@Model.Options.Scroller.SelectedOffset"
         data-infinite-scroll-page="@Model.Pager.Page"
         data-infinite-scroll-total-pages="@Model.Pager.TotalPages"
         data-infinate-scroll-loading-selector=".infinate-scroll-loader">
        <div class="infinate-scroll-loader" data-type="previous"></div>
        @foreach (var reply in Model.Replies.Data)
        {
            reply.Offset = offset++;
            <div data-infinite-scroll-page="@Model.Pager.Page">
                @await DisplayAsync(new View("TopicReplyListItem", new
                {
                    model = new TopicReplyListItemViewModel()
                    {
                        Topic = Model.Topic,
                        Reply = reply,
                        SelectedOffset = Model.Options.Scroller.SelectedOffset
                    }
                }))
            </div>
        }
        <div class="infinate-scroll-loader" data-type="next"></div>
    </div>

    }
    else
    {
    <div class="my-4">
        <card>
            <card-body>
                <i class="fal fa-reply"></i>
                <span class="text-muted ml-2">@T["No resplies have been posted yet. Be the first!"]</span>
            </card-body>
        </card>
    </div>
    }

    @if (Model.Pager.Enabled && !Model.Options.Scroller.Enabled)
    {
        <div class="mt-4">
            <pager model="@Model.Pager"></pager>
        </div>
    }
