@model TopicViewModel

@if (Model.Replies != null)
{
    var offset = Model.Pager.PageSize * Model.Pager.Page - Model.Pager.PageSize + 1;
    <div data-provide="infiniteScroll"
         data-infinite-scroll-url="@Model.Options.InfiniteScrollOptions.CallbackUrl"
         data-infinite-scroll-page="@Model.Pager.Page"
         data-infinite-scroll-total-pages="@Model.Pager.TotalPages"
         data-infinate-scroll-loading-selector="#replyListLoader">
        @foreach (var reply in Model.Replies.Data)
        {
            @await DisplayAsync(new View("TopicReplyListItem", new
            {
                model = new TopicReplyListItemViewModel()
                {
                    Reply = reply,
                    Offset = offset++
                }
            }))
        }
        <div id="replyListLoader" style="display: none;">
            <p class="text-center">
                <i class="fal fa-2x fa-spinner fa-spin py-4"></i>
            </p>
        </div>
    </div>

}
else
{
    <div class="my-4">
        <card>
            <card-body>
                <i class="fal fa-reply"></i>
                <span class="text-muted ml-2">@T["No resplies have been posted yet. Be the first!"]</span>
            </card-body>
        </card>
    </div>
}

@if (Model.Pager.Enabled && !Model.Options.InfiniteScrollOptions.Enabled)
{
    <div class="mt-4">
        <pager model="@Model.Pager"></pager>
    </div>
}
