@model FollowViewModel

<authorize asp-permission="@Model.Permission.Name">
    <authorize-success>
        <card>
            <card-title>
                <h6 class="card-title">@T["Follow"]</h6>
            </card-title>
            <card-body>

                @if (!Model.IsFollowing)
                {
                    <label data-toggle="tooltip" title="@T[Model.FollowType.SubscribeDescription]" for="@Model.FollowHtmlName" class="btn btn-block btn-secondary" data-on-css="btn-danger" data-off-css="btn-secondary" data-subscribe-text="@T[Model.FollowType.SubscribeText]" data-unsubscribe-text="@T[Model.FollowType.UnsubscribeText]" data-subscribe-tooltip="@T[Model.FollowType.SubscribeDescription]" data-unsubscribe-tooltip="@T[Model.FollowType.UnsubscribeDescription]" role="button">
                        <input type="checkbox" data-provide="follow-checkbox" class="hidden" name="@Model.FollowHtmlName" id="@Model.FollowHtmlName"/>
                        <i class="fal fa-bell"></i>
                        <span>
                            @T[Model.FollowType.SubscribeText]
                        </span>
                    </label>
                }
                else
                {
                    <label data-toggle="tooltip" title=" @T[Model.FollowType.UnsubscribeDescription]" for="@Model.FollowHtmlName" class="btn btn-block btn-danger" data-on-css="btn-danger" data-off-css="btn-secondary" data-subscribe-text="@T[Model.FollowType.SubscribeText]" data-unsubscribe-text="@T[Model.FollowType.UnsubscribeText]" data-subscribe-tooltip="@T[Model.FollowType.SubscribeDescription]" data-unsubscribe-tooltip="@T[Model.FollowType.UnsubscribeDescription]" role="button">
                        <input type="checkbox" checked data-provide="follow-checkbox" class="hidden" name="@Model.FollowHtmlName" id="@Model.FollowHtmlName"/>
                        <i class="fa fa-bell"></i>
                        <span>
                            @T[Model.FollowType.UnsubscribeText]
                        </span>
                    </label>
                }
            </card-body>
        </card>
    </authorize-success>
</authorize>







