@model ModeratorsViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Community Team"]</h6>
    </card-title>
    <card-body>
        @if (Model.Moderators != null) {
            foreach (var moderator in Model.Moderators)
            {
                <a class="d-inline-block my-2" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@moderator.Id" asp-route-opts.alias="@moderator.Alias">
                    <avatar data-provide="tooltip" title="@moderator.DisplayName" class="avatar" url="@moderator.Avatar.Url"></avatar>
                </a>
            }
        }
        else
        {
            <span class="text-muted">
                @T["No moderators have been added"]
            </span>
         
        }
    </card-body>
</card>


