@model UserBadgesIndexViewModel

@{
    var badgesList = Model.Badges.ToList();
    var badgesText = badgesList.Count == 1 
        ? "badge" 
        : "badges";
}

<h4>@T["Badges"]</h4>
<div class="text-muted">
    @Model.User.DisplayName @T["has earned"] @badgesList.Count @T[badgesText]
</div>
<hr />