@model UserBadgesIndexViewModel

@if (Model.Badges.Any())
{
    <div class="row text-center">
        @foreach (var badge in Model.Badges.OrderBy(b => b.Level))
        {
            <div class="col-lg-3 col-md-6 col-sm-12  form-group">
                <div class="border border-secondary bg-secondary">
                    <div class="p-3">
                        <div class="d-inline-block">
                            <div class="badge badge-@badge.Level.ToString().ToLower()">
                                <i class="@badge.BackgroundIconCss badge-bg"></i>
                                <i class="@badge.IconCss badge-icon"></i>
                            </div>
                        </div>
                        <br />
                        <div class="d-inline-block">
                            <h6>@badge.Name</h6>
                            <span class="text-muted">
                                @badge.Description
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <span class="text-muted">
        @T["No badges awarded"]
    </span>
}


