@model ProfileDisplayViewModel
@{
    var badgesList = Model.Badges.ToList();
    var badgesText = badgesList.Count == 1
        ? "badge"
        : "badges";
}

<div class="text-center">
    <div class="form-group">
        @Model.User.Reputation.ToPrettyInt() reputation, @badgesList.Count @T[badgesText]
    </div>

    @if (badgesList.Count > 0)
    {
        foreach (var badge in badgesList.OrderByDescending(b => b.AwardedDate).Take(3))
        {
            <div class="d-inline-block" data-toggle="tooltip" title="@badge.Name">
                <div class="medallion medallion-sm medallion-@badge.Level.ToString().ToLower()">
                    <i class="@badge.BackgroundIconCss medallion-bg"></i>
                    <i class="@badge.IconCss medallion-icon"></i>
                </div>
            </div>
        }
    }
    else
    {
        <span class="text-muted">
            @T["No badges awarded"]
        </span>
    }

    <br />
    <a asp-route-area="Plato.Users.Badges" asp-route-controller="Profile" asp-route-action="Index" asp-route-opts.id="@Model.User.Id" asp-route-opts.alias="@Model.User.Alias">
        @T["All Badges"]
    </a>

</div>