@using Plato.Badges.Models
@model UserBadgesIndexViewModel

@{
    var badgesList = Model.Badges.ToList();
    var badgesText = badgesList.Count == 1
        ? "badge"
        : "badges";
}

<div class="text-center">
    <div class="form-group">
        @Model.User.TotalPoints.ToPrettyInt() reputation, @badgesList.Count @T[badgesText]
    </div>

    @if (badgesList.Count > 0)
    {
        foreach (var badge in badgesList.OrderByDescending(b => b.AwardedDate).Take(3))
        {
            <div class="d-inline-block" data-toggle="tooltip" title="@badge.Name">
                <div class="badge badge-sm badge-@badge.Level.ToString().ToLower()">
                    <i class="@badge.BackgroundIconCss badge-bg"></i>
                    <i class="@badge.IconCss badge-icon"></i>
                </div>
            </div>
        }
    }
    else
    {
        <span class="text-muted">
            @T["No badges awarded"]
        </span>
    }


    <br />
    <a asp-route-area="Plato.Users.Badges" asp-route-controller="Home" asp-route-action="Index" asp-route-alias="@Model.User.Alias" asp-route-id="@Model.User.Id">
        @T["All Badges"]
    </a>

</div>