@model Plato.Markdown.ViewComponents.MarkdownViewModel


<div class="row" data-provide="markdown-container">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#editor" data-toggle="tab" role="tab">@T["Write"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#preview" data-toggle="tab" role="tab">@T["Preview"]</a>
        </li>
    </ul>

    <div class="tab-content" id="markdownContent">
        <div class="tab-pane fade show active" id="editor" role="tabpanel">
            <textarea value="@Model.Value"
                  name="@Model.HtmlName"
                  data-provide="markdown"
                  class="form-control md-textarea"
                  placeholder="@Model.PlaceHolderText"
                  rows="6">@if (!String.IsNullOrEmpty(@Model.Value))
                           {
                               @Model.Value
                           }</textarea>
        </div>
        <div class="tab-pane fade" id="preview" role="tabpanel">
            preview
        </div>
    </div>

</div>
