@model MarkdownViewModel

<span asp-validation-for="Value" class="text-danger"></span>

<textarea value="@Model.Value"
        asp-for="Value"
        name="@Model.HtmlName"
        asp-autofocus="@Model.AutoFocus"
        data-provide="markdown"
        tabindex="@Model.TabIndex"
        class="form-control md-textarea"
        placeholder="@Model.PlaceHolderText"
        rows="@Model.Rows">@if (!String.IsNullOrEmpty(Model.Value))
    {
        @Model.Value
    }
</textarea>