@model EntityViewModel<Issue, Comment>

<div class="list-row">
    <navigation name="issue-details"
                model="Model.Entity"
                class="list-left list-inline p-0" />
    <div class="list-body reply-body">
        <card>
            <card-title>
                <h6 class="card-title d-inline-block">@T["Issue"]</h6>
                @if (Model.Entity.IsPrivate)
                {
                    if (Model.Entity.CreatedUserId == base.CurrentUser.Id)
                    {
                        <span class="badge badge-warning" data-toggle="tooltip" title="@T["This issue is private and only visible as you are the issue author"]">@T["Private"]</span>
                    }
                    else
                    {
                        <span class="badge badge-warning" data-toggle="tooltip" title="@T["This issue is private and only visible as you have permission to view private issues"]">@T["Private"]</span>
                    }
                }
                @if (Model.Entity.IsHidden)
                {
                    <span data-toggle="tooltip" title="@T["This issue is hidden and only visible as you have permission to view hidden issues"]" class="badge badge-primary">@T["Hidden"]</span>
                }
                @if (Model.Entity.IsSpam)
                {
                    <span class="badge badge-info" data-toggle="tooltip" title="@T["This issue has been flagged as SPAM and is only visible as you have permission to view issues flagged as SPAM"]">@T["SPAM"]</span>
                }
                @if (Model.Entity.IsDeleted)
                {
                    <span class="badge badge-danger" data-toggle="tooltip" title="@T["This issue has been deleted and is only visible as you have permission to view deleted issues"]">@T["Deleted"]</span>
                }
                <navigation name="issue"
                            model="Model.Entity"
                            class="nav navbar p-0 float-right"
                            child-ul-css-class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" />
            </card-title>
            <card-body class="card-body-flush">
                <div class="markdown-body m-3" data-provide="markdownBody">
                    @Html.Raw(@Model.Entity.Html)
                </div>
                <navigation name="issue-footer"
                            model="Model.Entity"
                            enable-list="false" />
            </card-body>

        </card>
    </div>
</div>