@model FacebookSettingsViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Facebook"]</h6>
    </card-title>
    <card-body>

        <div class="row">
            <div class="col">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="DefaultFrom">
                        <label asp-for="@Model.AppId">
                            <strong>@T["App ID"]</strong>
                            <span asp-validation-for="@Model.AppId" class="text-danger"></span>
                            <br />
                            <span class="text-muted">@T["Your facebook App ID."]</span>
                            <a href="https://developers.facebook.com/docs/apps/" target="_blank">@T["Get your App ID"]</a>
                        </label>
                        <input asp-for="@Model.AppId" class="form-control" autofocus/>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group" asp-validation-class-for="DefaultFrom">
                        <label asp-for="@Model.AppSecret">
                            <strong>@T["App Secret"]</strong>
                            <span asp-validation-for="@Model.AppSecret" class="text-danger"></span>
                            <br/>
                            <span class="text-muted">@T["Your facebook app secret."]</span>
                            <a href="https://developers.facebook.com/apps/">@T["Manage your Facebook apps"]</a>
                        </label>
                        <input asp-for="@Model.AppSecret" class="form-control" autofocus/>
                    </div>
                </fieldset>
            </div>
        </div>

    </card-body>
</card>

<card class="card mt-4">
    <card-footer>
        <button class="btn btn-primary" type="submit">@T["Save"]</button>
    </card-footer>
</card>

