@model SelectChannelsViewModel

<div class="dropdown" data-provide="select-dropdown">

    <a class="list-group-item list-group-item-light list-group-item-action dropdown-toggle dropdown-toggle-no-caret" href="#" id="channelDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fal fa-chevron-down p-1 float-right"></i>
        @T["Channel"]
    </a>
    <div class="dropdown-arrow dropdown-arrow-right"></div>
    <div class="dropdown-menu dropdown-menu-right" style="width: 400px;" aria-labelledby="channelDropdown">
        <div class="dropdown-header">
            <a href="#" class="text-muted float-right" data-toggle="dropdown">
                <i class="fal fa-times"></i>
            </a>
            @T["Select channels..."]
        </div>
        <div class="my-2 mx-3">
            <input type="search" class="form-control" placeholder="@T["Search..."]" />
        </div>
        <div class="dropdown-header hidden empty">
            @T["No channel found"]
        </div>

        @if (Model.SelectedChannels != null)
        {
            <div class="list-group-flush list-group-check-list" style="max-height: 300px; overflow: auto;">
                @foreach (var channel in Model.SelectedChannels)
                {
                    <input name="@Model.HtmlName" type="checkbox" value="@channel.Value.Id" id="channel-@channel.Value.Id" />
                    <label data-value="@channel.Value.Name" class="list-group-item dropdown-item" for="channel-@channel.Value.Id">

                        <i class="fal mr-2 check-icon"></i>

                        @if (!String.IsNullOrWhiteSpace(channel.Value.IconCss))
                        {
                        <span class="channel-icon channel-icon-sm mr-2" style="background-color: @channel.Value.BackColor; color: @channel.Value.ForeColor">
                            <i class="@channel.Value.IconCss"></i>
                        </span>
                        }

                        @channel.Value.Name

                    </label>
                }
            </div>
        }
        else
        {
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @T["No channels available."]
                </li>
            </ul>
        }

    </div>
</div>

<ul class="list-group list-group-check-list-preview">
    <li class="list-group-item text-muted">
        @T["No channels selected!"]
    </li>
</ul>

