@model ReCaptchaSettingsViewModel

<form asp-route-action="Index" method="post" enctype="multipart/form-data">

    <card>
        <card-title>
            <h6 class="card-title">@T["Settings"]</h6>
        </card-title>
        <card-body>

            <div class="row">
                <div class="col">
                    <fieldset>
                        <div class="form-group" asp-validation-class-for="DefaultFrom">
                            <label asp-for="@Model.SiteKey">
                                <strong>@T["Site Key"]</strong>
                                <span asp-validation-for="@Model.SiteKey" class="text-danger"></span>
                                <br />
                                <span class="text-muted">@T["Your public reCAPTCHA2 site key."]</span>
                            </label>
                            <input  placeholder="@T["your public reCAPTCHA2 site key..."]" asp-for="SiteKey" class="form-control" autofocus />
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group" asp-validation-class-for="DefaultFrom">
                            <label asp-for="@Model.Secret">
                                <strong>@T["Secret"]</strong>
                                <span asp-validation-for="@Model.Secret" class="text-danger"></span>
                                <br />
                                <span class="text-muted">@T["Your private reCAPTCHA2 secret."]</span>
                            </label>
                            <div class="search-input-group">
                                <input asp-for="Secret"
                                       type="search" 
                                       class="form-control" 
                                       autocomplete="off"
                                       data-provide="password"
                                       placeholder="@T["your private reCAPTCHA2 secret..."]" />
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="@T["Toggle Visibility"]" role="button">
                                    <i class="fal fa-eye"></i>
                                </button>
                            </div>

                        </div>
                    </fieldset>

                </div>
            </div>

        </card-body>
    </card>

    <card class="card mt-4">
        <card-footer>
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </card-footer>
    </card>

</form>