@model CategoryBase

@if (Model != null)
{
    <div class="list-left">
        @if (!String.IsNullOrWhiteSpace(Model.IconCss))
        {
            <span class="icon-wrapper icon-wrapper-md" style="background-color: @Model.BackColor; color: @Model.ForeColor">
                <i class="@Model.IconCss"></i>
            </span>
        }
        else
        {
            <span class="icon-wrapper icon-wrapper-md">
                <i class="fal fa-folder"></i>
            </span>
        }
    </div>
    <div class="list-body">
        <h4>@Model.Name</h4>
        @if (!String.IsNullOrEmpty(Model.Description))
        {
            <span class="text-muted">
                @Model.Description
            </span>
        }
        else
        {
            <div class="text-muted">
                @T["No description provided"]
            </div>
        }
    </div>
}
else
{
    <h4>@T["Categories"]</h4>
    <span class="text-muted">
        Browse categories.
    </span>
}

<hr/>