@model LabelListItemViewModel<Label>

@if (Model.EnableEdit)
{
    <a asp-route-area="Plato.Questions.Labels" asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@Model.Label.Id" class="list-group-item-action d-block p-3">
        <span class="float-right">
        @if (Model.Label.TotalFollows > 0)
        {
            <span class="btn btn-sm btn-secondary" data-toggle="tooltip" title="@T["Followers"]">
                @Model.Label.TotalFollows.ToPrettyInt()
            </span>
        }
        @if (Model.Label.TotalEntities > 0)
        {
            <span class="btn btn-sm btn-secondary" data-toggle="tooltip" title="@T["Public Questions"]">
                @Model.Label.TotalEntities.ToPrettyInt()
            </span>
        }
        </span>
        <span class="btn btn-sm label font-weight-bold" style="background-color: @Model.Label.BackColor; color: @Model.Label.ForeColor">
            @Model.Label.Name
        </span>
        <span class="d-block mt-2">
            @if (!String.IsNullOrEmpty(@Model.Label.Description))
            {
                @Model.Label.Description
            }
            else
            {
                @T["No description provided."]
            }
        </span>
        <span class="text-muted d-block mt-2 pb-0">
            @if (Model.Label.LastEntityDate != null)
            {
                @T["Last seen: "]
                <date utc="@Model.Label.LastEntityDate"/>
            }
        </span>
    </a>
}
else
{
    <a asp-route-area="Plato.Questions.Labels" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.labelId="@Model.Label.Id" asp-route-opts.alias="@Model.Label.Alias" class="list-group-item-action d-block p-3">
        <span class="float-right">
            @if (Model.Label.TotalFollows > 0)
            {
                <span class="btn btn-sm btn-secondary" data-toggle="tooltip" title="@T["Followers"]">
                    @Model.Label.TotalFollows.ToPrettyInt()
                </span>
            }
            @if (Model.Label.TotalEntities > 0)
            {
                <span class="btn btn-sm btn-secondary" data-toggle="tooltip" title="@T["Public Questions"]">
                    @Model.Label.TotalEntities.ToPrettyInt()
                </span>
            }
        </span>
        <span class="btn btn-sm label font-weight-bold" style="background-color: @Model.Label.BackColor; color: @Model.Label.ForeColor">
            @Model.Label.Name
        </span>
        <span class="d-block mt-2">
            @if (!String.IsNullOrEmpty(@Model.Label.Description))
            {
                @Model.Label.Description
            }
            else
            {
                @T["No description provided."]
            }
        </span>
        <span class="text-muted d-block mt-2 pb-0">
            @if (Model.Label.LastEntityDate != null)
            {
                @T["Last seen: "]
                <date utc="@Model.Label.LastEntityDate"/>
            }
        </span>
    </a>
}
