@model ThemingIndexViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">Themes</h6>
    </card-title>
    <card-body>
        
        @if (Model.Themes.Any())
        {
            <ul class="list-group list-group-flush list-group-hover">
                @foreach (var theme in Model.Themes)
                {
                 
                <li class="list-group-item list-group-item-action">

                    <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@theme.Id" class="btn btn-secondary float-right">
                        <i class="fal fa-pencil"></i>
                        @T["Edit"]
                    </a>

                    <h6 class="d-inline-block">
                        <i class="fal fa-folder mr-2"></i>
                        <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@theme.Id" class="font-weight-bold">
                            @theme.Name
                        </a>
                    </h6>

                </li>

                }
            </ul>
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    @T["No themes found"]
                </li>
            </ul>
        }
        
    </card-body>
</card>


