@model ThemingIndexViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">Themes</h6>
    </card-title>
    <card-body>
        
        @if (Model.Themes.Any())
        {
            <ul class="list-group list-group-flush list-group-hover">
                @foreach (var theme in Model.Themes)
                {

                    var dropdownId = "editTheme" + theme.Id;


                    <li class="list-group-item list-group-item-action">

                        <div class="dropdown float-right">
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="@dropdownId" role="button" data-toggle="dropdown" aria-haspopup="true" data-display="static" aria-expanded="false">
                                @T["Edit"]
                            </a>
                            <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="@dropdownId">
                                <a asp-route-area="Plato.Theming" asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@theme.Id" class="dropdown-item">
                                    @T["Edit Theme"]
                                </a>
                                <div class="dropdown-divider"></div>
                                <button type="submit" asp-controller="Admin" asp-route-action="Delete" asp-route-id="@theme.Id" data-provide="confirm" class="dropdown-item dropdown-item-danger">
                                    @T["Delete Theme"]
                                </button>
                            </div>
                        </div>


                        <h6 class="d-inline-block">
                            <i class="fal fa-folder mr-2"></i>
                            <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@theme.Id" class="font-weight-bold">
                                @theme.Name
                            </a>
                        </h6>

                    </li>
                }
            </ul>
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    @T["No themes found"]
                </li>
            </ul>
        }
        
    </card-body>
</card>


