@model EditThemeViewModel

<input type="hidden" asp-for="ThemeId" />
<input type="hidden" asp-for="Path" />

<card class="card card-body-flush">
    <card-title>
        
        @if (Model.File?.Parent != null)
        {
            <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@Model.ThemeId" asp-route-path="@Model.File?.Parent.RelativePath" class="btn btn-sm btn-secondary mr-2" data-provide="tooltip" title="@T["Parent Directory"]">
                <i class="fal fa-level-up fa-flip-horizontal"></i>
            </a>
        }
        else
        {
            <a asp-route-controller="Admin" asp-route-action="Index" class="btn btn-sm btn-secondary mr-2" data-provide="tooltip" title="@T["Parent Directory"]">
                <i class="fal fa-level-up fa-flip-horizontal"></i>
            </a>
        }

        <h6 class="card-title d-inline-block">
            @if (Model.File != null)
            {
                @Model.File.Name
            }
            else
            {
                if (Model.ThemeId != null)
                {
                    @Model.ThemeId
                }
                else
                {
                    @T["Edit Theme"]
                }

            }
        </h6>
    </card-title>
    <card-body>
        
        <ul class="list-group list-group-flush list-group-hover">

        

            @if (Model.Files.Any())
            {
                foreach (var file in Model.Files)
                {
                    <li class="list-group-item list-group-item-action">
                        @if (file.IsDirectory)
                        {
                            <i class="fal fa-folder mr-2" data-provide="tooltip" title="@T["Folder"]"></i>
                        }
                        else
                        {
                            <i class="fal fa-file mr-2" data-provide="tooltip" title="@T["File"]"></i>
                        }
                        <h6 class="d-inline-block">
                            <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@Model.ThemeId" asp-route-path="@file.RelativePath" class="font-weight-bold">
                                @file.Name
                            </a>
                        </h6>
                        @if (file.Children.Count == 1)
                        {
                            <span class="text-muted">
                                / @file.Children[0].Name
                            </span>
                        }
                    </li>
                }

            }
            else
            {
                @if (Model.File != null)
                {
                    if (Model.File.IsDirectory)
                    {
                        <li class="list-group-item">
                            @T["No files found"]
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item">
                            <textarea asp-for="FileContents" class="form-control" style="height: 300px;">@Model.FileContents</textarea>
                        </li>
                        <li class="list-group-item">
                            <button type="submit" class="btn btn-primary" data-role="button">
                                @T["Save File"]
                            </button>
                            
                            
                            @if (Model.File?.Parent != null)
                            {
                                <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@Model.ThemeId" asp-route-path="@Model.File?.Parent.RelativePath" class="btn btn-sm btn-secondary">
                                    @T["Cancel"]
                                </a>
                            }
                            else
                            {
                                <a asp-route-controller="Admin" asp-route-action="Index" class="btn btn-sm btn-secondary">
                                    @T["Cancel"]
                                </a>
                            }


                        </li>
                    }
               

                }
                 else
                 {
                     <li class="list-group-item">
                         @T["No files found"]
                     </li>
                 }
            }
        </ul>

    </card-body>
</card>


