@model EditCategoryViewModel

<input type="hidden" asp-for="IconPrefix" />

<card>
    <card-title>
        @if (Model.IsNewCategory)
        {
        <h6 class="card-title">@T["Add Category"]</h6>
        }
        else
        {
        <h6 class="card-title">@T["Edit Category"]</h6>
        }
    </card-title>
    <card-body>


        <div class="row">
            <div class="col-6">
                <div class="form-group" asp-validation-class-for="Name">
                    <label asp-for="Name"><strong>@T["Name"]</strong></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div class="input-group">
                        <input placeholder="@T["name your category"]" asp-for="Name" class="form-control" autofocus />
                    </div>
                </div>
            </div>
            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">

                        <label asp-for="Name"><strong>@T["Icon"]</strong></label>
                        <br />
                        <button type="button" href="#selectIconModal" data-provide="icon-wrapper-modal" data-icon-prefix="@Model.ChannelIcons.Prefix" data-toggle="modal" data-target="#selectIconModal" class="btn btn-secondary" role="button">
                            @if (String.IsNullOrEmpty(Model.IconCss))
                            {
                                <i class="fal fa-plus"></i>
                            }
                            else
                            {
                                <i class="@Model.IconCss"></i>
                            }
                        </button>

                    </div>
                </fieldset>
            </div>
            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">

                        <label asp-for="Name"><strong>@T["Background"]</strong></label>
                        <div class="input-group">

                            <div asp-color-picker="BackColor" class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" title="@T["Background Color"]" style="cursor: pointer;">
                                    <i class="fa fa-square" style="color: @Model.BackColor"></i>
                                </div>
                                <input type="text" asp-for="BackColor" class="form-control" style="width: 95px;" />
                            </div>

                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">

                        <label asp-for="Name"><strong>@T["Colors"]</strong></label>
                        <div class="input-group">

                            <div asp-color-picker="ForeColor" class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" title="@T["Text Color"]" style="cursor: pointer;">
                                    <i class="fa fa-square" style="color: @Model.ForeColor"></i>
                                </div>
                                <input type="text" asp-for="ForeColor" class="form-control" style="width: 95px;" />
                            </div>

                        </div>

                    </div>
                </fieldset>
            </div>
        </div>

        <fieldset>

            <div class="form-group" asp-validation-class-for="Description">
                <label asp-for="Name"><strong>@T["Description"]</strong></label>
                <span asp-validation-for="Description" class="text-danger"></span>
                <textarea placeholder="@T["optional category description"]" asp-for="Description" rows="2" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <div asp-validation-class-for="ParentId">
                    <label asp-for="ParentId"><strong>@T["Parent Category"]</strong></label>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                    <div class="input-group">
                        <select class="form-control"
                                asp-for="ParentId"
                                asp-items="@Model.AvailableChannels"></select>
                    </div>
                </div>
            </div>
        </fieldset>

    </card-body>
</card>

<div class="modal fade" id="selectIconModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">@T["Icons"]</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body max-h-500 overflow-auto">

                <div class="form-group">
                    <input type="search"
                           data-provide="filter-list"
                           data-filter-list-target="#iconList"
                           data-filter-list-empty="#iconListEmpty"
                           class="form-control" placeholder="@T["Search icons"]" />
                </div>
                <div id="iconList" class="list-group list-group-flush flex-row flex-wrap">
                    @foreach (var icon in Model.ChannelIcons.Icons)
                    {
                        var css = Model.IconPrefix + icon;
                        var selected = Model.IconCss == css;
                        <label class="radio-icon d-flex list-group-item border-0" id="@icon" data-filter-list-value="@icon">
                            <input checked="@selected" type="radio" value="@icon" name="iconCss" id="@icon" />
                            <span><i class="@css"></i></span>
                        </label>
                    }
                </div>
                <div id="iconListEmpty" style="display: none;">
                    @T["No icons matched your search!"]
                </div>
            </div>
            <div class="modal-footer">
                <button tyoe="button" class="btn btn-primary" data-dismiss="modal">
                    @T["Use Selected Icon"]
                </button>
            </div>
        </div>
    </div>
</div>

