@using Microsoft.Extensions.Logging.Abstractions
@model EntityViewModel<Doc, DocComment>
@{
    var wordsPerMinute = 200;
    var totalWords = Model.Entity.TotalWords;
    var readingTime = totalWords / wordsPerMinute;
    var minuteText = readingTime == 1
        ? "minute"
        : "minutes";
    var readText = T["About {0} to read"].Value;
}

<div class="list-row">
    <navigation name="doc-details"
                model="Model.Entity"
                class="list-left list-inline p-0" />
    <div class="list-body reply-body">
        <card>
            <card-title>
                <ul class="list-inline float-left p-0 m-0">
                    <li class="list-inline-item">
                        <span class="d-inline-block text-muted">
                            @if (readingTime >= 1)
                            {
                                @readText.Replace("{0}", $"{readingTime} {minuteText}")
                            }
                            else
                            {
                                @T["Less then 1 minute to read"]
                            }
                        </span>
                    </li>
                    @if (Model.Entity.IsPrivate && base.CurrentUser != null)
                    {
                        if (Model.Entity.CreatedUserId == base.CurrentUser.Id)
                        {
                            <li class="list-inline-item">
                                <span class="badge badge-warning" data-toggle="tooltip" title="@T["This doc is private and only visible as you are the doc author"]">@T["Private"]</span>
                            </li>
                        }
                        else
                        {
                            <li class="list-inline-item">
                                <span class="badge badge-warning" data-toggle="tooltip" title="@T["This doc is private and only visible as you have permission to view private docs"]">@T["Private"]</span>
                            </li>
                        }
                    }
                    @if (Model.Entity.IsHidden)
                    {
                        <li class="list-inline-item">
                            <span data-toggle="tooltip" title="@T["This doc is hidden and only visible as you have permission to view hidden docs"]" class="badge badge-primary">@T["Hidden"]</span>
                        </li>
                    }
                    @if (Model.Entity.IsSpam)
                    {
                        <li class="list-inline-item">
                            <span class="badge badge-info" data-toggle="tooltip" title="@T["This doc has been flagged as SPAM and is only visible as you have permission to view docs flagged as SPAM"]">@T["SPAM"]</span>
                        </li>
                    }
                    @if (Model.Entity.IsDeleted)
                    {
                        <li class="list-inline-item">
                            <span class="badge badge-danger" data-toggle="tooltip" title="@T["This doc has been deleted and is only visible as you have permission to view deleted docs"]">@T["Deleted"]</span>
                        </li>
                    }
                </ul>
                <navigation name="doc"
                            model="Model.Entity"
                            class="nav navbar p-0 float-right"
                            child-ul-css-class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" 
                            child-ul-inner-css-class="min-w-200 max-h-250 overflow-auto" />
            </card-title>
            <card-body class="card-body-flush">
                <div class="markdown-body p-3" data-provide="markdownBody">
                    @Html.Raw(@Model.Entity.Html)
                </div>
                
                @if (Model.Entity.PreviousDoc != null || Model.Entity.NextDoc != null)
                {
                    var css = Model.Entity.PreviousDoc != null && Model.Entity.NextDoc != null ? "col-6" : "col-12";
                    <div class="row p-3">
                
                        @if (Model.Entity.PreviousDoc != null)
                        {
                            <div class="@css">
                                <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Entity.PreviousDoc.Id" asp-route-opts.alias="@Model.Entity.PreviousDoc.Alias" class="btn btn-block btn-outline-secondary text-right">
                                    <i class="fal fa-arrow-left float-left mt-3"></i>
                                    <span class="small text-muted">
                                        @T["Previous"]
                                    </span><br/>
                                    @Model.Entity.PreviousDoc.Title
                                </a>
                            </div>
                        }
                        @if (Model.Entity.NextDoc != null)
                        {
                            <div class="@css">
                                <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Entity.NextDoc.Id" asp-route-opts.alias="@Model.Entity.NextDoc.Alias" class="btn btn-block btn-outline-secondary text-left">
                                    <i class="fal fa-arrow-right float-right mt-3"></i>
                                    <span class="small text-muted">
                                        @T["Next"]
                                    </span><br/>
                                    @Model.Entity.NextDoc.Title

                                </a>
                            </div>
                        }
                    
                    </div>
                }
         

                <navigation name="doc-footer"
                            model="Model.Entity"
                            enable-list="false" />
            </card-body>

        </card>
    </div>
</div>