@model Badge

<div class="list-group-item list-group-item-action border-0 col-lg-4 col-md-6 col-sm-12 p-0">
    <div class="p-3">
        <span class="float-right">
            <span class="btn btn-sm btn-secondary" data-toggle="tooltip" title="@T["Bonus Points"]">
                @Model.BonusPoints.ToPrettyInt()
            </span>
        </span>
        <div class="d-inline-block">
            <div class="badge badge-@Model.Level.ToString().ToLower()">
                <i class="@Model.BackgroundIconCss badge-bg"></i>
                <i class="@Model.IconCss badge-icon"></i>
            </div>
        </div>
        <br />
        <div class="d-inline-block">
            <h6>@Model.Name</h6>
            <span class="text-muted">
                @Model.Description
            </span>
        </div>
    </div>

</div>

