@model Article
@{
    var details = Model.GetOrCreate<ArticleDetails>();
    var replies = Model.TotalReplies == 1
        ? "comment"
        : "comments";
    var viewText = Model.TotalViews == 1
        ? "view"
        : "views";
}

<h4>
    <span title=" @Model.Title">
        @Model.Title.TrimToAround(75)
    </span>
    @if (Model.IsPinned)
    {
        <span title="@T["This article is pinned and is probably important"]" data-toggle="tooltip" class="d-inline-block mx-1">
            <i class="fal fa-thumbtack"></i>
        </span>
    }
    @if (Model.IsLocked)
    {
        <span title="@T["This article is locked and is not accepting new comments"]" data-toggle="tooltip" class="d-inline-block mx-1">
            <i class="fal fa-lock"></i>
        </span>
    }
</h4>

<ul class="list-inline text-muted p-0 m-0">
    @if (Model.ModifiedDate != null)
    {
        <li class="list-inline-item">
            <date utc="@Model.ModifiedDate" />
        </li>
    }
    else
    {
        <li class="list-inline-item">
            <date utc="@Model.CreatedDate" />
        </li>
    }
    @if (details?.TotalContributions > 0)
    {
        <li class="list-inline-item">
            <div class="avatar-group">
                @foreach (var user in details.Contributors)
                {
                    var text = user.ContributionCount == 1
                        ? T["contribution"].Value
                        : T["contributions"].Value;
                    var contributionTitle = $"{user.ContributionCount} {text}";
                    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@user.Id" asp-route-opts.alias="@user.Alias"><avatar data-toggle="tooltip" title="@user.DisplayName - @contributionTitle" class="avatar avatar-sm" url="@user.Avatar.Url" /></a>
                }
            </div>
        </li>
    }
    <li class="list-inline-item">
        @Model.TotalViews @T[viewText]
    </li>
    <li class="list-inline-item">
        @Model.TotalReplies.ToPrettyInt() @T[replies]
    </li>
</ul>

<hr />


