@model TopicIndexViewModel

<a asp-controller="Home" asp-action="Create" class="btn btn-primary" title="Reply">
    <i class="fal fa-fw fa-plus"></i>
    @T["New Post"]
</a>

    @*<a href="#modal-new" class="btn btn-primary" data-toggle="modal" data-target="#modal-new" title="Reply">
            <i class="fal fa-fw fa-plus"></i>
            @T["New Topic"]
        </a>

        <div class="modal fade" id="modal-new" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-right modal-3x bg-light p-2 border-left" role="document">

                <div class="modal-content">
                    <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">

                        <input asp-for="EntityId" type="hidden" />

                        <card>
                            <card-title>
                                @T["Start a new topic..."]
                            </card-title>
                            <card-body>

                                <fieldset>
                                    <div class="form-group">

                                        <span asp-validation-for="Title" class="text-danger"></span>
                                        <input asp-for="Title" placeholder="@T["Title"]" class="form-control" autofocus/>

                                    </div>
                                    <div class="form-group">

                                        @await DisplayAsync(new View("Editor", new
                                        {
                                            value = string.Empty,
                                            placeHolderText = T["Add your comments here"],
                                            htmlName = @Model.EditorHtmlName
                                        }))


                                        <textarea asp-for="Message" class="form-control md-textarea" placeholder="@T["Post your comments here..."]" rows="12"></textarea>


                                    </div>
                                    <div class="form-group mt-4">
                                        <button type="submit" class="btn btn-primary">
                                            @T["Post"]
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            @T["Cancel"]
                                        </button>
                                    </div>
                                </fieldset>
                            </card-body>
                        </card>

                    </form>
                </div>

            </div>

        </div>

    *@
