@using Plato.Features.ViewModels
@model ReportIndexViewModel<Metric>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">

        @await DisplayAsync(new View("ViewsByDateChart", new
        {
            options = @Model.Options
        }))
    
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">


        @await DisplayAsync(new View("ViewsByFeatureChart", new
        {
            options = @Model.Options
        }))

    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">

        @await DisplayAsync(new View("NewUsersByDateChart", new
        {
            options = @Model.Options
        }))

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">

        @await DisplayAsync(new View("UserRepByDateChart", new
        {
            options = @Model.Options
        }))

    </div>
</div>


   
<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Enhance Plato.Reports"]</h6>
        <div class="text-muted">@T["Additional features available to enhance reporting."]</div>
    </card-title>
    <card-body>

        @await DisplayAsync(new View("SimpleFeatureList", new
        {
            options = new FeatureIndexOptions()
            {
                Category = "Reports",
                HideEnabled = true
            }
        }))

    </card-body>
</card>
