@model Moderator

<div class="dropdown float-right">
    <a class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
        @T["Edit"]
    </a>
    <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="navbarDropdown">
        <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@Model.Id" class="dropdown-item">
            @T["Edit Moderator"]
        </a>
        <div class="dropdown-divider"></div>
        <button type="submit" asp-controller="Admin" asp-route-action="Delete" asp-route-id="@Model.Id.ToString()" data-provide="confirm" class="dropdown-item dropdown-item-danger">
            @T["Delete Channel"]
        </button>
    </div>
</div>

<h6>
    <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@Model.Id">
        @Model.CategoryName
    </a>
</h6>


