@model CategoryBase
@{
    var postPermission = Plato.Docs.Permissions.PostDocs;
}

<authorize asp-permission="@postPermission.Name">
    <authorize-success>
        @if (Model != null)
        {
            <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Create" asp-route-categoryId="@Model.Id" class="btn btn-primary ml-2" title="@T["New Doc"]">
                <i class="fal fa-fw fa-plus"></i>
                @T["New Doc"]
            </a>
        }
        else
        {
            <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Create" class="btn btn-primary ml-2" title="@T["New Doc"]">
                <i class="fal fa-fw fa-plus"></i>
                @T["New Doc"]
            </a>
        }
    </authorize-success>
</authorize>


