@model TagsViewModel<Tag>

<card>
    <card-title>
        <a data-toggle="tooltip" title="@T["All Tags"]" asp-route-area="Plato.Articles.Tags" asp-route-controller="Home" asp-route-action="Index" class="float-right text-muted">
            <i class="fal fa-ellipsis-h fa-2x"></i>
        </a>
        <h6 class="card-title">@T["Top Tags"]</h6>
    </card-title>
    <card-body>
        
        @if (Model.Tags != null)
        {
            foreach (var tag in Model.Tags)
            {
                var css = Model.SelectedTagId == tag.Id
                    ? "btn btn-sm label active"
                    : "btn btn-sm label";
                <div class="btn-group my-1">
                    <a asp-route-area="Plato.Articles.Tags" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.tagId="@tag.Id" asp-route-opts.alias="@tag.Alias" class="@css">
                        @tag.Name
                    </a>
                </div>
            }
        }
        else
        {
            @T["No tags have been added yet."]
        }

    </card-body>
</card>


