@model TagListViewModel

<h6>@T["Tags"]</h6>

@if (Model.Tags != null)
{
    foreach (var tag in Model.Tags)
    {
        <a asp-route-area="Plato.Discuss.Tags" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@tag.Id" asp-route-alias="@tag.Alias" class="btn btn-primary my-1">
            @tag.Name
        </a>
    }
}
else
{
    @T["No tags"]
}
