@model Plato.Discuss.History.ViewModels.HistoryIndexViewModel
@{
    Layout = null;
    ViewData["Title"] = "History";
}

@if (!String.IsNullOrEmpty(Model.Html))
{
    <div class="modal-header">
        <h6 class="modal-title">
        
            @if (Model.History.CreatedBy != null)
            {
                <avatar title="@Model.History.CreatedBy.DisplayName" class="avatar avatar-sm" url="@Model.History.CreatedBy.Avatar.Url"></avatar>
                @Model.History.CreatedBy.DisplayName
            }
            @T["edited"]
            <span data-toggle="tooltip" title="@Model.History.CreatedDate">
                <date utc="@Model.History.CreatedDate"></date>
            </span>

        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fal fa-times"></i>
            </span>
        </button>
    </div>
    <div class="modal-body" style="max-height: 550px; overflow: auto;">
        <div class="markdown-body">
            @Html.Raw(Model.Html)
        </div>
    </div>

}
