@model EditUserViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Api Key"]</h6>
    </card-title>
    <card-body>
        <div class="form-group">
            <label asp-for="ApiKey">
                <span class="text-muted">@T["Used to identify the user for any remote api requests"]</span>
            </label>
            
            <div class="search-input-group">
                <input asp-for="ApiKey" class="form-control" data-provide="password" />
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="@T["Toggle Visibility"]" role="button">
                    <i class="fal fa-eye"></i>
                </button>
            </div>
            
            <authorize asp-permission="@Plato.WebApi.Permissions.ResetWebApiKeys.Name">
                <authorize-success>
                    <br />
                    <a asp-route-area="Plato.WebApi" asp-route-controller="Admin" asp-route-action="ResetUserApiKey" asp-route-id="@Model.Id" class="float-right">
                        <i class="fal fa-key mr-2"></i>@T["Reset API Key"]
                    </a>
                </authorize-success>
            </authorize>
        </div>
    </card-body>
</card>


