@model EntityListItemViewModel<Idea>
@{
    var details = Model.Entity.GetOrCreate<IdeaDetails>();
    var voteText = Model.Entity.TotalRatings == 1 ? T["vote"] : T["votes"];
    var answersText = Model.Entity.TotalReplies == 1 ? T["answer"] : T["answers"];
    string voteCss = "votes", answerCss = "answers", ratingCss = "rating";

    if (Model.Entity.TotalReplies > 0)
    {
        answerCss =  "answers replies";
    }
    if (Model.Entity.TotalAnswers > 0)
    {
        answerCss =  "answers accepted";
    }
    if (Model.Entity.SummedRating > 0)
    {
        ratingCss = "rating positive";
    }
    if (Model.Entity.SummedRating < 0)
    {
        ratingCss = "rating negative";
    }

}

<div class="list-left counter-group">
    <div class="counter @voteCss">
        <h6>@Model.Entity.TotalRatings.ToPrettyInt()</h6> @voteText.Value
    </div>
    <div class="counter @answerCss">
        <h6>@Model.Entity.TotalReplies.ToPrettyInt()</h6> @answersText.Value
    </div>
    <div class="counter @ratingCss">
        <h6>@Model.Entity.SummedRating.ToPrettyInt()</h6> @T["rating"]
    </div>
</div>
<div class="list-body">
    
    <div class="float-right">
            
        @if (details?.LatestUsers != null)
        {
            <div class="col-12">
                <div class="avatar-group  float-right">
                    @foreach (var user in details.LatestUsers)
                    {
                        var replies = user.TotalReplies == 1
                            ? "reply"
                            : "replies";
                        <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@user.Id" asp-route-opts.alias="@user.Alias">
                            <avatar data-toggle="tooltip" title="@user.DisplayName - @user.TotalReplies.ToPrettyInt() @T[replies]" class="avatar avatar-sm" url="@user.Avatar.Url"/>
                        </a>
                    }
                </div>
            </div>
            <div class="col-12">
                <div class="float-right">
                    <span class="text-muted">@T["last answer"]</span> 
                    <a asp-route-area="Plato.Ideas" asp-route-controller="Home" asp-route-action="Reply" asp-route-opts.id="@Model.Entity.Id" asp-route-opts.alias="@Model.Entity.Alias" asp-route-opts.replyId="@Model.Entity.LastReplyId">
                        <date utc="@Model.Entity.LastReplyDate"></date>
                    </a>
                </div>
            </div>
        }
    </div>

    <a asp-route-area="Plato.Ideas" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Entity.Id" asp-route-opts.alias="@Model.Entity.Alias" class="font-weight-bold">@Model.Entity.Title</a>
    @if (Model.Entity.IsPinned)
    {
        <span title="@T["This article is pinned and is probably important"]" data-toggle="tooltip" class="d-inline-block mx-1">
            <i class="fal fa-thumbtack"></i>
        </span>
    }
    @if (Model.Entity.IsLocked)
    {
        <span title="@T["This question is locked and is not accepting new answers"]" data-toggle="tooltip" class="d-inline-block mx-1">
            <i class="fal fa-lock"></i>
        </span>
    }
    @if (Model.Labels != null)
    {
        <span class="pl-2">
            @foreach (var label in Model.Labels)
            {
                <a asp-route-area="Plato.Ideas.Labels" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.labelId="@label.Id" asp-route-opts.alias="@label.Alias" title="@label.Description" class="btn btn-sm label font-weight-bold" style="background-color: @label.BackColor; color: @label.ForeColor">
                    @label.Name
                </a>
            }
        </span>
    }
  
        
    <br/>

    @T["Asked by"]
    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Entity.CreatedUserId" asp-route-opts.alias="@Model.Entity.CreatedBy.Alias">@Model.Entity.CreatedBy.DisplayName</a>,
    <date utc="@Model.Entity.CreatedDate" itemprop="createdDate" data-toggle="tooltip" />
    @if (@Model.Channel != null)
    {
        <span>@T["in"]</span>
        <a asp-route-area="Plato.Ideas.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-opts.categoryId="@Model.Channel.Id" asp-route-opts.alias="@Model.Channel.Alias">
            @Model.Channel.Name
        </a>
    }
    @if (Model.Entity.IsPrivate)
    {
        <span class="badge badge-primary" data-toggle="tooltip" title="@T["This question is private and only visible to you as you have permission to view private questions"]">@T["Private"]</span>
    }
    @if (Model.Entity.IsSpam)
    {
        <span class="badge badge-info" data-toggle="tooltip" title="@T["This question has been flagged as SPAM and is only visible to you as you have permission to view questions flagged as SPAM"]">@T["SPAM"]</span>
    }
    @if (Model.Entity.IsDeleted)
    {
        <span class="badge badge-danger" data-toggle="tooltip" title="@T["This question has been deleted and is only visible to you as you have permission to view deleted questions"]">@T["Deleted"]</span>
    }
  



</div>
