@model LabelDropDownViewModel
@{
    var maxLabels = 4;
    var selectText = T["Select up to {0} labels for this post..."].Value.Replace("{0}", maxLabels.ToString());
}
<input type="hidden" id="@Model.HtmlName" name="@Model.HtmlName" asp-for="LabelsJson" />

<div class="card" data-provide="label-dropdown" data-max-items="@maxLabels" data-select-dropdown-store="#@Model.HtmlName">
    <div class="dropdown list-group-flush">
        <a class="list-group-item list-group-item-action dropdown-toggle dropdown-toggle-no-caret font-weight-bold" href="#" id="channelDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="fal fa-cog float-right"></i>
            @T["Labels"]
        </a>
        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in p-0" style="width: 450px;" aria-labelledby="channelDropdown">
            <div class="dropdown-header my-2">
                <a href="#" class="text-muted float-right" data-toggle="dropdown">
                    <i class="fal fa-times"></i>
                </a>
                @selectText
            </div>
            <div class="my-2 mx-3">
                <input type="search"
                       autocomplete="off"
                       class="form-control"
                       data-autocomplete-target="#labelAutoCompleteResults"
                       data-autocomplete-url="api/labels/get?pager.page={page}&pager.size={pageSize}&opts.search={keywords}&opts.featureId=@Model.Options.FeatureId"
                       placeholder="@T["Search labels..."]">
            </div>
            <div class="max-h-350 overflow-auto">
                <div id="labelAutoCompleteResults"
                     class="list-group list-group-flush tree list-group-hover hidden" 
                     data-paged-list-page-size="5"
                     data-paged-list-item-css="list-group-item list-group-item-action">
                    <p class="text-center">
                        <i class="fal fa-spinner fa-spin"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ul data-empty-preview-text="@T["No labels selected."]" class="list-group list-group-flush select-dropdown-preview">
        <li class="list-group-item">
            @T["Loading..."]
        </li>
    </ul>
</div>







