@model StarViewModel

@if (!Model.IsFollowing)
{
    <button data-toggle="tooltip" title="@T[Model.StarType.SubscribeDescription]" class="btn btn-secondary" data-on-css="btn-danger" data-off-css="btn-secondary" data-provide="star-button" data-star-type="@Model.StarType.Name" data-subscribe-text="@T[Model.StarType.SubscribeText]" data-unsubscribe-text="@T[Model.StarType.UnsubscribeText]" data-action="subscribe" data-thing-id="@Model.ThingId" role="button">
        <i class="fal fa-star"></i> 
    </button>
}
else
{
    <button data-toggle="tooltip" title="@T[Model.StarType.UnsubscribeDescription]" class="btn btn-danger" data-on-css="btn-danger" data-off-css="btn-secondary" data-provide="star-button" data-star-type="@Model.StarType.Name" data-subscribe-text="@T[Model.StarType.SubscribeText]" data-unsubscribe-text="@T[Model.StarType.UnsubscribeText]" data-action="unsubscribe" data-thing-id="@Model.ThingId" role="button">
        <i class="fal fa-star"></i>
    </button>
}



