@model StarViewModel

@if (!Model.IsFollowing)
{
    <button data-toggle="tooltip" title="@T[Model.StarType.SubscribeDescription]" class="btn star-off" data-on-css="star-on" data-off-css="star-off" data-provide="star-button" data-star-type="@Model.StarType.Name" data-subscribe-text="@T[Model.StarType.SubscribeText]" data-subscribe-tooltip="@T[Model.StarType.SubscribeDescription]" data-unsubscribe-text="@T[Model.StarType.UnsubscribeText]" data-unsubscribe-tooltip="@T[Model.StarType.UnsubscribeDescription]" data-action="subscribe" data-thing-id="@Model.ThingId" role="button">
        <i class="fal fa-star"></i> 
    </button>
}
else
{
    <button data-toggle="tooltip" title="@T[Model.StarType.UnsubscribeDescription]" class="btn star-on" data-on-css="star-on" data-off-css="star-off" data-provide="star-button" data-star-type="@Model.StarType.Name" data-subscribe-text="@T[Model.StarType.SubscribeText]" data-subscribe-tooltip="@T[Model.StarType.SubscribeDescription]" data-unsubscribe-text="@T[Model.StarType.UnsubscribeText]" data-unsubscribe-tooltip="@T[Model.StarType.UnsubscribeDescription]" data-action="unsubscribe" data-thing-id="@Model.ThingId" role="button">
        <i class="fa fa-star"></i>
    </button>
}



