@model StarViewModel
@{
    var permission = Plato.Discuss.Star.Permissions.StarTopics;
}

@if (!Model.IsStarred)
{
    <authorize asp-permission="@permission.Name">
        <authorize-success>
            <button data-toggle="tooltip" title="@T[Model.StarType.SubscribeDescription]" class="btn bg-transparent text-muted star-off" data-on-css="text-danger star-on" data-off-css="text-muted star-off" data-provide="star-button" data-star-type="@Model.StarType.Name" data-subscribe-text="@T[Model.StarType.SubscribeText]" data-subscribe-tooltip="@T[Model.StarType.SubscribeDescription]" data-unsubscribe-text="@T[Model.StarType.UnsubscribeText]" data-unsubscribe-tooltip="@T[Model.StarType.UnsubscribeDescription]" data-action="subscribe" data-thing-id="@Model.ThingId" role="button">
                <i class="fal fa-star"></i> 
            </button>
        </authorize-success>
        <authorize-fail>
            @if (base.CurrentUser == null)
            {
                <a title="@T["Login to star this topic"]" data-toggle="tooltip" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="btn bg-transparent text-muted">
                    <i class="fal fa-star"></i>
                </a>
            }
            else
            {
                <span title="@T["You don't have permission to star topics"]" data-toggle="tooltip" class="btn bg-transparent text-muted cursor-default">
                    <i class="fal fa-bell"></i>
                </span>
            }
        </authorize-fail>
    </authorize>
}
else
{
    <button data-toggle="tooltip" title="@T[Model.StarType.UnsubscribeDescription]" class="btn bg-transparent text-danger star-on" data-on-css="text-danger star-on" data-off-css="text-muted star-off" data-provide="star-button" data-star-type="@Model.StarType.Name" data-subscribe-text="@T[Model.StarType.SubscribeText]" data-subscribe-tooltip="@T[Model.StarType.SubscribeDescription]" data-unsubscribe-text="@T[Model.StarType.UnsubscribeText]" data-unsubscribe-tooltip="@T[Model.StarType.UnsubscribeDescription]" data-action="unsubscribe" data-thing-id="@Model.ThingId" role="button">
        <i class="fa fa-star"></i>
    </button>
}



