@model LabelsViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Labels"]</h6>
    </card-title>
    <card-body>

        @if (Model.Labels != null)
        {
            <div class="list-group list-group-flush list-group-hover">
                @foreach (var channel in Model.Labels)
                {
                    var css = channel.Id == Model.SelectedLabelId ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action";
                    <a asp-route-area="Plato.Discuss.Labels" asp-route-controller="Home" asp-route-action="Index" asp-route-id="@channel.Id" asp-route-alias="@channel.Alias" title="@channel.Description" class="@css">
                        <span class="btn btn-sm" style="background-color: @channel.BackColor; color: @channel.ForeColor">
                            @channel.Name
                        </span>
                    </a>
                }
            </div>
        }
        else
        {

            <div class="text-center my-4 text-muted">
                @T["Labls can be helpful to identify the type of conversation."]
                <br /><br />
                <a asp-route-area="Plato.Discuss.Labels" asp-route-controller="Admin" asp-route-action="Index">
                    @T["Manage Labels"]
                </a>
            </div>

        }

    </card-body>
</card>


