@using Microsoft.AspNetCore.Routing
@using Plato.Internal.Data.Abstractions
@model User
@{
    Layout = null;
}

<div class="popper-content">
    <div class="p-3">
        <div class="list-left list-left-80">
            <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Id" asp-route-opts.alias="@Model.Alias" data-toggle="tooltip" title="@T["Goto Profile"]" class="d-inline-block">
                <avatar class="avatar avatar-md" url="@Model.Avatar.Url" />
            </a>
        </div>
        <div class="list-body">

            @if (Model.IsVerified)
            {
                <div data-provide="tooltip" title="@T["Verified Member"]" class="badge badge-md badge-primary rounded-circle float-right">
                    <i class="fal fa-check"></i>
                </div>
            }

            <h6 class="d-inline-block m-0 p-0 text-truncate">@Model.DisplayName</h6>
            
            @if (!String.IsNullOrEmpty(Model.Biography))
            {
                <div>@Model.Biography.TrimToAround(150)</div>
            }
            else
            {
                <div class="text-muted">@@@Model.UserName</div>
            }

            @if (!String.IsNullOrEmpty(Model.Location))
            {
                <div>
                    <i class="fal fa-map-marker d-inline-block align-middle mr-1" data-toggle="tooltip" title="@T["Location"]"></i>
                    <div class="d-inline-block align-middle max-w-200 text-truncate">@Model.Location</div>
                </div>
            }
            
        </div>
    </div>
    <hr class="m-0 p-0"/>
    <div class="p-3">
        
        <div class="float-right">
            @T["Last active "] <date utc="@Model.LastLoginDate"></date>
        </div>
        
        <span class="mr-2" title="@T["Rank"]" data-toggle="tooltip">
            <i class="fal fa-hashtag"></i> @Model.Rank
        </span>
        <span class="mr-2" title="@T["Reputation"]" data-toggle="tooltip">
            <i class="fal fa-gem"></i> @Model.Reputation.ToPrettyInt()
        </span>
        <span class="mr-2" title="@T["visits"]" data-toggle="tooltip">
            <i class="fal fa-heart"></i> @Model.Visits.ToPrettyInt()
        </span>

    </div>
</div>