@model VoteToggleViewModel
@{
    var template = @T["Based on {0}"].Value;
    var text = "";
}
@if (Model.Reply != null)
{
    text = Model.Reply.TotalRatings == 1 ? T["vote"].Value : T["votes"].Value;
    var tooltip = template.Replace("{0}", $"{Model.Reply.TotalRatings} {text}");
    <div class="vote-toggle" data-provide="vote-toggle" data-rating-url="@Model.ApiUrl" data-entity-id="@Model.Entity.Id" data-entity-reply-id="@Model.Reply.Id">
        <a href="#" data-rating="1" title="@T["Vote Up"]" class="btn btn-vote-up" role="button">
            <i class="fa fa-caret-up"></i>
        </a>
        <h6 data-toggle="tooltip" title="@tooltip">
            @Model.Reply.SummedRating
        </h6>
        <a href="#" data-rating="-1" title="@T["Vote Down"]" class="btn btn-vote-down" role="button">
            <i class="fa fa-caret-down"></i>
        </a>
    </div>
}
else
{
    text = Model.Entity.TotalRatings == 1 ? T["vote"].Value : T["votes"].Value;
    var tooltip = template.Replace("{0}", $"{Model.Entity.TotalRatings} {text}");
    <div class="vote-toggle" data-provide="vote-toggle" data-rating-url="@Model.ApiUrl" data-entity-id="@Model.Entity.Id">
        <a href="#" data-rating="1" title="@T["Vote Up"]" class="btn btn-vote-up" role="button">
            <i class="fa fa-caret-up"></i>
        </a>
        <h6 data-toggle="tooltip" title="@tooltip">
            @Model.Entity.SummedRating
        </h6>
        <a href="#" data-rating="-1" title="@T["Vote Down"]" class="btn btn-vote-down" role="button">
            <i class="fa fa-caret-down"></i>
        </a>
    </div>
}

