@model LayoutViewModel
@{
    AddTitleSegment(T["Ideas"]);
}

<div class="layout">
    <div class="layout-header">
        @if (Model.Alerts != null)
        {
            <div class="layout-alerts">
                <view model="@Model.Alerts"></view>
            </div>
        }
        @if (Model.Tools != null)
        {
            <div class="float-right layout-tools">
                <view model="@Model.Tools" />
            </div>
        }
        @if (Model.Header != null)
        {
            <div class="layout-header-item">
                <view model="@Model.Header" />
            </div>
        }
        @if (Model.Meta != null)
        {
            <div class="layout-meta">
                <view model="@Model.Meta"></view>
            </div>
        }
    </div>
    @if (Model.SideBar != null)
    {
        <div class="row gutter-sm layout-content">
            <div class="col-lg-9 col-md-12">
                @if (Model.Content != null)
                {
                    <view model="@Model.Content"></view>
                }
                <div class="resizable resizable-bottom resizable-hidden" data-provide="resizeable">
                    <div class="resizable-bar">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="resizable-container">
                        <div class="resizable-header">
                            <h6 class="d-inline-block text-uppercase">@T["Your Suggestion"]</h6>
                            <a href="#" data-toggle="tooltip" title="@T["Close / Minimize"]" class="btn btn-sm float-right resizable-close"><i class="fal fa-fw fa-times"></i></a>
                        </div>
                        <div class="resizable-body">

                            <form asp-controller="Home" asp-action="Display" method="post" enctype="multipart/form-data">
                                <div id="postReply">
                                    @if (Model.Footer != null)
                                    {
                                        <div>
                                            <view model="@Model.Footer"></view>
                                        </div>
                                    }
                                    @if (Model.Actions != null)
                                    {
                                        <div>
                                            <view model="@Model.Actions" />
                                        </div>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                @if (Model.SideBar != null)
                {
                    <view model="@Model.SideBar"></view>
                }
            </div>
        </div>
    }
    else
    {
        @if (Model.Content != null)
        {
            <view model="@Model.Content"></view>
        }
        <div class="resizable resizable-bottom resizable-hidden" data-provide="resizeable">
            <div class="resizable-bar">
                <i class="fal fa-bars"></i>
            </div>
            <div class="resizable-container">
                <div class="resizable-header">
                    <h6 class="d-inline-block text-uppercase">@T["Your Suggestion"]</h6>
                    <a href="#" data-toggle="tooltip" title="@T["Close / Minimize"]" class="btn btn-sm float-right resizable-close"><i class="fal fa-fw fa-times"></i></a>
                </div>
                <div class="resizable-body">

                    <form asp-controller="Home" asp-action="Display" method="post" enctype="multipart/form-data">
                        @if (Model.Footer != null)
                        {
                            <div>
                                <view model="@Model.Footer"></view>
                            </div>
                        }
                        @if (Model.Actions != null)
                        {
                            <div>
                                <view model="@Model.Actions" />
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>

    }

</div>
