@model MetricListItemViewModel<Metric>

<div class="float-right text-muted">
    <date utc="Model.Metric.CreatedDate"></date>
</div>

@if (Model.Metric.CreatedBy != null)
{
    <div class="list-left text-center">
        <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Metric.CreatedUserId" asp-route-opts.alias="@Model.Metric.CreatedBy.Alias" class="mr-2">
            <avatar data-toggle="tooltip" title="@Model.Metric.CreatedBy.DisplayName" class="avatar avatar-sm" url="@Model.Metric.CreatedBy.Avatar.Url" />
        </a>
    </div>
}
<div class="list-body">
    @if (!string.IsNullOrEmpty(Model.Metric.Title))
    {
        <h6>
            <a href="@Model.Metric.Url">
                @Model.Metric.Title
            </a>
        </h6>
        <div class="text-muted">
            @Model.Metric.Url
        </div>
    }
    else
    {
        <h6>
            <a href="@Model.Metric.Url">
                @T["No title provided"]
            </a>
        </h6>
        <div class="text-muted">
            @Model.Metric.Url
        </div>
    }
</div>


