@model CategoryInputViewModel

@if (Model.Categories != null)
{
    <select id="@Model.HtmlName" name="@Model.HtmlName" multiple="multiple" class="form-control" style="min-height: 150px;">
        @for (var i = 0; i < Model.Categories.Count; i++)
        {
            var item = Model.Categories[i];
            <option value="@item.Value.Id" selected="@item.IsSelected">
                @item.Value.Name
            </option>
        }
    </select>
}
else
{
    <span class="text-muted">
        @T["No categories have been created. Add categories to assign additional privledges for moderators within specific channels."]
        <br /><br />
        <a class="btn btn-secondary" role="button" asp-route-area="Plato.Discuss.Channels" asp-route-controller="Admin" asp-route-action="Index">@T["Manage Channels"]</a>
    </span>
    <input id="@Model.HtmlName" name="@Model.HtmlName" type="hidden" value="0"/>
}
