@using Plato.Internal.Layout.Views
@model DiscussIndexViewModel
@{
    ViewData["Title"] = "Discussions";
}



@Html.Raw(ViewBag.TopicData)




<a href="#modal-new" class="btn btn-primary" data-toggle="modal" data-target="#modal-new" title="Reply">
    <i class="fa fa-fw fa-reply-all"></i> Reply
</a>

<div class="modal fade" id="modal-new" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-right modal-2x bg-light p-2 border-left" role="document">
        
        <div class="modal-content">
            <form asp-action="Index" method="post" enctype="multipart/form-data">
                <card title="@T["Post Reply"]">

                    <fieldset>
                        <div class="form-group">

                            
                            <span asp-validation-for="NewEntityViewModel.Title" class="text-danger"></span>
                            <input asp-for="NewEntityViewModel.Title" placeholder="@T["Title"]" class="form-control" autofocus />


                        </div>
                        <div class="form-group">

                            @await DisplayAsync(new View("Editor", new
                            {
                                value = string.Empty,
                                plreaceHolderText = "place holder text from core",
                                htmlName = "Editor"
                            }))
                            
                        <!--
                        <textarea asp-for="NewEntityViewModel.Message" class="form-control md-textarea" placeholder="@T["Post your comments here..."]" rows="12"></textarea>
                        -->
                        </div>
                        <div class="form-group mt-4">

                            <button type="submit" class="btn btn-primary">
                                @T["Post"]
                            </button>
                            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">
                                @T["Cancel"]
                            </button>
                        </div>
                    </fieldset>
         
                </card>
            </form>
        </div>
        

    </div>

</div>







<div id="app">

</div>

<div class="row">
    <div class="col-8">

        <div class="row">
            <div class="col-12">
                <a href="#" class="btn btn-primary float-right">
                    @T["Post Topic"]
                </a>
                <h4 class="d-inline-block">
                    @T["Discuss"]
                </h4>
            </div>
        </div>


        @if (Model.Results != null)
        {
            <ul class="list-group list-group-flush list-group-hover mt-4">
                @foreach (var entity in Model.Results.Data)
                {
                    <li class="list-group-item">

                        <h6>
                            @entity.Title
                        </h6>
                        <p class="text-muted">
                            @entity.PlainText
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <h6>@T["No discussions found"]</h6>
        }



    </div>
    <div class="col-4">

        <card title="@T["Channels"]">


        </card>


    </div>
</div>



<br />

