<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plato</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <environment names="Development">
        <link rel="stylesheet" href="~/css/vendors/bootstrap.css" />
        <link rel="stylesheet" href="~/css/vendors/font-awesome.css" />
        <link rel="stylesheet" href="~/css/core.css" />
        <link rel="stylesheet" href="~/css/theme.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              asp-fallback-href="~/css/vendors/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
              asp-fallback-href="~/css/vendors/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/dist/css/app.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("ModuleCSS", required: false)
</head>
<body>
    
<div class="layout-nav-side">

    <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">

        <a class="navbar-brand" href="index.html">
           Plato
        </a>

        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-block d-lg-none ml-2">
                <div class="dropdown">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="nav-side-user.html" class="dropdown-item">Profile</a>
                        <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
        
        <hr/>

        <div class="collapse navbar-collapse flex-column" role="navigation">
            <navigation
                name="admin"
                collaspsable="true"
                id="AdminMenu"
                class="navbar-nav d-lg-block"/>
        </div>

    </div>

    <div class="main-container">
        
        <div class="container-fluid">
            <div class="row">
                
                <div class="navbar nav-tabs col-12" role="navigation">
                    <a class="navbar-brand text-muted" asp-route-area="Plato.Admin" asp-controller="Admin" asp-action="Index">
                        @T["Plato"]
                    </a>
                    <navigation id="AppMenu" name="site"
                                class="nav nav-h"
                                ul-class="nav nav-pills float-right"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row d-block p-4">
                
                @RenderBody()
                <hr/>
                <footer>
                    <p class="text-muted">&copy; @System.DateTime.Now.Year - Plato</p>
                </footer>

            </div>


        </div>

    </div>
</div>
    
<environment names="Development">
    <script src="~/js/vendors/jquery.js"></script>
    <script src="~/js/vendors/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/js/vendors/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.js"
            asp-fallback-src="~/js/vendors/bootstrap.min.js"
            asp-fallback-test="window.BS">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
    
<script type="text/javascript">
    var plato = {
        baseUrl: 'http://localhost:50439/',
        ApiKey: '1234567'
    };
</script>

@RenderSection("scripts", required: false)

</body>
</html>
