@inherits Plato.Internal.Layout.Razor.RazorPage<TModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plato</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <assets section="Header" />
    <scripts section="Header" />
</head>
<body>

    <assets section="Body" />
    <scripts section="Body" />

    <div class="nav-v nav-asides">

        <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">

            <a class="navbar-brand" href="#">
                @T["Plato"]
            </a>
            <hr />
            <div class="d-flex align-items-center">
                <button class="navbar-toggler border-0 mr-2" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-block d-lg-none mr-2">
                    @if (this.CurrentUser != null)
                    {
                        <form asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="LogOff" method="post" class="d-flex align-items-center">
                            <div class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown">
                                    <avatar class="avatar" url="@this.CurrentUser.Avatar.Url" />
                                </a>
                                <div class="dropdown-arrow"></div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditProfile">@T["Profile"]</a>
                                    <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditAccount">@T["Account"]</a>
                                    <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSettings">@T["Settings"]</a>
                                    <div class="dropdown-divider"></div>
                                    <button type="submit" class="btn dropdown-item">@T["Log off"]</button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>

            <div class="collapse navbar-collapse flex-column" id="navbar-collapse" role="navigation">
                <navigation name="admin"
                            collaspsable="true"
                            class="navbar-nav d-lg-block"
                            child-ul-css-class="nav flex-column"
                            link-css-class="nav-link" />
            </div>

        </div>

        <div class="main-container">
            <div class="container-fluid">
                <div class="row navbar nav-tabs d-lg-flex d-md-none d-sm-none" role="navigation">
                    <a class="navbar-brand text-muted" asp-route-area="Plato.Admin" asp-route-controller="Admin" asp-route-action="Index">
                        @T["Plato"]
                    </a>
                    @if (this.CurrentUser != null)
                    {
                        <form asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="LogOff" method="post">
                            <ul class="nav" id="adminNav">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tooltip" data-container="#adminNav" title="@T["Return Home"]" href="#" data-placement="bottom">
                                        <i class="fal fa-home"></i>
                                    </a>
                                </li>
                                <li class="nav-item dropdown account">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                        <avatar class="avatar mr-2" url="@this.CurrentUser.Avatar.Url"/> @this.CurrentUser.DisplayName
                                    </a>
                                    <div class="dropdown-arrow"></div>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditProfile">@T["Profile"]</a>
                                        <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditAccount">@T["Account"]</a>
                                        <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSettings">@T["Settings"]</a>
                                        <div class="dropdown-divider"></div>
                                        <button type="submit" class="btn dropdown-item">@T["Log off"]</button>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    }
                </div>
                <div class="row border-bottom" aria-label="breadcrumb">
                    <breadcrumb class="breadcrumb bg-light mb-0 col-12" />
                </div>
                <div class="row">
                    <div class="col-12 py-4">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p class="text-muted">&copy; @System.DateTime.Now.Year - Plato</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <assets section="Footer" />
    <scripts section="Footer" />

</body>
</html>
