@inherits Plato.Internal.Layout.Razor.RazorPage<TModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plato</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <assets section="Header" />
    <scripts section="Header" />
</head>
<body>
  
    <assets section="Body" />
    <scripts section="Body" />

    <div class="collapse" id="navbar-header">
        <div class="container-fluid bg-dark p-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>

    <div class="nav nav-tabs bg-light">
        <div class="container-fluid">
           
                <div class="navbar px-4" role="navigation">
                    <a class="navbar-brand" href="#">
                        @T["Plato"]
                    </a>
                    <div class="float-right">

                        <div class="float-right">
                            @if (this.CurrentUser != null)
                            {
                                <form asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="LogOff" method="post" class="d-inline">
                                    <ul class="nav nav-pills float-right app-nav">
                                        <li class="nav-item dropdown account">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                                <avatar class="avatar mr-2" url="@this.CurrentUser.Avatar.Url"/> @this.CurrentUser.DisplayName
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in">
                                                <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditProfile">@T["Profile"]</a>
                                                <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditAccount">@T["Account"]</a>
                                                <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSettings">@T["Settings"]</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" asp-route-area="Plato.Admin" asp-route-controller="Admin" asp-route-action="Index">@T["Dashboard"]</a>
                                                <button type="submit" class="btn dropdown-item">@T["Log off"]</button>
                                            </div>
                                        </li>
                                     
                                    </ul>
                                </form>
                            }
                            else
                            {
                                <ul class="nav nav-pills float-right">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route-area="Plato.Users" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">@T["Login"]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route-area="Plato.Users" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.Path">@T["Register"]</a>
                                    </li>
                                </ul>
                            }
                        </div>
                        
                        <navigation name="site"
                                    class="nav nav-pills float-right site-nav"
                                    child-ul-css-class="dropdown-menu anim anim-2x anim-scale-in" />

                    </div>
                </div>
          
        </div>
    </div>

<div class="container-fluid">
    <div class=" p-4">
        <nav aria-label="breadcrumb">
            <breadcrumb class="breadcrumb p-0 bg-transparent col-12" />
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @System.DateTime.Now.Year - Plato</p>
        </footer>
    </div>
</div>

    <assets section="Footer" />
    <scripts section="Footer" />

</body>
</html>
