@inherits Plato.Internal.Layout.Razor.RazorPage<TModel>
@{
    var siteOpts = GetOptions<SiteOptions>();
    var platoOpts = GetOptions<PlatoOptions>();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title asp-separator=" - ">@siteOpts.SiteName</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/plato.core/content/fav.ico" />
    <assets section="Header" />
    <scripts section="Header" />
</head>
<body>

    <assets section="Body" />
    <scripts section="Body" />

    <nav class="nav-site">
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class=" container-fluid">
                <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index" class="navbar-brand">
                    @siteOpts.SiteName
                </a>
                <div class="navbar-mobile">
                    <div class="navbar-nav">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-bars">
                                <a href="#" class="nav-link dropdown-toggle-no-caret" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="@T["Navigation"]" data-provide="tooltip" title="@T["Navigation"]">
                                    <i class="fal fa-bars"></i>
                                </a>
                            </li>
                            <li class="nav-item nav-item-search">
                                <a href="#" class="nav-link dropdown-toggle-no-caret" data-toggle="collapse" data-target="#search-collapse" aria-controls="search-collapse" aria-expanded="false" aria-label="@T["Search"]" data-provide="tooltip" title="@T["Search"]">
                                    <i class="fal fa-search"></i>
                                </a>
                            </li>
                            @if (this.CurrentUser != null)
                            {
                                <li class="nav-item dropdown">
                                    <form asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="LogOff" method="post">
                                        <a class="nav-link" href="#" data-toggle="dropdown" data-display="static">
                                            <avatar class="avatar avatar-sm" url="@this.CurrentUser.Avatar.Url" />
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in position-absolute">
                                            <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditProfile">@T["Profile"]</a>
                                            <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditAccount">@T["Account"]</a>
                                            <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSignature">@T["Signature"]</a>
                                            <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSettings">@T["Settings"]</a>
                                            <authorize asp-permission="AdminAccess">
                                                <authorize-success>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" asp-route-area="Plato.Admin" asp-route-controller="Admin" asp-route-action="Index">@T["Dashboard"]</a>
                                                </authorize-success>
                                            </authorize>
                                            <div class="dropdown-divider"></div>
                                            <button type="submit" class="btn dropdown-item">@T["Log off"]</button>
                                        </div>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" asp-route-returnUrl="@Context.Request.Path">@T["Login"]</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="navbar-search collapse" id="search-collapse">
                    <navigation name="site-search" class="nav nav-search" />
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse" role="navigation">
                    <div class="navbar-nav">
                        <navigation name="site"
                                    class="nav nav-pills"
                                    child-ul-css-class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" />
                    </div>
                </div>
                <div class="navbar-user">
                    <div class="navbar-nav">
                        @if (this.CurrentUser != null)
                        {
                            <form asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="LogOff" method="post" class="form-inline">
                                <ul class="nav nav-pills">
                                    <li class="nav-item dropdown account">
                                        <a href="#" class="nav-link dropdown-toggle dropdown-toggle-no-caret" id="accountDropDown" data-toggle="dropdown" data-provide="tooltip" title="@T["Account"]">
                                            <avatar class="avatar avatar-sm" style="width: 28px; height: 28px;" url="@this.CurrentUser.Avatar.Url" />
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="accountDropDown">
                                            <div class="p-3">
                                                <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@this.CurrentUser.Id" asp-route-opts.alias="@this.CurrentUser.Alias" class="btn btn-sm btn-primary float-right">@T["Profile"]</a>
                                                <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditProfile" data-toggle="tooltip" title="@T["Edit Photo"]" class="d-inline-block mr-2">
                                                    <avatar class="avatar" url="@this.CurrentUser.Avatar.Url" />
                                                </a>
                                                <h6 class="d-inline-block align-middle max-w-150 text-truncate" title="@this.CurrentUser.DisplayName">@this.CurrentUser.DisplayName</h6>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditProfile">@T["Profile"]</a>
                                            <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditAccount">@T["Account"]</a>
                                            <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSignature">@T["Signature"]</a>
                                            <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSettings">@T["Settings"]</a>
                                            <authorize asp-permission="AdminAccess">
                                                <authorize-success>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" asp-route-area="Plato.Admin" asp-route-controller="Admin" asp-route-action="Index">@T["Dashboard"]</a>
                                                </authorize-success>
                                            </authorize>
                                            <div class="dropdown-divider"></div>
                                            <button type="submit" class="btn dropdown-item">@T["Log off"]</button>
                                        </div>
                                    </li>

                                </ul>
                            </form>
                        }
                        else
                        {
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" asp-route-returnUrl="@Context.Request.Path">@T["Login"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Register" asp-route-returnUrl="@Context.Request.Path">@T["Register"]</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid container-fluid-1280 pt-2">
        @if (platoOpts.DemoMode)
        {
            <div class="mt-3">
                <div class="p-3 border border-danger text-danger text-center">
                    @T["This is a demo. Please kick the tires but note data may be periodically deleted and some features may be disabled. Enjoy"]
                </div>
            </div>
        }
        @if (!RouteEquals("Plato.Core", "Home", "Index"))
        {
            <nav aria-label="breadcrumb" class="mt-3">
                <breadcrumb class="breadcrumb p-0 m-0 bg-transparent col-12" />
            </nav>
        }
        @RenderBody()
    </div>
    
    <footer>
        <div class="container-fluid container-fluid-1280">
            <hr class="mb-0"/>
            <div class="row py-4">
                <div class="col-lg-6">
                    <p>&copy; @siteOpts.SiteName @System.DateTime.Now.Year</p>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <p>
                        <a href="https://www.instantasp.co.uk/" target="_blank" class="text-muted">
                            @T["Powered by Plato"] @platoOpts.Version @platoOpts.ReleaseType
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <assets section="Footer" />
    <scripts section="Footer" />
    
</body>
</html>
