@using Microsoft.AspNetCore.Html
@inherits Plato.Internal.Layout.Razor.RazorPage<TModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Title.GenerateTitle(new HtmlString("/"))</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <assets section="Header" />
    <scripts section="Header" />
</head>
<body>

    <assets section="Body" />
    <scripts section="Body" />

    <div class="collapse" id="navbar-header">
        <div class="container-fluid bg-dark p-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>

    <div class="nav nav-tabs">
        <div class="container-fluid">
            <div class="navbar d-block px-4" role="navigation">
                <div class="row no-gutters">
                    <div class="col-1">
                        <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index" class="navbar-brand">@T["Plato"]</a>
                    </div>
                    <div class="col-6">
                        <navigation name="site-search"
                                    class="nav nav-search" />
                    </div>
                    <div class="col-5">
                        <div class="float-right site-nav">

                            @if (this.CurrentUser != null)
                            {
                                <form asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="LogOff" method="post" class="float-right">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item dropdown account">
                                            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-no-caret" id="accountDropDown" data-toggle="dropdown" data-provide="tooltip" title="@this.CurrentUser.DisplayName">
                                                <avatar class="avatar avatar-sm" url="@this.CurrentUser.Avatar.Url" />
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="accountDropDown">
                                                <div class="p-3">
                                                    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@this.CurrentUser.Id" asp-route-opts.alias="@this.CurrentUser.Alias" class="btn btn-sm btn-primary float-right">@T["Profile"]</a>
                                                    <avatar data-toggle="tooltip" title="@this.CurrentUser.DisplayName" class="avatar mr-2" url="@this.CurrentUser.Avatar.Url" />
                                                    <h6 class="d-inline-block align-middle">@this.CurrentUser.DisplayName</h6>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditProfile">@T["Profile"]</a>
                                                <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditAccount">@T["Account"]</a>
                                                <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSignature">@T["Signature"]</a>
                                                <a class="dropdown-item" asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditSettings">@T["Settings"]</a>
                                                <authorize asp-permission="AdminAccess">
                                                    <authorize-success>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" asp-route-area="Plato.Admin" asp-route-controller="Admin" asp-route-action="Index">@T["Dashboard"]</a>
                                                    </authorize-success>
                                                </authorize>
                                                <div class="dropdown-divider"></div>
                                                <button type="submit" class="btn dropdown-item">@T["Log off"]</button>
                                            </div>
                                        </li>

                                    </ul>
                                </form>
                            }
                            else
                            {
                                <ul class="nav nav-pills float-right">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" asp-route-returnUrl="@Context.Request.Path">@T["Login"]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Register" asp-route-returnUrl="@Context.Request.Path">@T["Register"]</a>
                                    </li>
                                </ul>
                            }

                            <navigation name="site"
                                        class="nav nav-pills float-left"
                                        child-ul-css-class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class=" p-4">
            <nav aria-label="breadcrumb">
                <breadcrumb class="breadcrumb p-0 bg-transparent col-12" />
            </nav>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @System.DateTime.Now.Year - Plato</p>
            </footer>
        </div>
    </div>

    <assets section="Footer" />
    <scripts section="Footer" />

</body>
</html>
