@model EntityDetailsViewModel
@{
    var viewText = Model.Entity.TotalViews == 1
        ? "view"
        : "views";
}

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Details"]</h6>
    </card-title>
    <card-body>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @T["Posted"]: <date utc="@Model.Entity.CreatedDate"></date>
            </li>
            @if (Model.Entity.EditedDate != null)
            {
                <li class="list-group-item">
                    @T["Updated"]: <date utc="@Model.Entity.EditedDate"></date>
                </li>
            }
            <li class="list-group-item">
                @T["Latest Reply"]: <date utc="@Model.Entity.LastReplyDate"></date>
            </li>
            <li class="list-group-item">
                @Model.Entity.TotalViews @T[viewText], @Model.Entity.DailyViews @T["daily"]
            </li>
        </ul>
    </card-body>
</card>
