@model DiscussIndexViewModel

<card title="@T["Topics"]">

    @if (Model.Results != null)
    {
        <ul class="list-group list-group-flush list-group-hover mt-4">
            @foreach (var entity in Model.Results.Data)
            {
                <li class="list-group-item">

                    <h6>
                        @entity.Title
                    </h6>
                    <p class="text-muted">
                        <strong>Message</strong>@entity.Message

                        <br />

                        <strong>Html</strong> @entity.Html

                        <br />

                        <strong>Abstract</strong> @entity.Abstract

                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <h6>@T["No discussions found"]</h6>
    }

</card>

<div class="mt-4 mb-4">
    <pager model="@Model.PagerOpts"></pager>
</div>
