@model HomeTopicViewModel

<card>
    <card-title>
        <h6 class="card-title float-left">@T["Topic"]</h6>
        <navigation name="topic"
                    class="nav navbar p-0 float-right"
                    child-ul-css-class="dropdown-menu" />
    </card-title>
    <card-body>
        <div class="user-content">
            @Html.Raw(@Model.Entity.Html)
        </div>
    </card-body>
    <card-footer class="card-footer p-0">
        <navigation name="topic-footer"
                    class="nav navbar p-0"
                    child-ul-css-class="dropdown-menu"/>
    </card-footer>
</card>

@if (Model.Replies != null)
{
    @foreach (var reply in Model.Replies.Data)
    {
        <div class="topic-reply">
            <div class="topic-reply-left">
                <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@reply.CreatedUserId" asp-route-alias="@reply.CreatedBy.Alias" class="avatar-link">
                    <avatar data-toggle="tooltip" title="@reply.CreatedBy.DisplayName" class="avatar" user-id="@reply.CreatedBy.Id" />
                </a>
            </div>
            <div class="topic-reply-body">
                <card>
                    <card-title>
                        <div class="card-title float-left">
                            <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@reply.CreatedUserId" asp-route-alias="@reply.CreatedBy.Alias" class="avatar-link">
                                @reply.CreatedBy.DisplayName
                            </a>
                            @T["posted "]
                            <span data-toggle="tooltip" title="@reply.CreatedDate">
                                @reply.CreatedDate.ToPrettyDate()
                            </span>
                        </div>
                        <navigation name="topicreply"
                                    model="reply"
                                    class="nav navbar p-0 float-right"
                                    child-ul-css-class="dropdown-menu" />
                    </card-title>
                    <card-body class="card-body">
                        <div class="user-content">
                            @Html.Raw(reply.Html)
                        </div>
                    </card-body>
                    <card-footer>
                        <navigation name="topicreply-footer"
                                    class="nav navbar p-0"
                                    child-ul-css-class="dropdown-menu" />
                    </card-footer>
                </card>
            </div>
        </div>
    }
}
else
{
    <div class="my-4">
        <card>
            <card-body>
                <i class="fal fa-reply"></i>
                <span class="text-muted ml-2">@T["No resplies have been posted yet. Be the first!"]</span>
            </card-body>
        </card>
    </div>
}

@if (Model.PagerOpts.Total > Model.PagerOpts.PageSize)
{
    <div class="mt-4">
        <pager model="@Model.PagerOpts"></pager>
    </div>
}
