@model HomeTopicViewModel

<div class="list-left">
    <a href="#">
        <avatar data-toggle="tooltip" title="@Model.Entity.CreatedBy.DisplayName" class="avatar" user-id="@Model.Entity.CreatedBy.Id" />
    </a>
</div>
<div class="list-body">
    <h4>@Model.Entity.Title</h4>
    <span class="text-muted">
        By <a href="#">@Model.Entity.CreatedBy.DisplayName</a>, @Model.Entity.CreatedDate.ToPrettyDate();
    </span>
</div>
<hr />


