@model HomeTopicViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Topics"]</h6>
    </card-title>
    <card-body>
        <h6>
            @T["No channels found!"]
        </h6>
    </card-body>
</card>

<card class="card mt-4">
    <card-title>
        @T["Top Participants"]
    </card-title>
    <card-body>

        John

    </card-body>
</card>

<card class="card mt-4">
    <card-title>
        @T["Get Notified"]
    </card-title>
    <card-body>

        <div class="text-muted">
            @T["Follow to get notified via email when replies are posted..."]
            <br /><br />
        </div>
        <a href="#" class="btn d-block btn-secondary" role="button">
            <i class="fal fa-bell"></i> @T["Follow"]
        </a>

    </card-body>
</card>