@model HomeTopicViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Topics"]</h6>
    </card-title>
    <card-body>
        <h6>
            @T["No channels found!"]
        </h6>
    </card-body>
</card>

<card>
    <card-title>
        <i class="fal fa-bell"></i> @T["Follow"]
    </card-title>
    <card-body>
        <div class="text-muted">
            Get notified when replies are posted...
            <br/><br/>
        </div>
        <a href="#" class="btn d-block btn-secondary">
            @T["Subscribe"]
        </a>
    </card-body>
</card>

<card>
    <card-title>
        @T["Top Participants"]
    </card-title>
    <card-body>

        John

    </card-body>
</card>
