@using Plato.Features
@model EntityIndexViewModel<Topic>
@{
    var postPermission = Plato.Discuss.Permissions.PostTopics;
}

<div asp-permission="@postPermission.Name">
    <authorize-success>
        <a asp-route-action="Create" class="btn btn-primary" title="@T["New Topic"]">
            <i class="fal fa-fw fa-plus"></i>
            @T["New Topic"]
        </a>
    </authorize-success>
    <authorize-fail>
        @if (base.CurrentUser == null)
        {
            <a asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="btn btn-primary" title="@T["New Topic"]">
                <i class="fal fa-fw fa-lock"></i>
                @T["Login to Post"]
            </a>
        }
    </authorize-fail>
</div>