@using Plato.Discuss.Models
@model HomeIndexViewModel

<card title="@T["Topics"]">

    @if (Model.Results != null)
    {
        <ul class="list-group list-group-flush list-group-hover mt-4">
            @foreach (var entity in Model.Results.Data)
            {
                <li class="list-group-item">

                    @{
                        var detail = entity.GetMetaData<EntityMetaData>();
                    }

                    <h6>
                        <a asp-controller="Home" asp-action="Topic" asp-route-id="@entity.Id">
                            @entity.Title
                        </a>
                    </h6>

                    <p class="text-muted">
                        @entity.Abstract
                    </p>

                    @if (detail != null)
                    {
                        @foreach (var participant in detail.Users)
                         {
                             @participant.UserName
                             <br/>
                             <br/>
                         }
                    }

                </li>

            }
        </ul>
    }
    else
    {
        <h6>@T["No discussions found"]</h6>
    }

</card>

<div class="mt-4 mb-4">
    <pager model="@Model.PagerOpts"></pager>
</div>
