@model HomeTopicViewModel
@{
    var replies = @Model.Entity.TotalReplies == 1
        ? "reply"
        : "replies";
}

<div class="list-left">
    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@Model.Entity.CreatedUserId" asp-route-alias="@Model.Entity.CreatedBy.Alias">
        <avatar data-toggle="tooltip" title="@Model.Entity.CreatedBy.DisplayName" class="avatar" user-id="@Model.Entity.CreatedBy.Id" />
    </a>
</div>
<div class="list-body">
    <h4>
        @Model.Entity.Title
        @if (Model.Entity.IsPinned)
        {
            <span title="@T["Pinned"]" data-toggle="tooltip" class="d-inline-block">
                <i class="fal fa-thumbtack"></i>
            </span>
        }
    </h4>
    <span class="text-muted">
        @T["Posted"]
        <date utc="@Model.Entity.CreatedDate" itemprop="createdDate" data-toggle="tooltip" />
        @T["by"]
        <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@Model.Entity.CreatedUserId" asp-route-alias="@Model.Entity.CreatedBy.Alias">@Model.Entity.CreatedBy.DisplayName</a>
        - @Model.Entity.TotalReplies.ToPrettyInt() @T[replies]
    </span>
</div>
<hr />


