@model EditEntityViewModel

<div asp-validation-summary="All"></div>

<div class="mt-0">
    <div class="list-left reply-left">
        @if (this.CurrentUser != null)
        {
            <avatar data-toggle="tooltip" title="@this.CurrentUser.DisplayName" class="avatar" url="@this.CurrentUser.Avatar.Url" />
        }
        else
        {
            <avatar data-toggle="tooltip" title="@T["Anonymous"]" class="avatar" url="/images/photo.png" user-id="0"/>
        }
    </div>
    <div class="list-body reply-body">
        <card class="card mt-0">
            <card-title>
                @if (Model.Id == 0)
                {
                    <h6 class="card-title float-left">@T["New Topic"]</h6>
                }
                else
                {
                    <h6 class="card-title float-left">@T["Edit Topic"]</h6>
                }
                <navigation name="post"
                            class="nav navbar p-0 float-right"
                            child-ul-css-class="dropdown-menu dropdown-meu-right anim anim-2x anim-scale-in" />
            </card-title>
            <card-body>

                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" data-validation-optional="true"/>

                <fieldset>
                    <div class="form-group">
                        <input asp-for="Title" placeholder="@T["Title"]" tabindex="1" class="form-control" autofocus/>
                    </div>
                    <div class="form-group">

                        @await DisplayAsync(new View("Editor", new
                        {
                            id = @Model.EditorHtmlName,
                            htmlName = @Model.EditorHtmlName,
                            value = @Model.Message,
                            placeHolderText = T["Your message..."],
                            tabIndex = 2
                        }))

                    </div>
                </fieldset>

            </card-body>
        </card>
    </div>

</div>