@model HomeTopicViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Details"]</h6>
    </card-title>
    <card-body>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @T["Posted"]: <date utc="@Model.Entity.CreatedDate"></date>
            </li>
            <li class="list-group-item">
                @T["Lstest Reply"]: <date utc="@Model.Entity.LastReplyDate"></date>
            </li>
            <li class="list-group-item">
                @Model.Entity.TotalReactions
                @T[" reactions"],
                @Model.Entity.TotalFollows
                @T["follows"]
            </li>
            <li class="list-group-item">
             
            </li>
        </ul>

        
            
        
    </card-body>
</card>

<card>
    <card-title>
        <h6 class="card-title float-left">
            @T["Top Posters"]
        </h6>
        @if (Model.Users != null)
        {
            <span class="text-muted float-right">
                @Model.Users.Total
                @T["total"]
            </span>
        }
    </card-title>
    <card-body>

        @if (Model.Users != null)
        {
            @foreach (var user in Model.Users.Data)
             {
                 var replies = user.TotalReplies == 1
                     ? "reply"
                     : "replies";
                 <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@user.Id" asp-route-alias="@user.Alias" title="@user.DisplayName - @user.TotalReplies.ToPrettyInt() @T[replies]" data-toggle="tooltip" class="avatar-link">
                     <avatar class="avatar" user-id="@user.Id"/>
                 </a>
             }
        }
        else
        {
            
            @T["No replies"]
        }

    </card-body>
</card>
