@model HomeTopicViewModel

<card type="Danger">
    <card-title>

        <h6 class="card-title float-left">@T["Topic"]</h6>
        <ul class="nav nav-h navbar p-0 float-right">
            <li class="nav-item dropdown">
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Entity.Id" class="nav-link text-muted" role="button">
                    <span title="@T["Edit"]" data-toggle="tooltip">
                        <i class="fal fa-pencil"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-muted dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span title="@T["React"]" data-toggle="tooltip">
                        <i class="fal fa-smile"></i>
                    </span>
                </a>

            <div class="dropdown-arrow"></div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                <div class="reaction-dropdown-menu mx-1 mb-1">
                    <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="+1" name="input[content]" aria-label="React with thumbs up emoji" value="THUMBS_UP react">
                        <div alias="+1" class="emoji emoji-animate-on-hover">👍</div>
                    </button>
                    <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="-1" name="input[content]" aria-label="React with thumbs down emoji" value="THUMBS_DOWN react">
                        <div alias="-1" class="emoji emoji-animate-on-hover">👎</div>
                    </button>
                    <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="+1" name="input[content]" aria-label="React with thumbs up emoji" value="THUMBS_UP react">
                        <div alias="smile" class="emoji emoji-animate-on-hover">😀</div>
                    </button>
                    <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="Hooray" name="input[content]" aria-label="React with hooray emoji" value="HOORAY react">
                        <div alias="ckae" class="emoji emoji-animate-on-hover">🥡</div>
                    </button>
                    <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="Confused" name="input[content]" aria-label="React with confused emoji" value="CONFUSED react">
                        <div alias="unhappy" class="emoji emoji-animate-on-hover">😟</div>
                    </button>
                    <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="Heart" name="input[content]" aria-label="React with heart emoji" value="HEART react">
                        <div alias="heart" class="emoji emoji-animate-on-hover">❤️</div>
                    </button>
                </div>

            </div>
            </li>
        </ul>

    </card-title>
    <card-body>
        <div class="user-content">
            @Html.Raw(@Model.Entity.Html)
        </div>
    </card-body>
</card>

@if (Model.Results != null)
{
    @foreach (var reply in Model.Results.Data)
    {
        <div class="topic-reply">
            <div class="topic-reply-left">
                <a href="#" class="avatar-link">
                    <avatar data-toggle="tooltip" title="@reply.CreatedBy.DisplayName" class="avatar" user-id="@reply.CreatedBy.Id" />
                </a>
            </div>
            <div class="topic-reply-body">
                <card>
                    <card-title>
                        
                        <div class="card-title float-left">
                            <a href="#">
                                @reply.CreatedBy.DisplayName
                            </a>
                            @T["posted "]
                            @reply.CreatedDate.ToPrettyDate()
                        </div>

                        <ul class="nav nav-h navbar p-0 float-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-muted" href="#postReply" data-provide="postQuote" role="button">
                                    <span title="@T["Reply"]" data-toggle="tooltip">
                                        <i class="fal fa-reply"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a asp-route-area="Plato.Discuss" asp-route-controller="Home" asp-route-action="EditReply" asp-route-id="@reply.Id" class="nav-link text-muted" role="button">
                                    <span title="@T["Edit"]" data-toggle="tooltip">
                                        <i class="fal fa-pencil"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-muted dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span title="@T["React"]" data-toggle="tooltip">
                                        <i class="fal fa-smile"></i>
                                    </span>
                                </a>
                                <div class="dropdown-arrow"></div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                                    <div class="reaction-dropdown-menu mx-1 mb-1">

                                        <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="+1" name="input[content]" aria-label="React with thumbs up emoji" value="THUMBS_UP react">
                                            <div alias="+1" class="emoji">👍</div>
                                        </button>
                                        <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="-1" name="input[content]" aria-label="React with thumbs down emoji" value="THUMBS_DOWN react">
                                            <div alias="-1" class="emoji">👎</div>
                                        </button>
                                        <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="Laugh" name="input[content]" aria-label="React with laugh emoji" value="LAUGH react">
                                            <div alias="smile" class="emoji">😄</div>
                                        </button>
                                        <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="Hooray" name="input[content]" aria-label="React with hooray emoji" value="HOORAY react">
                                            <div alias="tada" class="emoji">🎉</div>
                                        </button>
                                        <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="Confused" name="input[content]" aria-label="React with confused emoji" value="CONFUSED react">
                                            <div alias="thinking_face" class="emoji">😕</div>
                                        </button>
                                        <button type="submit" class="btn reaction-dropdown-menu-item" data-reaction-label="Heart" name="input[content]" aria-label="React with heart emoji" value="HEART react">
                                            <div alias="heart" class="emoji">❤️</div>
                                        </button>
                                    </div>

                                </div>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-muted dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span title="@T["More"]" data-toggle="tooltip">
                                            <i class="fal fa-ellipsis-h "></i>
                                        </span>
                                    </a>
                                    <div class="dropdown-arrow"></div>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                        <a asp-route-area="Plato.Discuss" asp-route-controller="Home" asp-route-action="Reply" class="dropdown-item">Edit</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </li>
                            </li>
                        </ul>


                    </card-title>
                    <card-body>

                        <p class="text-muted">
                            @Html.Raw(reply.Html)
                        </p>
                    </card-body>
                </card>
            </div>
        </div>
    }
}
else
{
    <div class="my-4">
        <card>
            <card-body>
                <i class="fal fa-reply"></i>
                <span class="text-muted ml-2">@T["No resplies have been posted yet. Be the first!"]</span>
            </card-body>
        </card>
    </div>
}

@if (Model.PagerOpts.Total > Model.PagerOpts.PageSize)
{
    <div class="mt-4">
        <pager model="@Model.PagerOpts"></pager>
    </div>
}
