@model HomeTopicViewModel

<card type="Danger">
    <card-title>
        
        <div class="float-left">
            <h6 class="card-title">@T["Topic"]</h6>
        </div>
        <div class="float-right">

            <a href="#" data-toggle="tooltip" title="@T["Edit Post"]" class="btn text-muted" role="button">
                <i class="fal fa-pencil"></i>
            </a>

            <a href="#" data-toggle="tooltip" title="@T["Your Reaction"]" class="btn text-muted" role="button">
                <i class="fal fa-smile"></i>
            </a>

        </div>

    </card-title>
    <card-body>

        <avatar user-id="@Model.Entity.CreatedUserId"></avatar>

        @Html.Raw(@Model.Entity.Html)

        <div class="hidden">
            @await DisplayAsync(new View("Editor", new
            {
                value = @Model.Entity.Message,
                htmlName = @Model.EditorHtmlName
            }))
        </div>

    </card-body>
</card>

@if (Model.Results != null)
{
    @foreach (var reply in Model.Results.Data)
     {
         <div class="mt-4">
             <card>
                 <card-title>
                     
                     <div class="float-left">
                        @reply.CreatedDate
                     </div>
                     <div class="float-right">

                         <a href="#" data-toggle="tooltip" title="@T["Edit Post"]" class="btn text-muted" role="button">
                             <i class="fal fa-pencil"></i>
                         </a>

                         <a href="#" data-toggle="tooltip" title="@T["Your Reaction"]" class="btn text-muted" role="button">
                             <i class="fal fa-smile"></i>
                         </a>

                     </div>

                 </card-title>
                 <card-body>

                     @{
                         //var detail = entity.GetMetaData<TopicDetails>();
                     }

                     <p class="text-muted">
                         @Html.Raw(reply.Html)
                     </p>
                 </card-body>
             </card>
         </div>
     }

}
else
{
    <h6>@T["No replies"]</h6>
}

<div class="mt-4 mb-4">
    <pager model="@Model.PagerOpts"></pager>
</div>
