@model HomeTopicViewModel

<card>
    <card-title>
        <h6 class="card-title d-inline-block">@T["Topic"]</h6>
        @if (Model.Entity.IsPrivate)
        {
            <span class="badge badge-primary">
                @T["Private"]
            </span>
        }
        @if (Model.Entity.IsDeleted)
        {
            <span class="badge badge-danger">
                @T["Deleted"]
            </span>
        }
        @if (Model.Entity.IsClosed)
        {
            <span class="badge badge-success">
                @T["Closed"]
            </span>
        }
        @if (Model.Entity.IsPinned)
        {
            <span title="@T["Pinned"]" data-toggle="tooltip" class="btn btn-sm btn-secondary">
                <i class="fal fa-thumbtack"></i>
            </span>
        }
        <navigation name="topic"
                    model="@Model.Entity"
                    class="nav navbar p-0 float-right"
                    child-ul-css-class="dropdown-menu" />
    </card-title>
    <card-body class="card-body-flush">
        <div class="m-3">
            <div class="markdown-body" data-provide="markdownBody">
                @Html.Raw(@Model.Entity.Html)
            </div>
            <navigation name="topic-extra"
                        model="@Model.Entity"
                        enable-list="false" />
        </div>
        <navigation name="topic-footer"
                    model="@Model.Entity"
                    enable-list="false" />
    </card-body>

</card>

@if (Model.Replies != null)
{
    @foreach (var reply in Model.Replies.Data)
    {
        <div class="topic-reply">
            <div class="topic-reply-left">
                <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@reply.CreatedUserId" asp-route-alias="@reply.CreatedBy.Alias" class="avatar-link">
                    <avatar data-toggle="tooltip" title="@reply.CreatedBy.DisplayName" class="avatar" user-id="@reply.CreatedBy.Id" />
                </a>
            </div>
            <div class="topic-reply-body">
                <card>
                    <card-title>
                        <div class="card-title float-left">
                            <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@reply.CreatedUserId" asp-route-alias="@reply.CreatedBy.Alias" class="avatar-link">
                                @reply.CreatedBy.DisplayName
                            </a>
                            @T["posted "]
                            <span data-toggle="tooltip" title="@reply.CreatedDate">
                                @reply.CreatedDate.ToPrettyDate()
                            </span>
                            @if (reply.IsPrivate)
                            {
                                <span class="badge badge-primary">
                                    @T["Private"]
                                </span>
                            }
                            @if (reply.IsDeleted)
                            {
                                <span class="badge badge-danger">
                                    @T["Deleted"]
                                </span>
                            }
                            @if (reply.IsClosed)
                            {
                                <span class="badge badge-success">
                                    @T["Closed"]
                                </span>
                            }
                        </div>
                        <navigation name="topicreply"
                                    model="reply"
                                    class="nav navbar p-0 float-right"
                                    child-ul-css-class="dropdown-menu" />
                    </card-title>
                    <card-body class="card-body">
                        <div class="markdown-body" data-provide="markdownBody">
                            @Html.Raw(@reply.Html)
                        </div>
                        <div>
                            <navigation name="topicreply-extra"
                                model="reply"
                                class="nav navbar p-0"
                                child-ul-css-class="dropdown-menu"/>
                        </div>
                    </card-body>
                    <card-footer class="card-footer p-0">
                        <navigation name="topicreply-footer"
                                    model="reply"
                                    class="nav navbar p-0"
                                    child-ul-css-class="dropdown-menu" />
                    </card-footer>
                </card>
            </div>
        </div>
    }
}
else
{
    <div class="my-4">
        <card>
            <card-body>
                <i class="fal fa-reply"></i>
                <span class="text-muted ml-2">@T["No resplies have been posted yet. Be the first!"]</span>
            </card-body>
        </card>
    </div>
}

@if (Model.PagerOpts.Total > Model.PagerOpts.PageSize)
{
    <div class="mt-4">
        <pager model="@Model.PagerOpts"></pager>
    </div>
}
