@model HomeTopicViewModel

<card type="Danger">
    <card-title>
        
        <div class="float-left">
            <h6 class="card-title">@T["Topic"]</h6>
        </div>
        <div class="float-right">

            <a href="#" data-toggle="tooltip" title="@T["Edit Post"]" class="btn" role="button">
                <i class="fal fa-pencil"></i>
            </a>

            <a href="#" data-toggle="tooltip" title="@T["Your Reaction"]" class="btn" role="button">
                <i class="fal fa-smile"></i>
            </a>

        </div>

    </card-title>
    <card-body>

        <avatar user-id="@Model.Entity.CreatedUserId"></avatar>

        @Html.Raw(@Model.Entity.Html)

        <div class="hidden" style="display: none;">
            @await DisplayAsync(new View("Editor", new
            {
                value = @Model.Entity.Message,
                placeHolderText = "place holder text from core",
                htmlName = @Model.EditorHtmlName
            }))
        </div>
    </card-body>
</card>

<card>
    <card-title>
        @T["Topic"]
    </card-title>
    <card-body>
    @if (Model.Results != null)
    {
        <ul class="list-group list-group-flush list-group-hover mt-4">
            @foreach (var entity in Model.Results.Data)
            {
                <li class="list-group-item">

                    @{
                        //var detail = entity.GetMetaData<TopicDetails>();
                    }

                    <h6>
                        <a asp-controller="Home" asp-action="Topic" asp-route-id="@entity.Id">
                            @entity.Title
                        </a>
                    </h6>

                    <p class="text-muted">
                        @entity.Abstract
                    </p>

                    @*@if (detail != null)
                            {
                                @foreach (var participant in detail.Users)
                                {
                                    @participant.UserName
                                    <br/><br/>
                                }
                            }*@



                </li>

            }
        </ul>
    }
    else
    {
        <h6>@T["No discussions found"]</h6>
    }
    </card-body>
</card>

<div class="mt-4 mb-4">
    <pager model="@Model.PagerOpts"></pager>
</div>
