@model EntityIndexViewModel<Topic>

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title float-left">
            @T["My Topics"]
        </h6>
        <a class="btn btn-secondary float-right" asp-route-area="Plato.Discuss" asp-route-controller="User" asp-route-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"]" asp-route-alias="@ViewContext.RouteData.Values["alias"]">
            @T["All Topics"]
        </a>
    </card-title>
    <card-body>
        <ul class="list-group list-group-hover">
            @await DisplayAsync(new View("GetTopicList", new
            {
                options = @Model.Options,
                pager = @Model.Pager
            }))
        </ul>
</card-body>
</card>

     



