@model TopicIndexViewModel

<card class="card card-body-flush">
    <card-title>

      

        <ul class="nav nav-tabs card-header-tabs p-0">
            <li class="nav-item">
                <a class="nav-link active" href="#" role="button">
                    @T["My Topics"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button">
                    @T["Participated Within"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button">
                    @T["Liked"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button">
                    @T["Following"]
                </a>
            </li>
        </ul>


    </card-title>
    <card-body>
        
     
        @await DisplayAsync(new View("TopicList", new
        {
            options = @Model.Options,
            pager = @Model.Pager
        }))

    </card-body>
</card>

     



