@model SearchSettingsViewModel
@{
    ViewData["Title"] = "Search Settings";
}

<h4>@T["Search Settings"]</h4>
<span class="text-muted">@T["Manage default search settings."]</span>
<hr/>

<form asp-action="Index" method="post" enctype="multipart/form-data">
    
    <card>
        <card-title>
            <h6 class="card-title">@T["General"]</h6>
        </card-title>
        <card-body>

            <label asp-for="SearchMethod" class="col-form-label font-weight-bold">@T["Search Method"]</label>
            <span asp-validation-for="SearchMethod" class="text-danger"></span>
            <select class="form-control"
                    asp-for="SearchMethod"
                    asp-items="@Model.AvailableSearchMethods"></select>

        </card-body>
    </card>


    <card class="card mt-4">
        <card-footer>
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </card-footer>
    </card>

</form>