@model ChartViewModel<IEnumerable<AggregatedModel<int, Plato.Internal.Models.Users.User>>>

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">
            @if (string.IsNullOrEmpty(Model.Options.Title))
            {
                @T["Most Reputation"]
            }
            else
            {
                @T[Model.Options.Title]
            }
        </h6>
    </card-title>
    <card-body>
        @if (Model.Data != null)
        {

            var position = 1;
            var top3 = Model.Data.Take(3);
            var theRest = Model.Data.Skip(3);
            
            <div class="list-group list-group-flush list-group-hover">
                <div class="row no-gutters">
                    @foreach (var result in top3)
                    {
                        <div class="list-group-item list-group-item-action col-lg-4 col-md-12 col-sm-12 p-0 border-0">
                            <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@result.Model.Id" asp-route-opts.alias="@result.Model.Alias" class="list-group-item-action d-block position-relative text-center p-3 text-center">
                
                                <span class="d-block p-3">

                                    <span class="text-muted position-absolute" style="left: 2rem;">
                                        @position.ToPositionInt()
                                    </span>

                                    <span class="btn btn-sm label position-absolute" style="right: 2rem;" data-toggle="tooltip" title="@T["Earned Reputation"]">
                                        @result.Aggregate.Count.ToPrettyInt()
                                    </span>

                                    <avatar data-toggle="tooltip" title="@result.Model.DisplayName" class="avatar avatar-md" url="@result.Model.Avatar.Url" />

                                    <h6 class="d-block mt-2">@result.Model.DisplayName</h6>

                                    <span class="d-block text-muted">
                                        <span class="mx-1" title="@T["Rank"]" data-toggle="tooltip">
                                            <i class="fal fa-hashtag"></i>
                                            @result.Model.Rank
                                        </span>
                                        <span class="mx-1" title="@T["Reputation"]" data-toggle="tooltip">
                                            <i class="fal fa-gem"></i>
                                            @result.Model.Reputation.ToPrettyInt()
                                        </span>
                                        <span class="mx-1" title="@T["visits"]" data-toggle="tooltip">
                                            <i class="fal fa-heart"></i>
                                            @result.Model.Visits.ToPrettyInt()
                                        </span>
                                        <br />
                                        @T["Last active "] <date utc="@result.Model.LastLoginDate"></date>
                                    </span>
                                </span>
                            </a>
                        </div>
                        position++;
                    }
                </div>
            </div>
            
            <div class="list-group list-group-flush list-group-hover">
                @foreach (var result in theRest)
                {
                    <a  asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@result.Model.Id" asp-route-opts.alias="@result.Model.Alias" class="list-group-item list-group-item-action">
                        <span class="list-left">
                            <span class="d-inline-block text-muted ml-2 mt-2">
                                @position.ToPositionInt()
                            </span>
                        </span>
                        <span class="list-body">
                            <span class="list-left">
                                <avatar data-toggle="tooltip" title="@result.Model.DisplayName" class="avatar" url="@result.Model.Avatar.Url" />
                            </span>
                            <span class="list-body">
                               
                                <span class="row no-gutters">
                                    <span class="col-8">
                                        <strong>@result.Model.DisplayName</strong>
                                        <br/>
                                        <span class="text-muted">
                                            @@@result.Model.UserName
                                        </span>
                                    </span>
                                    <span class="col-1">
                                        <span class="btn btn-sm label" data-toggle="tooltip" title="@T["Earned Reputation"]">
                                            @result.Aggregate.Count.ToPrettyInt()
                                        </span>
                                    </span>
                                    <span class="col-3">
                                            
                                        <span class="float-right text-right text-muted">
                                            <span class="ml-2" title="@T["Rank"]" data-toggle="tooltip">
                                                <i class="fal fa-hashtag"></i>
                                                @result.Model.Rank
                                            </span>
                                            <span class="ml-2" title="@T["Reputation"]" data-toggle="tooltip">
                                                <i class="fal fa-gem"></i>
                                                @result.Model.Reputation.ToPrettyInt()
                                            </span>
                                            <span class="ml-2" title="@T["visits"]" data-toggle="tooltip">
                                                <i class="fal fa-heart"></i>
                                                @result.Model.Visits.ToPrettyInt()
                                            </span>
                                            <br/>
                                            @T["Last active "] <date utc="@result.Model.LastLoginDate"></date>
                                        </span>
                                           

                                    </span>
                                </span>
                               
                                   
                            </span>
                        </span>
                    </a>
                    position++;
                }
            </div>
       

        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    @T["No results found"]
                </li>
            </ul>
        }
    </card-body>
</card>
