@model CombinedEntityMetricsViewModel<int>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        
        <card class="card card-body-flush">
            <card-title>
                <h6 class="card-title">@T["Most Viewed"]</h6>
            </card-title>
            <card-body>
                @if (Model.Results != null)
                {
                    
                    <ul class="list-group list-group-flush list-group-hover">
                        @foreach (var result in Model.Results)
                        {
                            var views = result.Aggregate?.Count == 1
                                ? "view"
                                : "views";
                            <li class="list-group-item list-group-item-action">
                                <div class="float-right">                                 
                                  
                                        <h6 class="d-inline">
                                            @result.Aggregate.Count.ToPrettyInt()
                                        </h6>
                                  
                                    @T[views]
                                </div>
                                @if (result.Entity.CreatedBy != null)
                                {
                                    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@result.Entity.CreatedBy.Id" asp-route-opts.alias="@result.Entity.CreatedBy.Alias">
                                        <avatar data-toggle="tooltip" class="avatar avatar-sm" url="@result.Entity.CreatedBy.Avatar.Url"/>
                                    </a>
                                }
                                <a asp-route-area="@result.Entity.ModuleId" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@result.Entity.Id" asp-route-opts.alias="@result.Entity.Alias">
                                    @result.Entity.Title
                                </a>

                            </li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="list-group list-group-flush list-group-hover">
                        <li class="list-group-item">
                            <h6>@T["No results found"]</h6>
                        </li>
                    </ul>
                }
            </card-body>
        </card>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        
    
    </div>
</div>
