@model TopicViewModel

<card>
    <card-title>
        <h6 class="card-title d-inline-block">@T["Topic"]</h6>
        @if (Model.Topic.IsPinned)
        {
            <span class="btn btn-sm" data-toggle="tooltip" title="@T["This topic is pinned and is probably important"]"><i class="fal fa-thumbtack"></i></span>
        }
        @if (Model.Topic.IsPrivate)
        {
            <span data-toggle="tooltip" title="@T["This topic is private and only visible to you as you have permission to view private topics"]" class="badge badge-primary">@T["Private"]</span>
        }
        @if (Model.Topic.IsSpam)
        {
            <span class="badge badge-info" data-toggle="tooltip" title="@T["This topic has been flagged as SPAM and is only visible to you as you have permission to view topics flagged as SPAM"]">@T["SPAM"]</span>
        }
        @if (Model.Topic.IsDeleted)
        {
            <span class="badge badge-danger" data-toggle="tooltip" title="@T["This topic has been deleted and is only visible to you as you have permission to view deleted topics"]">@T["Deleted"]</span>
        }
        @if (Model.Topic.IsClosed)
        {
            <span class="badge badge-success" data-toggle="tooltip" title="@T["This topic is closed and is not accepting new replies"]">@T["Closed"]</span>
        }
   
        <navigation name="topic"
                    model="Model.Topic"
                    class="nav navbar p-0 float-right"
                    child-ul-css-class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" />
    </card-title>
    <card-body class="card-body-flush">
        <div class="markdown-body m-3" data-provide="markdownBody">
            @Html.Raw(@Model.Topic.Html)
        </div>
        <navigation name="topic-footer"
                    model="Model.Topic"
                    enable-list="false" />
    </card-body>

</card>
