@using Plato.Internal.Abstractions.Extensions
@model HistoryMenuViewModel

@if (Model.Reply != null) {
    @if (Model.Reply.EditedDate != null)
     {
         <div class="dropdown history-dropdown" data-provide="history-dropdown">
             <a class="nav-link text-muted dropdown-toggle" href="#" id="historyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 @T["edited"] <date utc="@Model.Reply.EditedDate"></date>
             </a>
             <div class="dropdown-menu anim anim-2x anim-scale-in p-0" aria-labelledby="historyDropdown">
                 <div class="dropdown-header px-3 py-2 border-bottom">
                     <a href="#" class="text-muted float-right" data-toggle="dropdown">
                         <i class="fal fa-times"></i>
                     </a>
                     <span class="d-inline-block text-muted">@T["History"] </span>
                 </div>
                 <div class="dropdown-body" data-entity-id="@Model.Reply.EntityId" data-entity-reply-id="@Model.Reply?.Id" data-provide="history">
                     <p class="my-4 text-center">
                         <i class="fal fa-spinner fa-spin"></i>
                     </p>
                 </div>
             </div>
         </div>
     }
}
else
{
    @if (Model.Topic?.EditedDate != null)
     {
         <div class="dropdown history-dropdown" data-provide="history-dropdown">
             <a class="nav-link text-muted dropdown-toggle" href="#" id="historyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 @T["edited"]  <date utc="@Model.Topic.EditedDate"></date>
             </a>
             <div class="dropdown-menu anim anim-2x anim-scale-in p-0" aria-labelledby="historyDropdown">
                 <div class="dropdown-header px-3 py-2 border-bottom">
                     <a href="#" class="text-muted float-right" data-toggle="dropdown">
                         <i class="fal fa-times"></i>
                     </a>
                     <span class="d-inline-block text-muted">@T["History"] </span>
                 </div>
                 <div class="dropdown-body" data-entity-id="@Model.Topic?.Id" data-entity-reply-id="@Model.Reply?.Id" data-provide="history">
                     <p class="my-4 text-center">
                         <i class="fal fa-spinner fa-spin"></i>
                     </p>
                 </div>
             </div>
         </div>
     }
}

