@using Plato.Internal.Abstractions.Extensions
@model UserSpamViewModel
@{
    var i = 0;
}

@if (!Model.IsNewUser)
{
    @if (Model.SpamCheckerResult.Succeeded)
     {
         <div class="alert alert-secondary">
             <p>
                 <i class="fal fa-exclamation-triangle mr-2"></i>
                 <strong>@T["StopForumSpam"]</strong>
</p>
             <p>
                 @if (Model.SpamCheckerResult.Results.Success)
                 {
                     @T["Some of the details for this user appear within the StopForumSpam database."]
                 }
             </p>
             <p>
                 <a href="#" data-toggle="modal" data-target="#spamDetailsModal" class="btn btn-primary">
                     @T["Learn More"]
                 </a>
             </p>
             <p>

             </p>
         </div>
     }
    else
    {
         <div class="alert alert-danger">
             <p>
                 <i class="fal fa-exclamation-triangle mr-2"></i>

                 @if (Model.SpamCheckerResult.Errors.Any())
                 {
                     @T["This user will be flagged as SPAM as the "]
                     @foreach (var error in Model.SpamCheckerResult.Errors)
                      {
                          i++;
                          @T[error.Description]
                          @if (i < Model.SpamCheckerResult.Errors.Count())
                           {
                               <span>
                                   ,
                               </span>
                           }
                      }
                     @T[" appears within the StopForumSpam database."]
                 }
             </p>
             <p>
                 <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="ConfirmEmail" asp-route-id="@Model.Id" class="btn btn-danger">
                     @T["Whitelist User"]
                 </a>
             </p>
             <p>

             </p>
         </div>
     }
}


<div class="modal fade" id="spamDetailsModal" tabindex="-1" role="dialog" aria-labelledby="spamDetailsModalHeader" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header hidden">
                <h5 class="modal-title" id="spamDetailsModalHeader">
                    @T["Spam Results"]
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <h6>
                    @T["StopForumSpam Results"]
                </h6>
                <p>
                    @T["You can see below the number of times the details for this user appear within the StopForumSpam database..."]
                </p>
                <div class="row">
                    <div class="col-4">
                        <h4>@Model.SpamCheckerResult.Results.UserName.Count.ToPrettyInt()</h4>
                        <h6>@T["Username"]</h6>
                    </div>
                    <div class="col-4">
                        <h4>@Model.SpamCheckerResult.Results.Email.Count.ToPrettyInt()</h4>
                        <h6>@T["Email Address"]</h6>
                    </div>
                    <div class="col-4">
                        <h4>@Model.SpamCheckerResult.Results.IpAddress.Count.ToPrettyInt()</h4>
                        <h6>@T["IP Address"]</h6>
                    </div>
                </div>
                
                <hr/>

                <div class="row">
                    <div class="col-6">
                        <h6>@T["Spam User?"]</h6>
                        <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="ConfirmEmail" asp-route-id="@Model.Id">
                            @T["Blacklist "]
                        </a>
                        @T["to ensure this user can never contribute."]
                    </div>
                    <div class="col-6">
                        <h6>@T["Genuine User?"]</h6>
                        <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="ConfirmEmail" asp-route-id="@Model.Id">
                            @T["Whitelist"]
                        </a>
                        @T["to ensure this user is never checked for SPAM."]
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    @T["Close"]
                </button>
            </div>
        </div>
    </div>
</div>

