@model UserDisplayViewModel<Entity>

@if (Model.Metrics.Metrics.Total() > 0)
{
    <card class="card card-body-flush">
        <card-title>
            <div class="float-left">
                <h6 class="card-title d-inline-block">
                    @T["Contributions"]
                </h6>
                <div class="badge badge-info ml-2" data-toggle="tooltip" title="@T["Contributions"]">
                    @Model.Metrics.Metrics.Total().ToPrettyInt()
                </div>
            </div>
            <a class="btn btn-primary float-right" asp-route-area="Plato.Entities" asp-route-controller="User" asp-route-action="Index" asp-route-opts.createdByUserId="@Model.User.Id" asp-route-opts.alias="@Model.User.Alias">
                @T["All Contributions"]
            </a>
        </card-title>
        <card-body>
            <ul class="list-group list-group-flush list-group-hover">
                @await DisplayAsync(new View("GetEntityList", new
                {
                    options = @Model.IndexViewModel.Options,
                    pager = @Model.IndexViewModel.Pager
                }))
            </ul>
        </card-body>
    </card>
}
else
{
    <card>
        <card-title>
            <h6 class="card-title">@T["Contributions"]</h6>
        </card-title>
        <card-body>
            @T["No contributions"]
        </card-body>
    </card>
}
   