@model UserEntitiesViewModel

<card class="card card-body-flush">
    <card-title>
        
        <h6 class="card-title float-left">
            @T["Submissions"]
        </h6>
        <a class="btn btn-primary float-right" asp-route-area="Plato.Entities" asp-route-controller="User" asp-route-action="Index" asp-route-opts.createdByUserId="@Model.User.Id" asp-route-opts.alias="@Model.User.Alias">
            @T["All Submissions"]
        </a>

    </card-title>
    <card-body>
        <ul class="list-group list-group-flush list-group-hover">
            @await DisplayAsync(new View("GetEntityList", new
            {
                options = @Model.IndexViewModel.Options,
                pager = @Model.IndexViewModel.Pager
            }))
        </ul>
</card-body>
</card>

     



