@model Plato.Tags.Models.Tag
@{
    var text = @Model.TotalEntities == 1
        ? "time"
        : "times";
}

<h4>@Model.Name</h4>
<div class="text-muted">
    @T["Tag appears "] @Model.TotalEntities @T[text]
    @if (Model.LastSeenDate != null)
    {
        @T["Last seen: "]
        <date utc="@Model.LastSeenDate"/>
    }
</div>
<hr />
