@model EditUserViewModel

@if (Model.IsNewUser)
{
    <span class="text-muted">
        @T["Create a new user account."]
    </span>
}
else
{
    <span class="text-muted">
        @T["Joined "] <date utc="@Model.CreatedDate"></date>,
        @T["Seen:"] <date utc="@Model.LastLoginDate"></date>
    </span>
}
<hr />




