@model EditUserViewModel

@if (!Model.EmailConfirmed && !Model.IsNewUser)
{
    <card>
        <card-title>
            <h6 class="card-title">
                <i class="fal fa-envelope mr-2"></i>
                @T["Unconfirmed Email"]
            </h6>
        </card-title>
        <card-body>
            @T["This user has not confirmed there email address yet. They can't login or participate until they do."]
            <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="ResendConfirmationEmail" asp-route-id="@Model.Id">
                @T["Resend"]
            </a>
            @T["the confirmation email or "]
            <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="ConfirmEmail" asp-route-id="@Model.Id">
                @T["manually confirm"]
            </a>
            @T["the user."]
        </card-body>
    </card>
}

<card>
    <card-title>
        <h6 class="card-title">@T["Avatar"]</h6>
    </card-title>
    <card-body>
        <div class="profile-avatar">
            <div data-toggle="tooltip" title="@T["Upload a new avatar"]"  class="avatar-edit">
                <input type="file" id="imageUpload"
                       asp-for="AvatarFile"
                       data-upload="avatar"
                       data-upload-preview-selector="#avatarPreview"
                       data-upload-accept=".png, .jpg, .jpeg, .gif" />
                <label for="imageUpload">
                    <i class="fa fa-upload"></i>
                </label>
            </div>
            <div class="avatar-preview">
                <avatar id="avatarPreview" class="avatar" url="@Model.Avatar.Url" />
            </div>
            @if (Model.Avatar.HasAvatar)
            {
                <div class="text-center mt-4">
                    <button type="submit" asp-route-controller="Admin" asp-route-action="DeleteAvatar" asp-route-id="@Model.Id" data-provide="confirm" class="btn btn-block btn-secondary">
                        @T["Reset Avatar"]
                    </button>
                </div>
            }
        
        </div>
    </card-body>
</card>

