@model EditUserViewModel

@if (!Model.EmailConfirmed && !Model.IsNewUser)
{
    <div class="alert alert-secondary">
        <p>
            <i class="fal fa-exclamation-triangle mr-2"></i>
            <strong>@T["Unconfirmed Email"]</strong>
        </p>
        <p>
            @T["This user has not confirmed there email address. They can't login or participate until they do."]
            <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="ResendConfirmationEmail" asp-route-id="@Model.Id">
                @T["Resend"]
            </a>
            @T["the confirmation email or "]
            <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="ConfirmEmail" asp-route-id="@Model.Id">
                @T["manually confirm"]
            </a>
            @T["the user."]
        </p>
    </div>
}

<card>
    <card-title>
        <h6 class="card-title">@T["Photo"]</h6>
    </card-title>
    <card-body>
        <div class="profile-avatar">
            <div class="avatar-edit">
                <input type="file" id="imageUpload"
                       asp-for="AvatarFile"
                       data-upload="avatar"
                       data-upload-preview-selector="#avatarPreview"
                       data-upload-accept=".png, .jpg, .jpeg" />
                <label for="imageUpload">
                    <i class="fa fa-upload"></i>
                </label>
            </div>
            <div class="avatar-preview">
                <avatar id="avatarPreview" class="avatar" url="@Model.Avatar.Url" />
            </div>
        </div>
    </card-body>
</card>

<card>
    <card-title>
        <h6 class="card-title">@T["Test Panel"]</h6>
    </card-title>
    <card-body>
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </card-body>
</card>