@model EditUserViewModel

@if (Model.IsSpam && !Model.IsNewUser)
{
    <div class="alert alert-danger">
        <p>
            <i class="fal fa-exclamation-triangle mr-2"></i>
            <strong>@T["Unconfirmed Email"]</strong>
        </p>
        <p>
            @T["This user has been flagged as SPAM. Any content posted by this user will require manual approval."]
        </p>
        <p>
            <h6>@T["Genuine User?"]</h6>
            <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="ConfirmEmail" asp-route-id="@Model.Id">
                @T["Whitelist"]
            </a>
            @T["to ensure this user is never checked for SPAM."]
        </p>
    </div>
}

<card>
    <card-title>
        <h6 class="card-title">@T["Account Details"]</h6>
    </card-title>
    <card-body>
        <div class="form-group" asp-validation-class-for="DisplayName">
            <label asp-for="DisplayName"><strong>@T["Display Name"]</strong></label>
            <span asp-validation-for="DisplayName" class="text-danger"></span>
            <input asp-for="DisplayName" class="form-control" autofocus />
        </div>
        <div class="form-group" asp-validation-class-for="UserName">
            <label asp-for="UserName"><strong>@T["Username"]</strong></label>
            <span asp-validation-for="UserName" class="text-danger"></span>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group" asp-validation-class-for="Email">
            <label asp-for="Email"><strong>@T["Email"]</strong></label>
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Email" placeholder="@T["email@address.com"]" class="form-control" />
        </div>
        @if (Model.DisplayPasswordFields)
        {
            <div class="form-group" asp-validation-class-for="Password">
                <label asp-for="Password"><strong>@T["Password"]</strong></label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <div class="form-group" asp-validation-class-for="PasswordConfirmation">
                <label asp-for="PasswordConfirmation"><strong>@T["Password Confirmation"]</strong></label>
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                <input asp-for="PasswordConfirmation" type="password" class="form-control" />
            </div>
        }

        @if (!Model.IsNewUser)
        {
            <div class="form-group" asp-validation-class-for="Location">
                <label asp-for="Location"><strong>@T["Location"]</strong></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Location" placeholder="@T["United Kingdom"]" class="form-control" />
            </div>
            <div class="form-group" asp-validation-class-for="Url">
                <label asp-for="Url"><strong>@T["Url"]</strong></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Url" placeholder="@T["https://"]" class="form-control" />
            </div>
            <div class="form-group" asp-validation-class-for="Bio">
                <label asp-for="Bio"><strong>@T["Bio"]</strong></label>
                <span asp-validation-for="Bio" class="text-danger"></span>
                <textarea asp-for="Bio" placeholder="@T["add a short bio..."]" rows="5" class="form-control"></textarea>
            </div>
        }
    </card-body>
</card>

<input asp-for="Id" type="hidden" />
