@model Plato.Internal.Models.Users.User

<li class="list-group-item">
    
    <h6 class="d-inline-block">
        <avatar class="avatar" user-id="@Model.Id" />
        <a asp-area="Plato.Users" asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.Id" class="font-weight-bold">
            @Model.UserName
        </a>
    </h6>
    
    <a asp-area="Plato.Users" asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary float-right">
        <i class="fal fa-pencil"></i>
        @T["Edit"]
    </a>

</li>

