@model User
@{
    //var details = Model.GetOrCreate<UserDetail>();
}

<div class="vcard form-group">

    <div class="profile-avatar vcard-photo">
        <div class="avatar-preview">
            <avatar id="avatarPreview" class="avatar" url="@Model.Avatar.Url"/>
        </div>
    </div>

    <ul class="vcard-details">
        <li class="vcard-display-name">
            <h4 class="d-block p-0 m-0">@Model.DisplayName</h4>
        </li>
        <li class="vcard-username text-muted">
            @@@Model.UserName
        </li>
        @if (!String.IsNullOrEmpty(Model.Location))
        {
            <li class="vcard-location">
                <i class="fal fa-map-marker"></i> @Model.Location
            </li>
        }
        @if (!String.IsNullOrWhiteSpace(Model.Url))
        {
            <li class="vcard-url">
                <i class="fal fa-link"></i>
                <a href="@Model.Url">
                    @Model.Url
                </a>
            </li>
        }
       @if (!String.IsNullOrEmpty(Model.Biography))
       {
           <li>
               @Model.Biography
           </li>
       }
    </ul>

</div>



