@using Plato.Internal.Abstractions.Extensions
@model User

<card>
    <card-title>

        <h6 class="card-title float-left">@T["Overview"]</h6>
        
            <div class="nav navbar p-0 navbar-expand-lg float-right navbar-light">

                <div class="d-flex align-items-center">
                    <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse" role="navigation">

                    <navigation name="profile"
                                class="nav nav-tabs card-header-tabs"
                                child-ul-css-class="dropdown-menu" />
                </div>
            </div>
    


    </card-title>
    <card-body>
        
        <div class="row">
            <div class="col-lg-6">
                @T["Last active:"] <date utc="@Model.LastLoginDate"></date>
            </div>
            <div class="col-lg-6">
                @T["Joined:"] <date utc="@Model.CreatedDate"></date>
            </div>
        </div>
        

    </card-body>
</card>




