@using Plato.Internal.Abstractions.Extensions
@model User

<card>
    <card-title>
        
        <div class="nav navbar p-0 navbar-expand-lg navbar-light">

            <div class="d-flex align-items-center">
                <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse" role="navigation">

                <navigation name="profile"
                            class="nav nav-tabs card-header-tabs"
                            child-ul-css-class="dropdown-menu" />
            </div>
        </div>
    
    </card-title>
    <card-body>

        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-3 text-center">
                        <i class="fal fa-hashtag fa-2x text-muted m-3"></i>
                    </div>
                    <div class="col-9">
                        <h1>@Model.Rank</h1>
                        <span class="text-muted">
                            @T["rank"]
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-3 text-center">
                        <i class="fal fa-gem fa-2x text-muted m-3"></i>
                    </div>
                    <div class="col-9">
                        <h1>@Model.Reputation.ToPrettyInt()</h1>
                        <span class="text-muted">
                            @T["reputation"]
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-3 text-center">
                        <i class="fal fa-heart fa-2x text-muted m-3"></i>
                    </div>
                    <div class="col-9">
                        <h1>@Model.Visits.ToPrettyInt()</h1>
                        <span class="text-muted">
                            @T["visits:"]
                        </span>
                    </div>
                </div>
            </div>
        </div>
  
    </card-body>
</card>




