@model LoginViewModel

<div class="form-group form-check">
    <label asp-for="RememberMe">
        <input asp-for="RememberMe" />
        @T["Remember me on this device"]
    </label>
</div>
<div class="form-group">
    <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">@T["Login"]</button>
</div>
<p>
    <a asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["Create a new account"]</a> @T["or"]
    <a asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["Forgot your password"]</a>
    <br /><br />
    @T["Before you can login you must first"] <a asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="ConfirmEmail" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["confirm your email address"]</a>
</p>
