@model Plato.Internal.Models.Users.User

<li class="list-group-item">
    
    <input type="checkbox" class="form-check-inline mr-0" name="featureIds" value="@Model.Id" id="@Model.Id">
    
    <h6 class="d-inline-block">
        <avatar class="avatar" user-id="@Model.Id" />
        <label class="form-check-label" for="@Model.Id">
            @Model.UserName
        </label>
    </h6>
    
    <a asp-area="Plato.Users" asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary float-right">@T["Edit"]</a>

</li>

