@model Plato.Internal.Models.Users.User

<li class="list-group-item">
    
    <div class="form-check custom-control custom-checkbox float-left">
        <h5>
            <input type="checkbox" class="custom-control-input" name="featureIds" value="@Model.Id" id="@Model.Id">
            <label class="custom-control-label pr-4" for="@Model.Id">
                @Model.UserName
            </label>
        </h5>
    </div>
    
    <a asp-area="Plato.Users" asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary float-right">@T["Edit"]</a>

</li>

