@model LabelListItemViewModel

<a asp-route-area="Plato.Discuss.Labels" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@Model.Label.Id" asp-route-alias="@Model.Label.Alias">
    <span class="btn btn-sm label font-weight-bold" style="background-color: @Model.Label.BackColor; color: @Model.Label.ForeColor">
        @Model.Label.Name
    </span>
</a>

<br/><br />
@if (!String.IsNullOrEmpty(@Model.Label.Description))
{
    <span class="text-muted">
        @Model.Label.Description
    </span>
}
else
{
    <span class="text-muted">
        @T["No description provided."]
    </span>
}
