@model FollowViewModel

<card>
    <card-title>
        @T["Get Notified"]
    </card-title>
    <card-body>
        
        @if (!Model.IsFollowing)
        {
            <div class="text-muted">
                @T["Follow to get notified via email when replies are posted..."]
                <br /><br />
            </div>
            <a href="#" class="btn d-block btn-secondary" role="button">
                <i class="fal fa-bell"></i> @T["Follow"]
            </a>
        }
        else
        {
            <div class="text-muted">
                @T["You are already subscribed to this item. Unsubscribe below..."]
                <br /><br />
            </div>
            <a href="#" class="btn d-block btn-danger" role="button">
                <i class="fal fa-bell-slash"></i> @T["Unsubscribe"]
            </a>
        }


    </card-body>
</card>



