@model Question
@{
    var replies = @Model.TotalReplies == 1
        ? "answer"
        : "answers";
}

<div class="list-left">
    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.CreatedUserId" asp-route-opts.alias="@Model.CreatedBy.Alias" data-provide="popper" data-popper-url="@Model.CreatedBy.Urls.GetProfileUrl" data-popper-position="bottom">
        <avatar class="avatar" url="@Model.CreatedBy.Avatar.Url" />
    </a>
</div>
<div class="list-body">
    <h4>
        <span title=" @Model.Title">
            @Model.Title.TrimToAround(75)
        </span>
        @if (Model.IsPinned)
        {
            <span title="@T["This question is pinned and is probably important"]" data-toggle="tooltip" class="d-inline-block mx-1">
                <i class="fal fa-thumbtack"></i>
            </span>
        }
        @if (Model.IsLocked)
        {
            <span title="@T["This question is locked and is not accepting new answers"]" data-toggle="tooltip" class="d-inline-block mx-1">
                <i class="fal fa-lock"></i>
            </span>
        }
    </h4>
    <ul class="list-inline p-0 m-0">
        <li class="list-inline-item">
            <date utc="@Model.CreatedDate" itemprop="createdDate" data-toggle="tooltip" />
            @T["by"]
            <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.CreatedUserId" asp-route-opts.alias="@Model.CreatedBy.Alias" data-provide="popper" data-popper-url="@Model.CreatedBy.Urls.GetProfileUrl" data-popper-position="bottom">@Model.CreatedBy.DisplayName</a>
        </li>
        <li class="list-inline-item">
            @Model.TotalReplies.ToPrettyInt() @T[replies]
        </li>
    </ul>
</div>
<hr />


