@model ForgotPasswordViewModel
@{
    AddTitleSegment(T["Forgot Password"]);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <span class="text-muted">@T["We'll send you a password reset link"]</span>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserIdentifier" class="col-form-label font-weight-bold">@T["Email or username"]</label>
                <input asp-for="UserIdentifier" placeholder="@T["email@address.com"]" class="form-control" autofocus />
            </div>
            <div class="form-group">
                <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">@ViewData["Title"]</button>
            </div>
        </form>
    </div>
</div> 
