@model ForgotPasswordViewModel
@{
    AddTitleSegment(T["Forgot Password"]);
}

<div class="layout">
    <div class="layout-header">
        <div class="layout-header-content">
            <h4>@T["Forgot Password"]</h4>
            <span class="text-muted">@T["Please check your email"]</span>
        </div>
    </div>
    <div class="layout-body">
        <div class="layout-content">
            <div class="row">
                <div class="col-lg-6">
                 
                        @T["If registered an email has been sent to the account email address."]
                        @T["If you don't receive the email please ensure you've first"] <a asp-route-controller="Account" asp-route-action="ConfirmEmail">@T["confirmed your email address"]</a>
                
                </div>
            </div>
        </div>
    </div>
</div>
