@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Plato.Models.Users;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Authentication
@model Plato.Users.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@section ModuleCSS {
    <link rel="stylesheet" href="~/plato.users/content/css/module.css" />
}

<!--
<img src="/users/photo/serve?id=550"/>

<a class="popup-with-zoom-anim" data-toggle="dialog" href="#uploadPhotoDialog">Upload Photo</a>

<div id="uploadPhotoDialog"  class="p-dialog p-dialog-zoom mfp-hide">
    <h1>Upload Photo</h1>
    <p>Upload a profile photo.</p>
    <iframe style="width: 100%; height: 200px;" scrolling="no" src="/users/photo/upload"></iframe>
</div>

<a class="popup-with-zoom-anim" data-toggle="dialog" href="#uploadBannerDialog">Upload BAnner</a>

<div id="uploadBannerDialog" class="p-dialog p-dialog-zoom mfp-hide">
    <h1>Upload Banner</h1>
    <p>Upload a profile photo.</p>
    <iframe style="width: 100%; height: 200px;" scrolling="no" src="/users/banner/upload"></iframe>
</div>

-->

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h4>@T["Use a local account to log in."]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="form-control-label font-weight-bold"></label>
                <span asp-validation-for="@Model.Email" class="text-danger float-xl-right"></span>
                <input asp-for="@Model.Email" value="@Model.Email" placeholder="@T["email@address.com"]" class="form-control d-block" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserName" class="form-control-label font-weight-bold"></label>
                <span asp-validation-for="@Model.UserName" class="text-danger float-xl-right"></span>
                <input asp-for="@Model.UserName" value="@Model.UserName" placeholder="@T["Username"]" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" class="form-control-label font-weight-bold"></label>
                <span asp-validation-for="@Model.Password" class="text-danger float-xl-right"></span>
                <input asp-for="@Model.Password" class="form-control" placeholder="@T["Password"]" />

            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="@Model.RememberMe">
                        <input asp-for="@Model.RememberMe" />
                        @T["Remember me"]
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block">@T["Login"]</button>
            </div>
            <p>
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["Register as a new user?"]</a>
            </p>
            @*<p>
                <a asp-action="ForgotPassword">@T["Forgot your password?"]</a>
                </p>*@
        </form>
    </div>

    @*<div class="col-md-4">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" viewName="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@


</div>

@section Scripts {
 
}


