@model LoginViewModel
@{
    ViewData["Title"] = T["Login"];
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h4>@T["Use a local account to log in."]</h4>
            <hr />
            <div class="form-group">
                <label class="col-form-label font-weight-bold">@T["Username"]</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input asp-for="UserName" value="@Model.UserName" placeholder="@T["Username"]" class="form-control" autofocus />
            </div>
            <div class="form-group">
                <label class="col-form-label font-weight-bold">@T["Password"]</label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" class="form-control" placeholder="@T["Password"]" />
            </div>
            <div class="form-group form-check">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @T["Remember me"]
                </label>
            </div>
            <div class="form-group">
                <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">@T["Login"]</button>
            </div>
            <p>
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["Create a new account"]</a> @T["or"] 
                <a asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["Forgot your password"]</a>
               
                <br /><br />
                @T["Before you can login you must first"] <a asp-action="ConfirmEmail" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["confirm your email address"]</a>

            </p>
        </form>
    </div>
</div>

