@model RegisterViewModel
@{
    AddTitleSegment(T["Registration Successful"]);
}

<div class="layout">
    <div class="layout-header">
        <div class="layout-header-content">
            <h4>@T["Check Your Email"]</h4>
            <span class="text-muted">@T["We've sent you an account activation link."]</span>
        </div>
    </div>
    <div class="layout-body">
        <div class="layout-content">
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        @T["Thank you for creating an account. We've sent you an email with a unique account activation link. You'll need to click this link before you can login."]
                        @T["If you don't receive the email you can "] <a asp-route-controller="Account" asp-route-action="ConfirmEmail">@T["send this again"]</a>.
                    </p>
                    <p>
                        <div class="alert alert-danger">
                            <strong>@T["IMPORTANT"]</strong> @T["You must first confirm & activate your email address before you can login. Check your email for the unique confirmation link."]
                        </div>
                    </p>
                    <p>
                        <a asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" class="btn btn-primary">
                            @T["Login"]
                        </a>
                    </p> 
                </div>
            </div>
        </div>
    </div>
</div>



