@model ResetPasswordViewModel
@{
    ViewData["Title"] = T["Reset Password"];
}

@if (Model.IsValidResetToken)
{
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
                <h4>@T["Reset your account password"]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="col-form-label font-weight-bold">@T["Email"]</label>
                    <input asp-for="Email" class="form-control" autofocus />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-form-label font-weight-bold">@T["New Password"]</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <div id="passwordStrength"></div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirmation" class="col-form-label font-weight-bold">@T["New Password Confirmation"]</label>
                    <input asp-for="PasswordConfirmation" class="form-control" />
                    <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                </div>
                <input asp-for="ResetToken" type="hidden" />
                <div class="form-group">
                    <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">@ViewData["Title"]</button>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h2>@T["Invalid Token"]</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>@T["The password reset token has expired"]</h4>
        </div>
    </div>
}

