@model ResetPasswordViewModel
@{
    AddTitleSegment(T["Reset Password"]);
}

<div class="layout">

    @if (Model.IsValidResetToken)
    {
        <div class="layout-header">
            <div class="layout-header-content">
                <h4>@T["Reset Password"]</h4>
                <span class="text-muted">@T["Reset your account password"]</span>
            </div>
        </div>
        <div class="layout-body">
            <div class="layout-content">
                <div class="row">
                    <div class="col-lg-6">
                        <form asp-controller="Account" asp-action="ResetPassword" method="post" data-disable-submit="true" role="form">
               
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="col-form-label font-weight-bold">@T["Email"]</label>
                                <input asp-for="Email" class="form-control" autofocus />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="col-form-label font-weight-bold">@T["New Password"]</label>
                                <input asp-for="NewPassword" class="form-control" />
                                <div id="passwordStrength"></div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PasswordConfirmation" class="col-form-label font-weight-bold">@T["New Password Confirmation"]</label>
                                <input asp-for="PasswordConfirmation" class="form-control" />
                                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                            </div>
                            <input asp-for="ResetToken" type="hidden" />
                            <div class="form-group">
                                <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">@T["Reset Password"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="layout">
            <div class="layout-header">
                <div class="layout-header-content">
                    <h4>@T["Invalid Token"]</h4>
                </div>
            </div>
            <div class="layout-body">
                <div class="layout-content">
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <span class="text-muted">@T["The reset token is invalid or has expired"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
