@model SelectRolesViewModel

<div class="row">
    @for (var i = 0; i < Model.SelectedRoles.Count; i++)
    {
        var role = Model.SelectedRoles[i];
        <div class="col-12">
            <div class="form-check">
                <label for="@Html.IdFor(m => m.SelectedRoles[i])">
                    <input id="@Html.IdFor(m => m.SelectedRoles[i])" name="@Model.HtmlName" value="@role.Value" type="checkbox" checked="@role.IsSelected" />
                    @role.Value
                </label>
            </div>
        </div>
    }
</div>