@model Plato.Roles.ViewComponents.SelectRolesViewModel

<div class="row">
    @for (var i = 0; i < Model.RoleSelections.Count; i++)
    {
        var role = Model.RoleSelections[i];
        <div class="col-12">
            <div class="form-check">
                <label for="@Html.IdFor(m => m.RoleSelections[i])">
                    <input id="@Html.IdFor(m => m.RoleSelections[i])" name="@Model.HtmlName" type="checkbox" checked="@role.IsSelected" value="@role.Item" />
                    @role.Item
                </label>
            </div>
        </div>
    }
</div>