@using Microsoft.EntityFrameworkCore.Internal
@model FeaturesViewModel
@{
    ViewData["Title"] = "Plato Modules";
}
<h4>@T["Modules"]</h4>
<span class="text-muted">@T["Modules allow you to add additional functionality to your site."]</span>

<hr />

<nav class="navbar navbar-light bg-light justify-content-between">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
    
    <form class="form-inline">
        <input class="form-control mx-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary mx-1" type="submit">Search</button>
    </form>

    <form asp-action="Index" class="form-inline"  method="post" enctype="multipart/form-data">
        
        <input id="featureIds" name="featureIds" type="text"/>
     
        <select id="bulkAction" name="bulkAction" class="form-control mx-1">
            <option value="@FeaturesBulkAction.None">@T["Choose action..."]</option>
            <option value="@FeaturesBulkAction.Enable">@T["Enable"]</option>
            <option value="@FeaturesBulkAction.Disable">@T["Disable"]</option>
            <option value="@FeaturesBulkAction.Toggle">@T["Toggle"]</option>
        </select>
        <button type="submit" name="btnBulkActions" class="btn btn-primary mx-1" value="yes">@T["GO"]</button>

    </form>

</nav>

<form asp-action="Index">
    <ul class="list-group list-group-hover">
        @foreach (var feature in Model.Features)
        {
            <li class="list-group-item">
                
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-check custom-control custom-checkbox">
                            <h5>
                                <input type="checkbox" class="custom-control-input" name="featureIds" value="@feature.Id" id="@feature.Id">
                                <label class="custom-control-label pr-4" for="@feature.Id">
                                    @feature.Name
                                </label>
                            </h5>
                        </div>

                        @if (!String.IsNullOrEmpty(feature.Description))
                        {
                            @feature.Description<br />
                        }
                        

                        @{
                            var dependencyNames = feature.FeatureDependencies
                                .Select(d => d.Name).ToArray();
                        }
                        <span class="text-muted">
                            @if (dependencyNames.Length > 0)
                            {
                                @T["Dependencies: "]
                                @dependencyNames.Join(", ")
                            }
                            else
                            {
                                @T["No dependencies"]
                            }
                        </span>

                    </div>
                
                    <div class="col-md-3 text-right">

                        @if (!feature.IsEnabled)
                        {
                            <input type="submit" asp-controller="Admin" asp-action="Enable" asp-route-id="@feature.Id" class="btn btn-primary btn-sm" itemprop="UnsafeUrl" />
                        }
                        else
                        {
                            <input type="submit" asp-controller="Admin" asp-action="Disable" asp-route-id="@feature.Id" class="btn btn-primary btn-sm" itemprop="UnsafeUrl" />
                        }


                    </div>
                </div>

            </li>
        }
    </ul>
</form>