@model TopicReactionsViewModel
@{
    var id = "reaction-" + Model.Topic?.Id;
    if (Model.Reply != null)
    {
        id += "-" + Model.Reply.Id;
    }
}

<ul class="reaction-list" id="@id" data-entity-id="@Model.Topic?.Id" data-entity-reply-id="@Model.Reply?.Id" data-reactions-target="#@id" data-provide="reactions">
@foreach (var reaction in Model.GroupedReactions)
{
    <li class="bg-light border-right border-secondary">
        <a href="#" class="d-inline-block py-2 px-3" data-reaction-name="@reaction.Name" data-toggle="tooltip" title="@reaction.ToolTip">
            <span class="d-inline-block mx-1">@reaction.Emoji</span><span class="d-inline-block mx-1">@reaction.Total</span>
        </a>
    </li>
}
</ul>
