@model CategoryListItemViewModel<Category>
@{
    var details = Model.Category.GetOrCreate<CategoryDetails>();
    var childBgColor = !String.IsNullOrEmpty(Model.Category.BackColor) ? Model.Category.BackColor : "auto";
    var childForeColor = !String.IsNullOrEmpty(Model.Category.ForeColor) ? Model.Category.ForeColor : "auto";
}

<div class="row">

    @if (!String.IsNullOrEmpty(Model.Category.IconCss))
    {
        <div class="col-1 text-center">
            <span class="icon-wrapper icon-wrapper-md" style="background-color: @childBgColor; color: @childForeColor">
                <i class="@Model.Category.IconCss"></i>
            </span>
        </div>
    }
    else
    {
        <div class="col-1 text-center">
            <span class="icon-wrapper icon-wrapper-md">
                <i class="fal fa-folder"></i>
            </span>
        </div>
    }

    <div class="col-7 pl-0">

        <a asp-route-area="Plato.Issues.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-opts.categoryId="@Model.Category.Id" asp-route-opts.alias="@Model.Category.Alias" class="font-weight-bold">
            @Model.Category.Name
        </a>
    
        @if (!String.IsNullOrEmpty(Model.Category.Description))
        {
            <div class="text-muted">
                @Model.Category.Description
            </div>
        }
        else
        {
            <div class="text-muted">
                @T["No description provided"]
            </div>
        }

        @if (Model.Category.Children.Any())
        {
            <ul class="list-inline">
                @foreach (var child in Model.Category.Children)
                {
                    <li class="float-left mr-2">
                    
                        <a asp-route-area="Plato.Issues.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-id="@child.Id">
                            @child.Name
                        </a>
                      
                    </li>
                }
            </ul>
        }

    </div>

    <div class="col-4 text-right">

        @if (details.TotalEntities > 0)
        {
            <div class="float-right ml-2">
                <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@details.LatestEntity.CreatedBy.Id" asp-route-opts.alias="@details.LatestEntity.CreatedBy.Alias">
                    <avatar data-toggle="tooltip" title="@details.LatestEntity.CreatedBy.DisplayName" class="avatar" url="@details.LatestEntity.CreatedBy.Avatar.Url" />
                </a>
            </div>
            <div class="float-right">
                <ol class="list-inline text-muted">
                    <li class="list-inline-item">
                        <span title="@T["Public Ideas"]" data-toggle="tooltip">
                            @details.TotalEntities.ToPrettyInt() <i class="fal fa-comment-alt-lines"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span title="@T["Public Replies"]" data-toggle="tooltip">
                            @details.TotalReplies.ToPrettyInt() <i class="fal fa-comment-alt fa-flip-horizontal"></i>
                        </span>
                    </li>
                </ol>

                <a asp-route-area="Plato.Issues" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@details.LatestEntity.Id" asp-route-opts.alias="@details.LatestEntity.Alias">
                    <date utc="@details.LatestEntity.CreatedDate"></date>
                </a>
            </div>
        }
    </div>

</div>

