@model EditChannelViewModel

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="IconPrefix" />

<card>
    <card-title>
        @if (Model.Id > 0)
        {
            <h6 class="card-title">@T["Edit Channel"]</h6>
        }
        else
        {
            <h6 class="card-title">@T["Add Channel"]</h6>
        }
    </card-title>
    <card-body>

        <div class="row">
            <div class="col-6">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Name">
                        <label asp-for="Name"><strong>@T["Name"]</strong></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <div class="input-group">
                            <input placeholder="@T["name your channel"]" asp-for="Name" class="form-control" autofocus />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">
                        <label asp-for="Name"><strong>@T["Icon"]</strong></label>
                        <br />
                        <a href="#selectIconModal" id="selectIconTrigger" class="btn btn-secondary text-center  text-muted" data-toggle="modal" data-target="#selectIconModal" role="button">

                            @if (String.IsNullOrEmpty(Model.IconCss))
                            {
                                <i class="fal fa-plus"></i>
                                @T["Add Icon"]
                            }
                            else
                            {
                                <i class="@Model.IconCss"></i>
                                @T["Update Icon"]
                            }


                        </a>

                    </div>
                </fieldset>
            </div>
            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">
                        <label asp-for="BackColor"><strong>@T["Background"]</strong></label>
                        <br />
                        <div asp-color-picker="BackColor" class="input-group-prepend">
                            <div class="input-group-text" style="cursor: pointer;">
                                <i class="fa fa-square" style="color:@Model.BackColor"></i>
                            </div>
                            <input type="text" asp-for="BackColor" class="form-control" style="width: 100px;" />
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">
                        <label asp-for="ForeColor"><strong>@T["Text"]</strong></label>
                        <br />
                        <div asp-color-picker="ForeColor" class="input-group-prepend">
                            <div class="input-group-text" style="cursor: pointer;">
                                <i class="fa fa-square" style="color:@Model.ForeColor"></i>
                            </div>
                            <input type="text" asp-for="ForeColor" class="form-control" style="width: 100px;" />
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <textarea placeholder="@T["optional channel description"]" asp-for="Description" rows="2" class="form-control"></textarea>
                    </div>
                </fieldset>
            </div>
        </div>

    </card-body>
</card>

<div class="modal fade" id="selectIconModal" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h6>@T["Channel Icon"]</h6>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow-y: scroll;">
                
                <div id="availableIcons">
                    @foreach (var icon in Model.ChannelIcons.Icons)
                    {
                        var css = Model.IconPrefix + icon;
                        var selected = Model.IconCss == css;
                        <label class="btn btn-secondary radio-icon" id="@icon">
                            <input checked="@selected" type="radio" value="@icon" name="iconCss" id="@icon" />
                            <span><i class="@css"></i></span>
                        </label>
                    }
                </div>

            </div>
            <div class="modal-footer">
                <button tyoe="button" class="btn btn-primary" data-dismiss="modal">
                    @T["Update Icon"]
                </button>
            </div>
        </div>
    </div>

</div>

<script section="Footer">

    $(function(win, doc, $) {

        var selectedIcon = "";

        $(doc).ready(function () {
            alert("read");
            $('#selectIconModal').on('show.bs.modal',
                function(e) {

                    alert("init buttons")
                    var $inputs = $("#availableIcons").find("input");
                    $inputs.change(function() {
                        alert(selectedIcon);
                        selectedIcon = $(this).val();

                    });


                });

            $('#selectIconModal').on('hidden.bs.modal',
                function(e) {

                    var $i = $("#selectIconTrigger").find("i");
                    if ($i.length > 0) {
                        i.removeAttr("class");
                        i.addClass(selectedIcon);
                    }


                });
        });


    }(window, document, jQuery));

</script>