@model EditChannelViewModel

<input type="hidden" asp-for="IconPrefix" />

<card>
    <card-title>
        @if (Model.IsNewChannel)
        {
        <h6 class="card-title">@T["Add Channel"]</h6>
        }
        else
        {
        <h6 class="card-title">@T["Edit Channel"]</h6>
        }
    </card-title>
    <card-body>


        <div class="row">
            <div class="col-6">
                <div class="form-group" asp-validation-class-for="Name">
                    <label asp-for="Name"><strong>@T["Name"]</strong></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div class="input-group">
                        <input placeholder="@T["name your channel"]" asp-for="Name" class="form-control" autofocus />
                    </div>
                </div>
            </div>
            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">

                        <label asp-for="Name"><strong>@T["Icon"]</strong></label>
                        <br />
                        <button type="button" href="#selectIconModal" data-provide="category-icon-modal" data-icon-prefix="@Model.ChannelIcons.Prefix" data-toggle="modal" data-target="#selectIconModal" class="btn btn-secondary" role="button">
                            @if (String.IsNullOrEmpty(Model.IconCss))
                            {
                                <i class="fal fa-plus"></i>
                            }
                            else
                            {
                                <i class="@Model.IconCss"></i>
                            }
                        </button>

                    </div>
                </fieldset>
            </div>
            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">

                        <label asp-for="Name"><strong>@T["Background"]</strong></label>
                        <div class="input-group">

                            <div asp-color-picker="BackColor" class="input-group-prepend">
                                <div class="input-group-text border-0" data-toggle="tooltip" title="@T["Background Color"]" style="cursor: pointer;">
                                    <i class="fa fa-square" style="color: @Model.BackColor"></i>
                                </div>
                                <input type="text" asp-for="BackColor" class="form-control" style="width: 95px;" />
                            </div>

                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="col-2">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Icon">

                        <label asp-for="Name"><strong>@T["Colors"]</strong></label>
                        <div class="input-group">

                            <div asp-color-picker="ForeColor" class="input-group-prepend">
                                <div class="input-group-text border-0" data-toggle="tooltip" title="@T["Text Color"]" style="cursor: pointer;">
                                    <i class="fa fa-square" style="color: @Model.ForeColor"></i>
                                </div>
                                <input type="text" asp-for="ForeColor" class="form-control" style="width: 95px;" />
                            </div>

                        </div>

                    </div>
                </fieldset>
            </div>
        </div>

        <fieldset>

            <div class="form-group" asp-validation-class-for="Description">
                <label asp-for="Name"><strong>@T["Description"]</strong></label>
                <span asp-validation-for="Description" class="text-danger"></span>
                <textarea placeholder="@T["optional channel description"]" asp-for="Description" rows="2" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <div asp-validation-class-for="ParentId">
                    <label asp-for="ParentId"><strong>@T["Parent Channel"]</strong></label>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                    <div class="input-group">
                        <select class="form-control"
                                asp-for="ParentId"
                                asp-items="@Model.AvailableChannels"></select>
                    </div>
                </div>
            </div>
        </fieldset>

    </card-body>
</card>

<div class="modal fade" id="selectIconModal" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h6>@T["Icon"]</h6>
            </div>
            <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                @foreach (var icon in Model.ChannelIcons.Icons)
                {
                    var css = Model.IconPrefix + icon;
                    var selected = Model.IconCss == css;
                    <label class="btn btn-secondary radio-icon" id="@icon">
                        <input checked="@selected" type="radio" value="@icon" name="iconCss" id="@icon" />
                        <span><i class="@css"></i></span>
                    </label>
                }
            </div>
            <div class="modal-footer">
                <button tyoe="button" class="btn btn-primary" data-dismiss="modal">
                    @T["Use Selected Icon"]
                </button>
            </div>
        </div>
    </div>

</div>

