@model ChannelsViewModel


<card>
    <card-title>
        <h6 class="card-title">@T["Post Within..."]</h6>
    </card-title>
    <card-body>
                  
        <div class="dropdown">
            <button type="button" class="btn btn-lg btn-secondary btn-block dropdown-toggle" href="#" id="channelDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @T["Channel"]
            </button>
            <div class="dropdown-arrow dropdown-arrow-right"></div>
            <div class="dropdown-menu dropdown-menu-right col-12" aria-labelledby="channelDropdown">
                <form>
                    @if (Model.Channels != null)
                    {
                        <div class="list-group-check-list">
                            @foreach (var channel in Model.Channels)
                            {
                                <input type="checkbox" id="@channel.Id" />
                                <label class="list-group-item dropdown-item" for="@channel.Id">
                        
                                    <i class="fal float-right"></i>

                                    @if (!String.IsNullOrWhiteSpace(channel.IconCss))
                                    {
                                        <SPAN class="float-left mr-3">
                                            <span class="channel-icon channel-icon-sm" style="background-color: @channel.BackColor; color: @channel.ForeColor">
                                                <i class="@channel.IconCss"></i>
                                            </span>
                                        </SPAN>
                                    }



                                    @channel.Name

                                </label>
                            }
                        </div>
                    }
                    else
                    {
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                @T["No channels available."]
                            </li>
                        </ul>


                    }
                </form>


            </div>
        </div>

    </card-body>
</card>






@*<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Channels"]</h6>
    </card-title>
    <card-body>
      

        @if (Model.Channels != null)
        {
        <div class="list-group list-group-flush list-group-check-list">
            @foreach (var channel in Model.Channels)
            {

                <input type="checkbox" id="@channel.Id" />

                <label class="list-group-item list-group-item-action" for="@channel.Id">
                    
                    <i class="fal float-right"></i>

                    @if (!String.IsNullOrWhiteSpace(channel.IconCss))
                    {
                        <SPAN class="float-left mr-3">
                            <span class="channel-icon channel-icon-sm" style="background-color: @channel.BackColor; color: @channel.ForeColor">
                                <i class="@channel.IconCss"></i>
                            </span>
                        </SPAN>
                    }



                    @channel.Name

                </label>


            }
        </div>
        }
        else
        {
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @T["No channels available."]
                </li>
            </ul>


        }

</card-body>
</card>*@

