@model AggregatedResult<string>

@if (Model != null)
{
    <div class="row">
        @foreach (var aggregate in Model.Data
            .OrderByDescending(d => d.Count))
        {
            var width = aggregate.Count.ToPercentageOf(@Model.Total()) + "%";

            <div class="col-4">
                <card>
                    <card-body>

                        <div class="d-block">
                            <h5 class="float-right" data-toggle="tooltip" title="@T["Page Views"]">
                                @aggregate.Count.ToPrettyInt()
                            </h5>
                            <span class="text-truncate">
                                @aggregate.Aggregate
                            </span>
                        </div>
                        <div class="d-block mt-3">
                            <div class="progress" data-toggle="tooltip" title="@width" style="height: 6px;">
                                <div class="progress-bar" role="progressbar" style="width: @width" aria-valuenow="@aggregate.Count" aria-valuemin="0" aria-valuemax="@Model.Total()"></div>
                            </div>
                        </div>
                    </card-body>
                </card>
            </div>
        }
    </div>
}

