@using Microsoft.AspNetCore.Routing
@using Plato.Features
@model FeaturesIndexViewModel

@foreach (var option in Model.AvailableCategories.Where(c => c.Text != "All"))
{
    var features = Model.Features?
        .Where(f => f.Descriptor.Category.Equals(option.Text, StringComparison.OrdinalIgnoreCase))
        .OrderBy(o => o.Descriptor.Name);

    <h3 class="mt-5 font-weight-bold text-uppercase text-primary">@option.Text</h3>
    <hr/>


    @if (features != null)
     {
         <div class="row text-center">
             @foreach (var feature in features)
             {
                 <div class="col-12 col-lg-4 mt-4">
                     <div class="w-100 h-100 py-5 px-4 bg-white border box-shadow">
                         @if (!string.IsNullOrEmpty(feature.Descriptor.Icon))
                         {
                             <img class="max-w-60 mx-auto d-block" src="@feature.Descriptor.Icon"/>
                         }
                         <h6 class="mt-4">@feature.Descriptor.Name</h6>
                         @if (!String.IsNullOrEmpty(feature.Descriptor.Description))
                         {
                             <p>
                                 @feature.Descriptor.Description
                             </p>
                         }
                     </div>
                 </div>



             }
         </div>
     }
     else
     {
         <div class="list-group-item">
             @T["No features available!"]
         </div>
     }

}
