@model EditPasswordViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Users"]);
    AddTitleSegment(T["Edit Password"]);
}

<h4>@ViewData["Title"]</h4>
<span class="text-muted">@T["Edit account password"]</span>
<hr />

<form asp-controller="Admin" asp-action="EditPassword" method="post" class="form-horizontal">
    <card>
        <card-title>
            <h6 class="card-title d-inline-block">@ViewData["Title"]</h6>
        </card-title>
        <card-body>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword" class="col-form-label font-weight-bold">@T["New Password"]</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                <input asp-for="NewPassword" class="form-control" />
                <div id="passwordStrength"></div>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="col-form-label font-weight-bold">@T["New Password Confirmation"]</label>
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                <input asp-for="PasswordConfirmation" class="form-control" />
            </div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <input asp-for="ResetToken" type="hidden" />
            <div class="form-group">
                <button type="submit" role="button" class="btn btn-primary">@T["Submit"]</button>
            </div>
        </card-body>
    </card>

</form>