@model UsersPaged
@{
    ViewData["Title"] = "Manage Users";
}

<h4>@T["Manage Users"]</h4>
<span class="text-muted">@T["Manage your registered users"]</span>

<ul class="list-group">
    @foreach (var user in Model.Results.Data)
    {
        <li class="list-group-item">
           @user.UserName
        </li>
    }
</ul>

here<Br />

<pager page-size="@Model.PagerOpts.PageSize"
       total="@Model.Results.Total"></pager>


