@model Plato.Layout.LayoutViewProviderResult
@{
    ViewData["Title"] = "User Profile";
}

<div class="row">
    <h4>Header</h4>
    @if (Model.Header != null)
    {
        <view model="@Model.Header"></view>
    }
</div>
<div class="row">
    <h4>Meta</h4>
    @if (Model.Meta != null)
    {
    <view model="@Model.Meta"></view>
    }
</div>
<div class="row">
    <div class="col-9">
        <h4>Content</h4>
        @if (Model.Content != null)
        {
        <view model="@Model.Content"></view>
        }
    </div>
    <div class="col-3">
        <h4>SideBar</h4>
        @if (Model.SideBar != null)
        {
        <view model="@Model.SideBar"></view>
        }
    </div>
</div>
<div class="row">
    <h4>Footer</h4>
    @if (Model.Footer != null)
    {
    <view model="@Model.Footer"></view>
    }
</div>

