@model ContactFormViewModel
@{
    AddTitleSegment(T["Contact"]);
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="my-6 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                    How can we help?
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4 mx-auto w-70">
                    We would love to hear from you. Use the form below to get in touch.
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-5 bg-white">

                    <form asp-action="Contact" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">

                        <h3 class="font-weight-bold text-primary text-uppercase">Send us a message</h3>
                        <hr class="my-4" />

                        <div class="form-group">
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <input asp-for="Name" placeholder="@T["your name"]" class="form-control" autofocus />
                        </div>

                        <div class="form-group">
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input asp-for="Email" placeholder="@T["your email address"]" class="form-control" />
                        </div>

                        <div class="form-group">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                            <input asp-for="Subject" placeholder="@T["subject"]" class="form-control" />
                        </div>

                        <div class="form-group">
                            <span asp-validation-for="Message" class="text-danger"></span>
                            <textarea asp-for="Message" rows="9" placeholder="@T["your message"]" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" role="button" class="btn btn-primary btn-block btn-lg py-3">@T["Send Message"]</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Address -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-5 bg-white">

                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <h3 class="font-weight-bold text-primary text-uppercase">Postal Address</h3>
                            <hr class="my-4" />
                            <address>
                                <strong>InstantASP Ltd</strong><br />
                                11 The Crescent<br />
                                Bucklow Hill<br />
                                Knutsford<br />
                                Cheshire<br />
                                WA16 6RQ<br />
                                United Kingdom
                            </address>
                        </div>

                        <div class="col-12 col-lg-6">
                            <h3 class="font-weight-bold text-primary text-uppercase">Email & Phone</h3>
                            <hr class="my-4" />

                            <p>
                                <strong>Email</strong><br />
                                <a href="mailto:sales@instantasp.co.uk" class="text-dark">
                                    sales@instantasp.co.uk
                                </a>
                            </p>

                            <p>
                                <strong>Phone</strong><br />
                                <a href="tel:441565832827" class="text-dark">+44 (0) 1565 832 827</a> - Sales Only
                            </p>
                            <p>
                                We are available Mon-Fri 9am-6pm BST.
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Ready to make Plato your support hub?
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>