@using Plato.Docs
@model Doc
@{
    var dropdownId = "editDoc" + Model.Id;
    var postPermission = Permissions.PostDocs;
    var editPermission = Permissions.EditAnyDoc;
    var sortPermission = Permissions.SortAnyDoc;
    var deletePermission = Permissions.DeleteAnyDoc;
    var restorePermission = Permissions.RestoreAnyDoc;
    if (base.CurrentUser != null)
    {
        editPermission =
            Model.CreatedUserId == base.CurrentUser.Id
                ? Permissions.EditOwnDocs
                : Permissions.EditAnyDoc;
        sortPermission =
            Model.CreatedUserId == base.CurrentUser.Id
                ? Permissions.SortOwnDocs
                : Permissions.SortAnyDoc;
        deletePermission =
            Model.CreatedUserId == base.CurrentUser.Id
                ? Permissions.DeleteOwnDocs
                : Permissions.DeleteAnyDoc;
        restorePermission =
            Model.CreatedUserId == base.CurrentUser.Id
                ? Permissions.RestoreOwnDocs
                : Permissions.RestoreAnyDoc;
    }

}

@if (Model.IsPrivate || Model.IsHidden || Model.IsSpam || Model.IsDeleted)
{
    <div class="float-right mr-1" style="white-space: nowrap;">
        @if (Model.IsPrivate)
        {
            if (Model.CreatedUserId == base.CurrentUser?.Id)
            {
                <span class="badge badge-warning" data-toggle="tooltip" title="@T["This doc is private and only visible as you are the doc author"]">@T["P"]</span>
            }
            else
            {
                <span class="badge badge-warning" data-toggle="tooltip" title="@T["This doc is private and only visible as you have permission to view private docs"]">@T["P"]</span>
            }
        }
        @if (Model.IsHidden)
        {
            <span  class="badge badge-primary" data-toggle="tooltip" title="@T["This doc is hidden and only visible as you have permission to view hidden docs"]">@T["H"]</span>
        }
        @if (Model.IsSpam)
        {
            <span class="badge badge-info" data-toggle="tooltip" title="@T["This doc has been flagged as SPAM and is only visible as you have permission to view docs flagged as SPAM"]">@T["S"]</span>
        }
        @if (Model.IsDeleted)
        {
            <span class="badge badge-danger" data-toggle="tooltip" title="@T["This doc has been deleted and is only visible as you have permission to view deleted docs"]">@T["D"]</span>
        }
    </div>
}

<div class="tree-right">
    <div class="dropdown float-right">
        <a class="btn btn-sm dropdown-toggle dropdown-toggle-no-caret text-muted" href="#" id="@dropdownId" role="button" data-toggle="dropdown" data-provide="tooltip" title="@T["Edit"]" aria-haspopup="true" data-display="static" aria-expanded="false">
            <i class="fa fa-ellipsis-h"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="@dropdownId">
            <div class="min-w-200 max-h-250 overflow-auto">
                <authorize asp-permission="@editPermission.Name">
                    <authorize-success>
                        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Edit" asp-route-opts.id="@Model.Id" asp-route-opts.alias="@Model.Alias" class="dropdown-item">
                            @T["Edit"]
                        </a>
                    </authorize-success>
                </authorize>
                <authorize asp-permission="@postPermission.Name">
                    <authorize-success>
                        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Create" asp-route-categoryId="@Model.CategoryId" asp-route-parentId="@Model.Id" class="dropdown-item">
                            @T["Add Child"]
                        </a>
                    </authorize-success>
                </authorize>
                <authorize asp-permission="@sortPermission.Name">
                    <authorize-success>
                        <div class="dropdown-divider"></div>
                        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="MoveUp" asp-route-id="@Model.Id" class="dropdown-item">
                            @T["Move Up"]
                        </a>
                        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="MoveDown" asp-route-id="@Model.Id" class="dropdown-item">
                            @T["Move Down"]
                        </a>
                        <div class="dropdown-divider"></div>
                        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="MoveToTop" asp-route-id="@Model.Id" class="dropdown-item">
                            @T["Move To Top"]
                        </a>
                        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="MoveToBottom" asp-route-id="@Model.Id" class="dropdown-item">
                            @T["Move To Bottom"]
                        </a>
                        <div class="dropdown-divider"></div>
                    </authorize-success>
                </authorize>
                @if (Model.IsDeleted)
                {
                    <authorize asp-permission="@restorePermission.Name">
                        <authorize-success>
                            <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Restore" asp-route-id="@Model.Id" class="dropdown-item dropdown-item-success">
                                @T["Restore Doc"]
                            </a>
                        </authorize-success>
                    </authorize>
                }
                else
                {
                    <authorize asp-permission="@deletePermission.Name">
                        <authorize-success>
                            <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Delete" asp-route-id="@Model.Id" class="dropdown-item dropdown-item-danger">
                                @T["Delete"]
                            </a>
                        </authorize-success>
                    </authorize>
                }
            </div>
        </div>
    </div>
</div>
