@model Doc
@{
    var dropdownId = "editDoc" + Model.Id;
}

<div class="dropdown float-right">
    <a class="btn btn-sm dropdown-toggle dropdown-toggle-no-caret text-muted" href="#" id="@dropdownId" role="button" data-toggle="dropdown" data-provide="tooltip" title="@T["Edit"]" aria-haspopup="true" data-display="static" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="@dropdownId">
        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Edit" asp-route-id="@Model.Id" asp-route-alias="@Model.Alias" class="dropdown-item">
            @T["Edit Doc"]
        </a>
        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Create" asp-route-parentId="@Model.Id" class="dropdown-item">
            @T["Add Child"]
        </a>
        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="MoveUp" asp-route-id="@Model.Id" class="dropdown-item">
            @T["Move Up"]
        </a>
        <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="MoveDown" asp-route-id="@Model.Id" class="dropdown-item">
            @T["Move Down"]
        </a>
        <div class="dropdown-divider"></div>
        @if (Model.IsDeleted)
        {
            <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Restore" asp-route-id="@Model.Id" class="dropdown-item dropdown-item-success">
                @T["Restore Doc"]
            </a>
        }
        else
        {
            <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Delete" data-provide="confirm" asp-route-id="@Model.Id" class="dropdown-item dropdown-item-danger">
                @T["Delete Doc"]
            </a>
        }
    </div>
</div>


                    