@model AggregatedResult<string>
@{
    var labels = Model?.SerializeLabels() ?? "[]";
    var data = Model?.SerializeCounts() ?? "[]";
    var chartId = "pageViewsByRoleChart";
}

<card>
    <card-body>
        
        <div class="chart chart-with-stats" style="height: 215px;">
            <div class="text">
                <h5 class="text-primary">@Model?.Total()</h5>
                <span class="text-muted">
                    @T["Views By Role"]
                </span>
            </div>
            <canvas id="@chartId"></canvas>
        </div>

    </card-body>
</card>


<script section="Footer">

    if (typeof window.$.Plato.Reports === "undefined") {
        throw new Error("$.Plato.Reports Required");
    }

    if (typeof window.$.Plato.Charts === "undefined") {
        throw new Error("$.Plato.Charts Required");
    }

    $(function (win, doc, $) {

        "use strict";

        var app = win.$.Plato,
            charts = win.$.Plato.Charts;

        app.ready(function() {


            var data = @Html.Raw(data),
                randomColors = charts.randomColors(data.length);

            charts.initDoughnut("@chartId",  {
                labels: @Html.Raw(labels),
                datasets: [
                    {
                        fill: true,
                        borderWidth: 0,
                        lineWidth: 0,
                        pointRadius: 0,
                        pointHoverRadius: 0,
                        backgroundColor: randomColors.backgroundColors,
                        borderColor: randomColors.borderColors,
                        hoverBackgroundColor: randomColors.hoverBackgroundColors,
                        data: data
                    }
                ]
            });


        });


    }(window, document, jQuery));

</script>