@using Microsoft.AspNetCore.Routing
@using Plato.Internal.Data.Abstractions
@model TopicIndexViewModel

<card enabled="@Model.Options.EnableCard" class="card card-body-flush">
    <card-title>
        <h6 class="card-title float-left">@T["Topics"]</h6>
        <ul class="nav navbar p-0 float-right">
            <li class="nav-item dropdown">
                <a class="nav-link text-muted dropdown-toggle" href="#" id="filterDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @T["Filter"]
                </a>
                <div class="dropdown-arrow"></div>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterDropDown">
                    @foreach (var option in Model.Filters)
                    {
                        var routeValues = new RouteValueDictionary(ViewContext.RouteData.Values)
                        {
                            ["opts.sort"] = Model.Options.Sort,
                            ["opts.order"] = Model.Options.Order,
                            ["opts.filter"] = option.Value
                        };
                        if (option.Text == "-")
                        {
                            <div class="dropdown-divider"></div>
                        }
                        else
                        {
                            var iconCss = option.Value == Model.Options.Filter ? "fal fa-fw fa-check" : "fal fa-fw";
                            <a class="dropdown-item px-2" href="@GetRouteUrl(routeValues)">
                                <i class="@iconCss"></i>
                                @T[option.Text]
                            </a>
                        }
                        
                    }
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-muted dropdown-toggle" href="#" id="sortByDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @T["Sort By"]
                </a>
                <div class="dropdown-arrow"></div>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortByDropdown">
                    @foreach (var option in Model.SortColumns)
                    {
                        var routeValues = new RouteValueDictionary(ViewContext.RouteData.Values)
                        {
                            ["opts.sort"] = option.Value
                        };
                        if (Model.Options.Order != OrderBy.Desc)
                        {
                            if (!routeValues.ContainsKey("opts.order"))
                            {
                                routeValues.Add("opts.order", Model.Options.Order);
                            }
                        }
                        var iconCss = option.Value == Model.Options.Sort ? "fal fa-fw fa-check" : "fal fa-fw";
                        <a class="dropdown-item px-2" href="@GetRouteUrl(routeValues)">
                            <i class="@iconCss"></i>
                            @T[option.Text]
                        </a>
                    }
                    <div class="dropdown-divider"></div>
                    @foreach (var option in Model.SortOrder)
                    {
                        var routeValues = new RouteValueDictionary(ViewContext.RouteData.Values)
                        {
                            ["opts.sort"] = Model.Options.Sort,
                            ["opts.order"] = option.Value
                        };
                        var iconCss = option.Value == Model.Options.Order ? "fal fa-fw fa-check" : "fal fa-fw";
                        <a class="dropdown-item px-2" href="@GetRouteUrl(routeValues)">
                            <i class="@iconCss"></i>
                            @T[option.Text]
                        </a>
                    }
                </div>
            </li>
        </ul>
    </card-title>
    <card-body>
        
        @if (Model.Results != null)
        {
            var offset = Model.Pager.PageSize * Model.Pager.Page - Model.Pager.PageSize + 1;
            <ul data-provide="infiniteScroll"
                data-infinite-scroll-url="@Model.Options.Scroller.Url"
                data-infinite-scroll-offset="@offset"
                data-infinite-scroll-selected-offset="@Model.Options.Scroller.SelectedOffset"
                data-infinite-scroll-page="@Model.Pager.Page"
                data-infinite-scroll-total-pages="@Model.Pager.TotalPages"
                class="list-group list-group-flush list-group-hover">
                <li class="infinite-scroll-loader" data-type="previous"></li>
                @foreach (var topic in Model.Results.Data)
                {
                    <li data-infinite-scroll-page="@Model.Pager.Page" class="list-group-item list-group-item-action p-0">
                        @await DisplayAsync(new View("TopicListItem", new
                        {
                            model = new TopicListItemViewModel()
                            {
                                Topic = topic,
                                Offset = offset++,
                                SelectedOffset = Model.Options.Scroller.SelectedOffset
                            }
                        }))
                    </li>
                }
                <li class="infinite-scroll-loader" data-type="next"></li>
            </ul>
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    @T["No topics found"]
                </li>
            </ul>
        }
    </card-body>
</card>

@if (Model.Pager.Enabled && !Model.Options.Scroller.Enabled)
{
    <div class="mt-4 mb-4">
        <pager model="@Model.Pager"></pager>
    </div>
}

