@using System.Data.SqlTypes
@using Plato.Internal.Data.Abstractions
@model SearchSettingsViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["General"]</h6>
    </card-title>
    <card-body>
        
        <div class="form-group">
        
            <label asp-for="SearchType" class="col-form-label font-weight-bold">@T["Search Type"]</label>
            <span asp-validation-for="SearchType" class="text-danger"></span>
            <select class="form-control"
                    asp-for="SearchType"
                    asp-items="@Model.AvailableSearchTypes"></select>
      
        </div>
        
        @if (Model.SearchType != SearchTypes.Tsql)
        {

            <div class="form-group">

                <strong>@T["Catalog Settings"]</strong><br/>

                @if (Model.Catalogs != null)
                {
                    
                    @foreach (var catalog in Model.Catalogs)
                     {
                         <span>
                             @catalog.Name
                         </span>
                     }
                }
                else
                {
                    <spam>
                        @T["No catalog has yet."]]
                        <a href="#" class="btn btn-primary">
                            @T["Create Catalog"]
                        </a>
                    </spam>
                }

            </div>
        }

      

    </card-body>
</card>

<card class="card mt-4">
    <card-footer>
        <button class="btn btn-primary" type="submit">@T["Save"]</button>
    </card-footer>
</card>