@using Plato.Internal.Data.Abstractions
@model SearchSettingsViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Search Method"]</h6>
    </card-title>
    <card-body>

        <div class="form-group">
            
            <span asp-validation-for="SearchType" class="text-danger"></span>
            <select class="form-control"
                    asp-for="SearchType"
                    asp-items="@Model.AvailableSearchTypes"></select>

        </div>


    </card-body>
</card>

@if (Model.SearchType != SearchTypes.Tsql)
{

    <card class="card card-body-flush">
        <card-title>
            <h6 class="card-title">@T["Full Text Catalog"]</h6>
        </card-title>
        <card-body>
            
            @if (Model.Catalogs != null)
            {
                <ul class="list-group list-group-flush list-group-hover">
                    @foreach (var catalog in Model.Catalogs)
                    {
                        <li class="list-group-item list-group-item-action">
                            <a asp-route-action="DeleteCatalog" class="btn btn-danger float-right ml-2">
                                @T["Delete"]
                            </a>
                            <a href="#" class="btn btn-primary float-right">
                                @T["Rebuild"]
                            </a>
                            <strong>@catalog.Name</strong>
                        </li>
                    }
                </ul>
            }
            else
            {
                <spam>
                    @T["No catalog has been created yet."]]
                    <a href="#" class="btn btn-primary">
                        @T["Create Catalog"]
                    </a>
                </spam>
            }
            
        </card-body>
    </card>

    <card>
        <card-title>
            <h6 class="card-title">@T["Full Text Indexes"]</h6>
        </card-title>
        <card-body>
            
            @if (Model.Indexes != null)
            {
            <ul class="list-group list-group-flush list-group-hover">
                @foreach (var index in Model.Indexes)
                {
                    <li class="list-group-item list-group-item-action">
                        <a asp-route-action="DeleteIndex" asp-route-tableName="@index.TableName" asp-route-columnName="@index.ColumnName" class="btn btn-danger float-right ml-2">
                            @T["Delete"]
                        </a>
                        <a href="#" class="btn btn-primary float-right">
                            @T["Rebuild"]
                        </a>
                        <span class="text-muted">@index.TableName</span>.<strong>@index.ColumnName</strong><br />
                    </li>
                }
            </ul>
            }
            else
            {
                <p>
                    <a href="#" class="btn btn-primary">
                        @T["Create Indexes"]
                    </a>
                </p>
            }
        
        </card-body>
    </card>

}

<card class="card mt-4">
    <card-footer>
        <button class="btn btn-primary" type="submit">@T["Save"]</button>
    </card-footer>
</card>