@using Plato.Internal.Data.Abstractions
@model SearchSettingsViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Search Method"]</h6>
    </card-title>
    <card-body>

        <div class="form-group">

            <span asp-validation-for="SearchType" class="text-danger"></span>
            <select class="form-control"
                    asp-for="SearchType"
                    asp-items="@Model.AvailableSearchTypes"></select>

        </div>

        @if (Model.SearchType != SearchTypes.Tsql && Model.Catalogs == null)
        {
            <div class="alert alert-secondary">
                <p>
                    <i class="fal fa-database"></i>
                    <strong>@T["You need to create a catalog"]</strong>
                </p>
                <p>
                    @T["Full text search is selected but no catalog has been created yet. If you have full text search installed & enabled within your SQL Server database use the link below to create your catalog and all necessary indexes..."]
                </p>
                <p>
                    <a asp-route-action="CreateCatalog" class="btn btn-sm btn-primary">@T["Create catalog & indexes"]</a>
                </p>
            </div>
        }

    </card-body>
</card>

@if (Model.SearchType != SearchTypes.Tsql && Model.Catalogs != null)
{

    <card class="card card-body-flush">
        <card-title>
            <h6 class="card-title">@T["Catalog"]</h6>
        </card-title>
        <card-body>
            <ul class="list-group list-group-flush">
                @foreach (var catalog in Model.Catalogs)
                {
                    <li class="list-group-item">
                        <a asp-route-action="DeleteCatalog" class="btn btn-danger float-right ml-2" data-toggle="tooltip" title="@T["Delete the catalog and all installed indexes"]">
                            @T["Delete"]
                        </a>
                        <a asp-route-action="RebuildCatalog" class="btn btn-primary float-right" data-toggle="tooltip" title="@T["Rebuild existing indexes and search for new indexes"]">
                            @T["Rebuild"]
                        </a>
                        <strong>@catalog.Name</strong>
                    </li>
                }
            </ul>
        </card-body>
    </card>
    
    @if (Model.Indexes != null)
    {
        <card class="card card-body-flush">
            <card-title>
                <h6 class="card-title">@T["Installed Indexes"]</h6>
            </card-title>
            <card-body>
                <ul class="list-group list-group-flush">
                    @foreach (var index in Model.Indexes)
                    {
                        <li class="list-group-item">
                            <span class="text-muted">@index.TableName</span>.<strong>@index.ColumnName</strong><br />
                        </li>
                    }
                </ul>
            </card-body>
        </card>
    }
    else
    {
        <card>
            <card-title>
                <h6 class="card-title">@T["No Indexes"]</h6>
            </card-title>
            <card-body>
                <span class="text-muted">
                    @T["No full text indexes are installed. It could be features have been removed or you've not installed any features that create indexes yet. Use the \"Rebuild\" button above to the right of your catalog name to check for new indexes."]
                </span>

            </card-body>
        </card>
    }
    
}

<card class="card mt-4">
    <card-footer>
        <button class="btn btn-primary" type="submit">@T["Save"]</button>
    </card-footer>
</card>