@model EntityIndexViewModel<Entity>

@if (!String.IsNullOrEmpty(Model.Options.Search))
{
    <h4>@T["Search Results"]</h4>
    <span class="text-muted">@T["Results for the search term "] <strong>@Model.Options.Search</strong></span>
}
else
{
    <h4>@T["Search"]</h4>
    <span class="text-muted">@T["Search by keywords below."]</span>
}
<hr />


