@model EntityIndexViewModel<Entity>

@if (!String.IsNullOrEmpty(Model.Options.Search))
{
    @await DisplayAsync(new View("SearchList", new
    {
        options = @Model.Options,
        pager = @Model.Pager
    }))
}
else
{
    <card>
        <card-title>
            <h6 class="card-title">
                @T["Search"]
            </h6>
        </card-title>
        <card-body>

            <form class="form-inline ml-2" asp-route-controller="Home" asp-route-action="Index" method="get" enctype="multipart/form-data">
                <div class="w-100 position-relative min-w-250">
                    <div class="search-input-group">
                        <input class="form-control" name="opts.search" value="@Model.Options.Search" type="search" placeholder="@T["Search for keywords..."]" aria-label="Search" autofocus />
                        <button class="btn btn-primary" type="submit">
                            <i class="fal fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>


        </card-body>
    </card>
}

<div class="modal fade" id="searchHelp" tabindex="-1" role="dialog" aria-labelledby="searchHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="searchHelpTitle">
                    @T["Search Help"]
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto">

                <h6>abc def</h6>
                <p class="text-muted">
                    Returns results that contain both <strong>abc</strong> and <strong>def</strong>.
                </p>

                <h6>abc and def</h6>
                <p class="text-muted">
                    Returns results that contain both <strong>abc</strong> and <strong>def</strong>.
                </p>

                <h6>abc or def</h6>
                <p class="text-muted">
                    Returns results that contain <strong>abc</strong> or <strong>def</strong>.
                </p>

                <h6>abc and (def or ghi)</h6>
                <p class="text-muted">
                    Returns results that contain <strong>abc</strong> and <strong>def</strong> or <strong>ghi</strong>.
                </p>

                <h6>"abc"</h6>
                <p class="text-muted">
                    Returns results that contain the exact term <strong>abc</strong>.
                </p>

                <h6>+abc</h6>
                <p class="text-muted">
                    Returns results that contain the exact term <strong>abc</strong>.
                </p>

                <h6>-abc</h6>
                <p class="text-muted">
                    Returns results that don't contain <strong>abc</strong>.
                </p>

                <h6>&lt;abc def&gt;</h6>
                <p class="text-muted">
                    Returns results that contain <strong>def</strong> near <strong>abc</strong>.
                </p>

                <h6>~abc</h6>
                <p class="text-muted">
                    Returns results that contain <strong>abc</strong> and thesaurus terms defined for <strong>abc</strong>.
                </p>
                
                <hr/>
                <h6>Verbs</h6>
                <p class="text-muted">
                    When you search for a term we'll also search for all verbs of your term. For example if you search for <strong>drive</strong> you will also see results that contain the terms <strong>driven</strong>, <strong>driver</strong>, <strong>driving</strong>, <strong>drives</strong>, <strong>drove</strong> etc. To disable this perform an exact search by wrapping your term within double quotes or by using the plus operator, for example <strong>"drive"</strong> or <strong>+drive</strong>.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>