@model EditEntityViewModel

<div class="float-right">
    @if (Model.Id > 0)
    {
        <a class="btn btn-lg btn-secondary" asp-route-action="Display" asp-route-opts.id="@Model.Id" asp-route-opts.alias="@Model.Alias">@T["Cancel"]</a>
    }
    else
    {
        <a class="btn btn-lg btn-secondary" asp-route-action="Index">@T["Cancel"]</a>
    }
    @if (Model.Id > 0)
    {
        <button class="btn btn-lg btn-primary" type="submit">@T["Update Idea"]</button>
    }
    else
    {
        <button class="btn btn-lg btn-primary" type="submit">@T["Submit Idea"]</button>
    }
</div>


