@model DeniedViewModel
@{
    ViewData["Title"] = "Access Denied";
}

<h4>@T["Access Denied"]</h4>
<div class="row">
    <div class="col-md-6">
        @if (this.CurrentUser == null)  {
            <p>
                @T["You must be logged in to access the requested page."]
            </p>
            <p>
                <a class="btn btn-primary" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <i class="fal fa-lock"></i>
                    @T["Login"]
                </a>
            </p>
        } 
        else 
        {
            <p>
                @T["Sorry but you don't have permission to access the requested page."]
            </p>
            <p>
                <a class="btn btn-primary" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                    <i class="fal fa-home"></i>
                    @T["Return Home"]
                </a>
            </p>
        }
    </div>
</div>