@model CategoryListItemViewModel<Category>
@{
    var details = Model.Category.GetOrCreate<CategoryDetails>();
    var childBgColor = !String.IsNullOrEmpty(Model.Category.BackColor) ? Model.Category.BackColor : "#666";
    var childForeColor = !String.IsNullOrEmpty(Model.Category.ForeColor) ? Model.Category.ForeColor : "#fff";
    var buttonText = details.TotalTopics == 1
        ? "article"
        : "articles";
}


@if (Model.Options.EnableEdit)
{
    <a asp-route-area="Plato.Articles.Categories" asp-route-controller="Admin" asp-route-action="Index" asp-route-id="@Model.Category.Id" asp-route-opts.alias="@Model.Category.Alias" class="list-group-item-action d-block p-3 text-center">
        <div class="p-3">
            @if (!String.IsNullOrEmpty(Model.Category.IconCss))
            {

                <span class="channel-icon channel-icon-md" style="background-color: @childBgColor; color: @childForeColor">
                    <i class="@Model.Category.IconCss"></i>
                </span>

            }
            else
            {

                <span class="channel-icon channel-icon-md bg-info text-light">
                    <i class="fal fa-folder"></i>
                </span>

            }
            <h6 class="d-block mt-2">
                @Model.Category.Name
            </h6>
            @if (!String.IsNullOrEmpty(Model.Category.Description))
            {
                <div class="text-muted">
                    @Model.Category.Description
                </div>
            }
            else
            {
                <div class="text-muted">
                    @T["No description provided"]
                </div>
            }

        </div>
    </a>
}
else
{
    <a asp-route-area="Plato.Articles.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-opts.categoryId="@Model.Category.Id" asp-route-opts.alias="@Model.Category.Alias" class="list-group-item-action d-block p-3 text-center">
        <div class="p-3">
            @if (!String.IsNullOrEmpty(Model.Category.IconCss))
            {

                <div class="channel-icon channel-icon-md" style="background-color: @childBgColor; color: @childForeColor">
                    <i class="@Model.Category.IconCss"></i>
                </div>

            }
            else
            {

                <div class="channel-icon channel-icon-md bg-info text-light">
                    <i class="fal fa-folder"></i>
                </div>

            }
            <h6 class="d-block mt-2">
                @Model.Category.Name
            </h6>
         
            <div class="btn btn-secondary">
                @details.TotalTopics.ToPrettyInt() @T[buttonText]
            </div>
         
        </div>
    </a>
}



<div class="row" style="display: none;">

    @if (!String.IsNullOrEmpty(Model.Category.IconCss))
    {
        <div class="col-1 text-center">
            <span class="channel-icon channel-icon-md" style="background-color: @childBgColor; color: @childForeColor">
                <i class="@Model.Category.IconCss"></i>
            </span>
        </div>
    }
    else
    {
        <div class="col-1 text-center">
            <span class="channel-icon channel-icon-md bg-info text-light">
                <i class="fal fa-folder"></i>
            </span>
        </div>
    }

    <div class="col-7 pl-0">

        @if (Model.Options.EnableEdit)
        {
            <a asp-route-area="Plato.Articles.Categories" asp-route-controller="Admin" asp-route-action="Index" asp-route-id="@Model.Category.Id" asp-route-opts.alias="@Model.Category.Alias" class="font-weight-bold">
                @Model.Category.Name
            </a>
        }
        else
        {
            <a asp-route-area="Plato.Articles.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-opts.categoryId="@Model.Category.Id" asp-route-opts.alias="@Model.Category.Alias" class="font-weight-bold">
                @Model.Category.Name
            </a>
        }

        @if (!String.IsNullOrEmpty(Model.Category.Description))
        {
            <div class="text-muted">
                @Model.Category.Description
            </div>
        }
        else
        {
            <div class="text-muted">
                @T["No description provided"]
            </div>
        }

        @if (Model.Category.Children.Any())
        {
            <ul class="list-inline">
                @foreach (var subchannel in Model.Category.Children)
                {
                    <li class="float-left mr-2">
                        @if (Model.Options.EnableEdit)
                        {
                            <a asp-route-area="Plato.Articles.Categories" asp-route-controller="Admin" asp-route-action="Index" asp-route-id="@subchannel.Id">
                                @subchannel.Name
                            </a>
                        }
                        else
                        {
                            <a asp-route-area="Plato.Articles.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-id="@subchannel.Id">
                                @subchannel.Name
                            </a>
                        }
                    </li>
                }
            </ul>
        }

    </div>

    <div class="col-4 text-right">

        @if (details.TotalTopics > 0)
        {
            <div class="float-right ml-2">
                <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@details.LastTopic.CreatedBy.Id" asp-route-opts.alias="@details.LastTopic.CreatedBy.Alias">
                    <avatar data-toggle="tooltip" title="@details.LastTopic.CreatedBy.DisplayName" class="avatar" url="@details.LastTopic.CreatedBy.Avatar.Url" />
                </a>
            </div>
            <div class="float-right">
                <ol class="list-inline text-muted">
                    <li class="list-inline-item">
                        <span title="@T["Articles"]" data-toggle="tooltip">
                            @details.TotalTopics.ToPrettyInt() <i class="fal fa-comment-alt-lines"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span title="@T["Comments"]" data-toggle="tooltip">
                            @details.TotalReplies.ToPrettyInt() <i class="fal fa-comment-alt fa-flip-horizontal"></i>
                        </span>
                    </li>
                </ol>

                <a asp-route-area="Plato.Articles" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@details.LastTopic.Id" asp-route-opts.alias="@details.LastTopic.Alias">
                    <date utc="@details.LastTopic.CreatedDate"></date>
                </a>
            </div>
        }
    </div>

</div>

