@using Microsoft.AspNetCore.Routing
@using Plato.Internal.Data.Abstractions
@model SearchIndexViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title float-left">@T["Results"]</h6>
        <ul class="nav navbar p-0 float-right">
            <li class="nav-item dropdown">
                <a class="nav-link text-muted dropdown-toggle" href="#" id="filterDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @T["Filter"]
                </a>
                <div class="dropdown-arrow"></div>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterDropDown">
                    @foreach (var option in Model.Filters)
                    {
                        var routeValues = new RouteValueDictionary(ViewContext.RouteData.Values)
                        {
                            ["opts.sort"] = Model.Options.Sort,
                            ["opts.order"] = Model.Options.Order,
                            ["opts.filter"] = option.Value
                        };
                        if (option.Text == "-")
                        {
                            <div class="dropdown-divider"></div>
                        }
                        else
                        {
                            var iconCss = option.Value == Model.Options.Filter ? "fal fa-fw fa-check" : "fal fa-fw";
                            <a class="dropdown-item px-2" href="@GetRouteUrl(routeValues)">
                                <i class="@iconCss"></i>
                                @T[option.Text]
                            </a>
                        }

                    }
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-muted dropdown-toggle" href="#" id="sortByDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @T["Sort By"]
                </a>
                <div class="dropdown-arrow"></div>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortByDropdown">
                    @foreach (var option in Model.SortColumns)
                    {
                        var routeValues = new RouteValueDictionary(ViewContext.RouteData.Values)
                        {
                            ["opts.sort"] = option.Value
                        };
                        if (Model.Options.Order != OrderBy.Desc)
                        {
                            routeValues.Add("opts.order", Model.Options.Order);
                        }
                        var iconCss = option.Value == Model.Options.Sort ? "fal fa-fw fa-check" : "fal fa-fw";
                        <a class="dropdown-item px-2" href="@GetRouteUrl(routeValues)">
                            <i class="@iconCss"></i>
                            @T[option.Text]
                        </a>
                    }
                    <div class="dropdown-divider"></div>
                    @foreach (var option in Model.SortOrder)
                    {
                        var routeValues = new RouteValueDictionary(ViewContext.RouteData.Values)
                        {
                            ["opts.sort"] = Model.Options.Sort,
                            ["opts.order"] = option.Value
                        };
                        var iconCss = option.Value == Model.Options.Order ? "fal fa-fw fa-check" : "fal fa-fw";
                        <a class="dropdown-item px-2" href="@GetRouteUrl(routeValues)">
                            <i class="@iconCss"></i>
                            @T[option.Text]
                        </a>
                    }
                </div>
            </li>
        </ul>
    </card-title>
    <card-body>
        @if (Model.Results != null)
        {
            <ul class="list-group list-group-flush list-group-hover">
                @foreach (var entity in Model.Results.Data)
                {
                    <li class="list-group-item  list-group-item-action pt-4">
                        @await DisplayAsync(new View("SearchListItem", new
                        {
                            entity = entity,
                            viewOpts = Model.Options
                        }))
                    </li>

                }
            </ul>
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    <h6>@T["No results found"]</h6>
                </li>
            </ul>
        }
    </card-body>
</card>

<div class="mt-4 mb-4">
    <pager model="@Model.Pager"></pager>
</div>
