@model ModeratorIndexViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Moderators"]</h6>
    </card-title>
    <card-body>
        @if (Model.CategorizedModerators != null)
        {
            @foreach (var user in Model.CategorizedModerators.Keys.OrderBy(u => u.DisplayName))
             {
                 var collapsableId = "user-" + user.Id;
                 <ul class="list-group list-group-flush list-group-hover">
                    <li class="list-group-item list-group-item-action">
                     
                         <div role="button" class="btn btn-expand" title="@T["Channels"]" data-toggle="collapse" href="#@collapsableId" aria-expanded="false"  aria-controls="@collapsableId">
                             <i class="fal fa-chevron-right"></i>
                         </div>
                         
                         <h6 class="d-inline-block">
                             <avatar class="avatar" user-id="@user.Id" />
                             @user.DisplayName
                         </h6>

                         <span class="text-muted">
                             @@@user.UserName
                         </span>

                     </li>
                 </ul>
                 <div id="@collapsableId" class="collapse">
                     <ul class="list-group list-group-flush list-group-hover">
                         @foreach (var moderator in Model.CategorizedModerators[user])
                         {
                             <li class="list-group-item list-group-item-action">
                                 @await DisplayAsync(new View("ModeratorListItem", new
                                 {
                                     moderator = moderator
                                 }))
                             </li>
                         }
                     </ul>
                 </div>
             }
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    @T["No moderators found"]
                </li>
            </ul>
        }
    </card-body>
</card>

<script section="Footer">
    $(document).ready(function() {
        $(".btn-expand").click(function () {
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
            } else {
                $(this).addClass("active");
            }
        });
    });
</script>



