@model ModeratorIndexViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Moderators"]</h6>
    </card-title>
    <card-body>
        @if (Model.CategorizedModerators != null)
        {
            @foreach (var user in Model.CategorizedModerators.Keys)
             {
                 var collapsableId = "user-" + user.Id;

                 <ul class="list-group list-group-flush list-group-hover">
                     <li class="list-group-item">
                         
                         <a href="#" class="btn btn-danger float-right">
                             <i class="fal fa-trash"></i>
                             Delete
                         </a>

                         <a class="btn" data-toggle="collapse" href="#@collapsableId" aria-expanded="false"  aria-controls="@collapsableId">
                             <i class="fal fa-chevron-right"></i>
                         </a>

                         <h6 class="d-inline-block">
                             <avatar class="avatar" user-id="@user.Id" />
                             @user.DisplayName
                         </h6>

                         <span class="text-muted">
                             @@@user.UserName
                         </span>

                     </li>
                 </ul>
                 <div id="@collapsableId" class="collapse">
                     <ul class="list-group list-group-flush list-group-hover">
                         @foreach (var moderator in Model.CategorizedModerators[user])
                         {
                             <li class="list-group-item">
                                 @await DisplayAsync(new View("ModeratorListItem", new
                                 {
                                     moderator = moderator
                                 }))
                             </li>
                         }
                     </ul>
                 </div>
             }
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    <h6>@T["No moderators found"]</h6>
                </li>
            </ul>
        }
    </card-body>
</card>



