@model ModeratorIndexViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Moderators"]</h6>
    </card-title>
    <card-body>

        <fieldset>
            @if (Model.CategorizedModerators != null)
            {
                @foreach (var user in Model.CategorizedModerators.Keys)
                {
                    <fieldset>

                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="col-12 bg-light">
                                        <h6 class="d-inline-block">
                                            <avatar class="avatar" user-id="@user.Id" />
                                            @user.DisplayName
                                        </h6>
                                        <span class="text-muted">
                                            @@@user.UserName
                                        </span>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @foreach (var moderator in Model.CategorizedModerators[user])
                                {
                                    <tr>
                                        <td class="col-12">
                                            @await DisplayAsync(new View("ModeratorListItem", new
                                            {
                                                moderator = moderator
                                            }))
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </fieldset>
                }
            }
            else
            {
                <ul class="list-group list-group-flush list-group-hover">
                    <li class="list-group-item">
                        <h6>@T["No moderators found"]</h6>
                    </li>
                </ul>
            }
        </fieldset>



        @*@if (Model.Moderators != null)
        {
            <ul class="list-group list-group-flush list-group-hover">
                @foreach (var moderator in Model.Moderators)
                {
                    <li class="list-group-item">

                        <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@moderator.Id" class="btn btn-secondary float-right">
                            <i class="fal fa-pencil"></i>
                            @T["Edit"]
                        </a>

                        <div class="float-right">
                            Channel
                        </div>

                        <h6 class="d-inline-block">
                            <avatar class="avatar" user-id="@moderator.UserId" />
                            <a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@moderator.Id" class="p-1 font-weight-bold">
                                @moderator.User.DisplayName
                            </a>
                        </h6>

                        <span class="text-muted">
                            @@@moderator.User.UserName
                        </span>


                    </li>
                }
            </ul>
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    <h6>@T["No moderators found"]</h6>
                </li>
            </ul>
        }*@
        
        

    </card-body>
</card>



