@model LabelIndexViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title d-inline">@T["Labels"]</h6>

        <ul class="nav nav-tabs card-header-tabs float-right" aria-label="Sort">
            <li class="nav-item"><a class="nav-link active" href="#">@T["Popular"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#">@T["New"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#">@T["Follows"]</a></li>
        </ul>

    </card-title>
    <card-body>
        @if (Model.Results != null)
        {
            <div class="list-group list-group-flush list-group-hover">
                <div class="row">
                    @foreach (var label in Model.Results.Data)
                    {
                        <div class="list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12">
                            @await DisplayAsync(new View("LabelListItem", new
                            {
                                model = new LabelListItemViewModel()
                                {
                                    Label = label
                                }
                            }))
                        </div>

                    }
                </div>
            </div>
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    @T["No labels found"]
                </li>
            </ul>
        }
    </card-body>
</card>

<div class="mt-4 mb-4">
    <pager model="@Model.Pager"></pager>
</div>
