@model EntityListItemViewModel<Entity>

@if (@Model.Entity.Relevance > 0)
{
    <span class="text-muted float-right" data-toggle="tooltip" title="@T["Relevance"]">@Model.Entity.Relevance%</span>
}

<a asp-route-area="@Model.Entity.ModuleId" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Entity.Id" asp-route-opts.alias="@Model.Entity.Alias" class="font-weight-bold">
    @Html.Raw(Model.Entity.Title.HighlightTerms(Model.Options.Search))
</a>
@if (Model.Entity.IsPinned)
{
    <span title="@T["This content is pinned and is probably important"]" data-toggle="tooltip" class="d-inline-block mx-1">
        <i class="fal fa-thumbtack"></i>
    </span>
}
@if (Model.Entity.IsLocked)
{
    <span title="@T["This content is locked and is not accepting new replies"]" data-toggle="tooltip" class="d-inline-block mx-1">
        <i class="fal fa-lock"></i>
    </span>
}

<div class="text-muted">
    @Html.Raw(Model.Entity.Abstract.HighlightTerms(Model.Options.Search))
</div>
<div>
    @if (Model.Entity.CreatedUserId > 0)
    {
        <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Entity.CreatedUserId" asp-route-opts.alias="@Model.Entity.CreatedBy.Alias">@Model.Entity.CreatedBy.DisplayName</a>
    }
    <date utc="@Model.Entity.CreatedDate" itemprop="createdDate" data-toggle="tooltip"/>
</div>


