@model EntityListItemViewModel<Entity>

<span class="text-muted float-right" data-toggle="tooltip" title="@T["Relevance"]">@Model.Entity.Relevance%</span>
<a asp-route-area="@Model.Entity.ModuleId" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Entity.Id" asp-route-opts.alias="@Model.Entity.Alias" class="font-weight-bold">
    @Html.Raw(Model.Entity.Title.HighlightTerms(Model.Options.Search))
</a>
<div class="text-muted">
    @Html.Raw(Model.Entity.Abstract.HighlightTerms(Model.Options.Search))
</div>
<div>
    @T["By"] <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.Entity.CreatedUserId" asp-route-opts.alias="@Model.Entity.CreatedBy.Alias">@Model.Entity.CreatedBy.DisplayName</a>,
    <date utc="@Model.Entity.CreatedDate" itemprop="createdDate" data-toggle="tooltip"/>
</div>


