@model FollowViewModel

<card>
    <card-title>
        @T["Follow"]
    </card-title>
    <card-body>
        
        @if (!Model.IsFollowing)
        {
            <div class="text-muted">
                @T[Model.FollowType.SubscribeDescription]
                <br /><br />
            </div>
            <button class="btn btn-block btn-primary" data-provide="follow-button" data-follow-type="@Model.FollowType.Name" data-subscribe-text="@T[Model.FollowType.SubscribeText]" data-unsubscribe-text="@T[Model.FollowType.UnsubscribeText]" data-action="subscribe" data-thing-id="@Model.EntityId" role="button">
                <i class="fal fa-bell"></i> 
                <span>
                    @T[Model.FollowType.SubscribeText]
                </span>
            </button>
        }
        else
        {
            <div class="text-muted">
                @T[Model.FollowType.UnsubscribeDescription]
                <br /><br />
            </div>
            <button class="btn btn-block btn-danger" data-provide="follow-button" data-follow-type="@Model.FollowType.Name" data-subscribe-text="@T[Model.FollowType.SubscribeText]" data-unsubscribe-text="@T[Model.FollowType.UnsubscribeText]" data-action="unsubscribe" data-thing-id="@Model.EntityId" role="button">
                <i class="fal fa-bell-slash"></i> 
                <span>
                    @T[Model.FollowType.UnsubscribeText]
                </span>
            </button>
        }


    </card-body>
</card>



