@model FollowViewModel

@if (!Model.IsFollowing)
{

    <button data-toggle="tooltip" title="@T[Model.FollowType.SubscribeDescription]" class="btn btn-primary" data-on-css="btn-danger" data-off-css="btn-primary" data-provide="follow-button" data-follow-type="@Model.FollowType.Name" data-subscribe-text="@T[Model.FollowType.SubscribeText]" data-unsubscribe-text="@T[Model.FollowType.UnsubscribeText]" data-action="subscribe" data-thing-id="@Model.ThingId" role="button">
        <i class="fal fa-bell"></i> 
        <span>
            @T[Model.FollowType.SubscribeText]
        </span>
    </button>
}
else
{
    <button data-toggle="tooltip" title="@T[Model.FollowType.UnsubscribeDescription]" class="btn btn-danger" data-on-css="btn-danger" data-off-css="btn-primary" data-provide="follow-button" data-follow-type="@Model.FollowType.Name" data-subscribe-text="@T[Model.FollowType.SubscribeText]" data-unsubscribe-text="@T[Model.FollowType.UnsubscribeText]" data-action="unsubscribe" data-thing-id="@Model.ThingId" role="button">
        <i class="fal fa-bell-slash"></i> 
        <span>
            @T[Model.FollowType.UnsubscribeText]
        </span>
    </button>
}



