@model LayoutViewModel
@{
    AddTitleSegment(T["Docs"]);
}

<div class="layout">
    <div class="layout-header layout-header-sticky">
        <div class="layout-header-content">
            @if (Model.Alerts != null)
            {
                <div class="layout-alerts">
                    <view model="@Model.Alerts"></view>
                </div>
            }
            @if (Model.Tools != null)
            {
                <div class="float-right layout-tools">
                    <view model="@Model.Tools" />
                </div>
            }
            @if (Model.Header != null)
            {
                <div class="layout-header-item">
                    <view model="@Model.Header" />
                </div>
            }
            @if (Model.Meta != null)
            {
                <div class="layout-meta">
                    <view model="@Model.Meta"></view>
                </div>
            }
        </div>
    </div>
    <div class="layout-body">
        @if (Model.SideBar != null)
        {
            <div class="row gutter-sm">
                <div class="col-lg-3 layout-sidebar layout-sidebar-sticky">
                    <div class="layout-sidebar-content">
                        
                        <div class="d-block navbar-expand-lg">
                            <a href="#" class="w-100 navbar-toggler p-0 border-0 bg-transparent" data-toggle="collapse" data-target="#sidebar-collapse" aria-controls="sidebar-collapse" aria-expanded="false" aria-label="Toggle navigation" role="button">
                                <span class="btn btn-block btn-primary mb-3">
                                    <i class="fal fa-bars"></i> @T["Table of contents"]
                                </span>
                            </a>
                     
                                <div class="navbar-collapse collapse" id="sidebar-collapse" role="navigation">
                                    @if (Model.SideBar != null)
                                    {
                                        <view model="@Model.SideBar"></view>
                                    }
                                </div>
                    
                        </div>
              
                    </div>
                </div>
                <div class="col-lg-9 layout-content">
                    @if (Model.Content != null)
                    {
                        <view model="@Model.Content"></view>
                    }
                </div>
            </div>
        }
        else
        {
            @if (Model.Content != null)
             {
                 <div class="layout-content">
                     <view model="@Model.Content"></view>
                 </div>
             }
        }
    </div>
    <div class="layout-footer">
        @if (Model.Actions != null)
        {
            <div class="float-right layout-actions">
                <view model="@Model.Actions" />
            </div>
        }
        @if (Model.Footer != null)
        {
            <div class="layout-footer-item">
                <view model="@Model.Footer"></view>
            </div>
        }
    </div>
</div>
